NodeRed/Flows/flows10.json
[{"id":"611d2ba5.389f94","type":"subflow","name":"Teclas Living Der","info":"","category":"Teclas","in":[],"out":[{"x":960,"y":140,"wires":[{"id":"ddc0a444.cd55f8","port":0}]},{"x":900,"y":240,"wires":[{"id":"2139b3c5.de180c","port":0}]},{"x":1100,"y":320,"wires":[{"id":"c0feff95.cf193","port":0}]},{"x":1140,"y":660,"wires":[{"id":"3d88b3aa.d7cd6c","port":0}]},{"x":920,"y":320,"wires":[{"id":"7f58764.5ff8288","port":0}]}],"env":[]},{"id":"e1138e2e.bcc34","type":"mqtt in","z":"611d2ba5.389f94","name":"Teclas Living Der 1 (49) (UTP Negro Naranja)","topic":"Arduino/PBLiving/out/Button/49/toggle","qos":"2","datatype":"auto","broker":"1ad27743.ce9fb9","x":430,"y":140,"wires":[["49bb0231.5423cc"]]},{"id":"1e86def4.62f8f1","type":"mqtt in","z":"611d2ba5.389f94","name":"Teclas Living Der 1 (47) (UTP Negro Naranja Claro)","topic":"Arduino/PBLiving/out/Button/47/toggle","qos":"2","datatype":"auto","broker":"1ad27743.ce9fb9","x":370,"y":240,"wires":[["251dac6d.613c74"]]},{"id":"ddc0a444.cd55f8","type":"function","z":"611d2ba5.389f94","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":140,"wires":[[]]},{"id":"2139b3c5.de180c","type":"function","z":"611d2ba5.389f94","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":240,"wires":[[]]},{"id":"5020374e.25b588","type":"mqtt in","z":"611d2ba5.389f94","name":"Teclas Living Der 1 (35) (UTP Negro Naranja Claro)","topic":"Arduino/PBLiving/out/Button/35/toggle","qos":"2","datatype":"auto","broker":"1ad27743.ce9fb9","x":250,"y":320,"wires":[["7f58764.5ff8288"]]},{"id":"7f58764.5ff8288","type":"function","z":"611d2ba5.389f94","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":320,"wires":[[]]},{"id":"7b4f0659.b9ec28","type":"mqtt in","z":"611d2ba5.389f94","name":"Encoder 0 (13)","topic":"Arduino/PBLiving/out/Encoder/0/value","qos":"2","datatype":"auto","broker":"1ad27743.ce9fb9","x":280,"y":420,"wires":[["5c9fdad1.e0a4e4"]]},{"id":"3c9c2a81.108fc6","type":"mqtt in","z":"611d2ba5.389f94","name":"Encoder 1 (14)","topic":"Arduino/PBLiving/out/Encoder/1/value","qos":"2","datatype":"auto","broker":"1ad27743.ce9fb9","x":320,"y":540,"wires":[["99cf7cac.7f194"]]},{"id":"fba26c2c.32ce9","type":"change","z":"611d2ba5.389f94","name":"","rules":[{"t":"set","p":"Pote1","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":420,"wires":[["c0feff95.cf193"]]},{"id":"251dac6d.613c74","type":"switch","z":"611d2ba5.389f94","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":240,"wires":[["2139b3c5.de180c"]]},{"id":"49bb0231.5423cc","type":"switch","z":"611d2ba5.389f94","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":140,"wires":[["ddc0a444.cd55f8"]]},{"id":"93e52afb.02aa18","type":"change","z":"611d2ba5.389f94","name":"","rules":[{"t":"set","p":"Pote2","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":560,"wires":[["3d88b3aa.d7cd6c"]]},{"id":"5c9fdad1.e0a4e4","type":"delay","z":"611d2ba5.389f94","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"24","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":500,"y":420,"wires":[["fba26c2c.32ce9","d4f546cd.ebdf88"]]},{"id":"99cf7cac.7f194","type":"delay","z":"611d2ba5.389f94","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"24","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":520,"y":540,"wires":[["93e52afb.02aa18","17267f05.d19c71"]]},{"id":"c0feff95.cf193","type":"change","z":"611d2ba5.389f94","name":"","rules":[{"t":"set","p":"NroEncoder","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":420,"wires":[[]]},{"id":"3d88b3aa.d7cd6c","type":"change","z":"611d2ba5.389f94","name":"","rules":[{"t":"set","p":"NroEncoder","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":640,"wires":[[]]},{"id":"d4f546cd.ebdf88","type":"ui_slider","z":"611d2ba5.389f94","name":"","label":"slider","tooltip":"","group":"f687a4d9.3b1578","order":5,"width":0,"height":0,"passthru":false,"outs":"all","topic":"","min":0,"max":"120","step":1,"x":670,"y":480,"wires":[["233d07c6.b7ac38","3e19ada3.3c4a02"]]},{"id":"17267f05.d19c71","type":"ui_slider","z":"611d2ba5.389f94","name":"","label":"slider","tooltip":"","group":"f687a4d9.3b1578","order":4,"width":0,"height":0,"passthru":false,"outs":"all","topic":"","min":0,"max":"120","step":1,"x":630,"y":620,"wires":[["f997c93f.667d78","ac45c04c.03031"]]},{"id":"f997c93f.667d78","type":"mqtt out","z":"611d2ba5.389f94","name":"","topic":"Arduino/PBLiving/out/Encoder/1/value","qos":"","retain":"","broker":"1ad27743.ce9fb9","x":870,"y":700,"wires":[]},{"id":"ac45c04c.03031","type":"mqtt out","z":"611d2ba5.389f94","name":"","topic":"Arduino/PBLiving/in/Encoder/1/VALUE","qos":"","retain":"","broker":"1ad27743.ce9fb9","x":870,"y":740,"wires":[]},{"id":"3e19ada3.3c4a02","type":"mqtt out","z":"611d2ba5.389f94","name":"","topic":"Arduino/PBLiving/in/Encoder/0/VALUE","qos":"","retain":"","broker":"1ad27743.ce9fb9","x":1150,"y":540,"wires":[]},{"id":"233d07c6.b7ac38","type":"mqtt out","z":"611d2ba5.389f94","name":"","topic":"Arduino/PBLiving/out/Encoder/0/value","qos":"","retain":"","broker":"1ad27743.ce9fb9","x":1150,"y":500,"wires":[]},{"id":"d8ec2413.71b388","type":"mqtt in","z":"611d2ba5.389f94","name":"Encoder 1 (14)","topic":"Arduino/PBLiving/in/Encoder/1/VALUE","qos":"0","datatype":"auto","broker":"1ad27743.ce9fb9","x":320,"y":640,"wires":[["17267f05.d19c71","7f89c6cc.0bb288"]]},{"id":"78c14307.8bd40c","type":"mqtt in","z":"611d2ba5.389f94","name":"Encoder 0 (13)","topic":"Arduino/PBLiving/in/Encoder/0/VALUE","qos":"2","datatype":"auto","broker":"1ad27743.ce9fb9","x":300,"y":480,"wires":[["d4f546cd.ebdf88"]]},{"id":"7f89c6cc.0bb288","type":"debug","z":"611d2ba5.389f94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":700,"wires":[]},{"id":"1ad27743.ce9fb9","type":"mqtt-broker","z":"","name":"OpenWrt","broker":"192.168.2.1","port":"1883","clientid":"NodeRed","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"MX5/NodeRed/status","birthQos":"0","birthPayload":"connecting","closeTopic":"MX5/NodeRed/status","closeQos":"0","closePayload":"disconnecting","willTopic":"MX5/NodeRed/status","willQos":"0","willPayload":"disconnecting"},{"id":"f687a4d9.3b1578","type":"ui_group","name":"Group 1","tab":"33cc97f1.362a58","order":1,"disp":true,"width":6},{"id":"33cc97f1.362a58","type":"ui_tab","z":"","name":"Leds","icon":"flare","order":7,"disabled":false,"hidden":false},{"id":"75f22ec1.216f","type":"tab","label":"Leds","disabled":false,"info":""},{"id":"2462dea6.9d2f92","type":"subflow:611d2ba5.389f94","z":"75f22ec1.216f","name":"","env":[],"x":220,"y":200,"wires":[["b96f3183.63427"],["b4ead4ce.3b6be8"],["efb462ab.601b6"],["efb462ab.601b6"],["23b035d0.b0b8ea"]]},{"id":"b4ead4ce.3b6be8","type":"function","z":"75f22ec1.216f","name":"Cambiar CurrLed","func":"var CurrLed = flow.get(\"CurrLed\")||0;\nif (CurrLed == 3 )  { CurrLed = 0;}\nCurrLed += 1;\nflow.set(\"CurrLed\",CurrLed)\nmsg.currLed = CurrLed;\nmsg.payload = CurrLed; // para el dropdown\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":180,"wires":[["aa7469b3.affdc8","23b035d0.b0b8ea","4f459fb5.14cfc","18eb023b.c4dbce"]]},{"id":"203af874.249d48","type":"rpi-gpio in","z":"75f22ec1.216f","name":"Tecla Blanca","pin":"8","intype":"down","debounce":"25","read":false,"x":190,"y":780,"wires":[["68180122.b80d4"]]},{"id":"db702ecb.e1b1a","type":"inject","z":"75f22ec1.216f","name":"","topic":"LedStart","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":270,"y":120,"wires":[["6b56a03e.e811d"]]},{"id":"6b56a03e.e811d","type":"change","z":"75f22ec1.216f","name":"","rules":[{"t":"set","p":"CurrLed","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":120,"wires":[["284e7f13.6251f"]]},{"id":"68180122.b80d4","type":"switch","z":"75f22ec1.216f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":780,"wires":[[]]},{"id":"284e7f13.6251f","type":"change","z":"75f22ec1.216f","name":"","rules":[{"t":"set","p":"CurrLedMode1","pt":"flow","to":"FILL","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":120,"wires":[["d9adf694.3324c8"]]},{"id":"d9adf694.3324c8","type":"change","z":"75f22ec1.216f","name":"","rules":[{"t":"set","p":"CurrLedOnOff1","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":120,"wires":[["aa7469b3.affdc8"]]},{"id":"6b13299.94ad3d8","type":"function","z":"75f22ec1.216f","name":"CurrLedOnOff","func":"msg.currLed = flow.get(\"CurrLed\");\nvar Nombre = \"CurrLedOnOff\" + msg.currLed;\nflow.set(Nombre,!flow.get(Nombre))\nmsg.payload = flow.get(Nombre);\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":220,"wires":[["e1797793.8d47b8","23b035d0.b0b8ea"]]},{"id":"b96f3183.63427","type":"function","z":"75f22ec1.216f","name":"CurrLedMode","func":"msg.currLed = flow.get(\"CurrLed\");\nvar Nombre = \"CurrLedMode\" + msg.currLed;\nvar CurrMode = flow.get(Nombre)||\"FILL\";\nswitch(parseInt(msg.currLed))\n{\n    case 1:\n    case 2:\n    case 3:\n        switch(CurrMode)\n        {\n            case \"FILL\":\n                msg.mode = \"SINELON\";\n                break;   \n            case \"SINELON\":\n                msg.mode = \"FULL\";\n                break;   \n           case \"FULL\":\n                msg.mode = \"RAINBOW\";\n                break;   \n           case \"RAINBOW\":\n                msg.mode = \"FILL\";\n                break;   \n\n        }\n        break;   \n} \n\nflow.set(Nombre,msg.mode);\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":260,"wires":[["e1797793.8d47b8","2865909.087147","18eb023b.c4dbce"]]},{"id":"aa7469b3.affdc8","type":"function","z":"75f22ec1.216f","name":"Setear Topic CurrLed","func":"switch(parseInt(msg.currLed))\n{\n    case 1:\n        msg.topic = \"Arduino/PBTablero/in/WSSTRIP/0/\"\n        break;\n    case 2:\n        msg.topic = \"Arduino/PBTablero/in/WSSTRIP/1/\";\n        break;\n    case 3:\n        msg.topic = \"Arduino/PBLiving/in/WSSTRIP/0/\";\n        break;\n} \nflow.set(\"CurrLedTopic\",msg.topic);\nmsg.topic += \"FILL\";\nmsg.payload =\"255,255,255\";\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":180,"wires":[["f4b1e03.cb3782","c864c27e.37a43","2865909.087147"]]},{"id":"efb462ab.601b6","type":"function","z":"75f22ec1.216f","name":"CurrLedEncoder","func":"msg.currLed = flow.get(\"CurrLed\");\nmsg.mode =  flow.get(\"CurrLedMode\" + msg.currLed)||\"FILL\";\nvar Nombre = \"CurrLed\" + msg.mode + \"Encoder\" +  msg.currLed + msg.NroEncoder;\nflow.set(Nombre,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":300,"wires":[["e1797793.8d47b8"]]},{"id":"e1797793.8d47b8","type":"function","z":"75f22ec1.216f","name":"Parametros","func":"var CurrLed = flow.get(\"CurrLed\");\nvar Mode = flow.get(\"CurrLedMode\" + CurrLed);\nvar NombrePote = \"CurrLed\" + Mode + \"Encoder\" +  CurrLed;\nvar OnOff = flow.get(\"CurrLedOnOff\" + CurrLed);\nvar Pote1 = flow.get(NombrePote + \"0\")||global.get(\"Pote1\");\nvar Pote2 = flow.get(NombrePote + \"1\")||global.get(\"Pote2\");\nmsg.topic = flow.get(\"CurrLedTopic\");\nmsg.currLed = CurrLed;\nmsg.onOff = OnOff;\n\nif (OnOff === true)\n{\n    msg.mode = Mode;\n    msg.hue = Pote1;\n    msg.sat = 100;\n    \n    switch(msg.mode)\n    {\n        case \"FILL\":\n            msg.light = Pote2;\n            msg.sat = 100;\n            break;   \n        case \"FULL\":\n            msg.mode = \"FILL\"\n            msg.light = Pote2;\n            msg.sat = 0;\n            break;   \n        case \"SINELON\":\n            msg.light = 100;\n            msg.sat = 100;\n            msg.bpm = Pote2;\n            break;   \n        case \"RAINBOW\":\n            msg.hue = Pote1;\n            msg.bpm = Pote2;\n\n            break;   \n    }\n}\nelse\n{\n    //apagado\n  //  msg.topic += \"FILL\";\n    msg.payload =\"0,0,0\";\n    msg.light = 0;\n    msg.sat = 0;\n    msg.hue = 0;\n    msg.mode = \"FILL\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":300,"wires":[["bb7bea64.efa3f8"]]},{"id":"bb7bea64.efa3f8","type":"range","z":"75f22ec1.216f","minin":"0","maxin":"120","minout":"0","maxout":"255","action":"scale","round":true,"property":"hue","name":"hue","x":1050,"y":300,"wires":[["7edb8af9.e7f954"]]},{"id":"7edb8af9.e7f954","type":"range","z":"75f22ec1.216f","minin":"0","maxin":"120","minout":"0","maxout":"100","action":"scale","round":true,"property":"light","name":"light","x":1050,"y":340,"wires":[["51d67c92.f0d4f4"]]},{"id":"d412b5c2.cad878","type":"function","z":"75f22ec1.216f","name":"HSV","func":"msg.payload  = [msg.hue,msg.sat,msg.light];\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":420,"wires":[["49f9f64a.063358"]]},{"id":"49f9f64a.063358","type":"color-convert","z":"75f22ec1.216f","input":"hsv","output":"rgb","outputType":"string","scaleInput":true,"x":1050,"y":460,"wires":[["5543b52d.1dea4c"]]},{"id":"5543b52d.1dea4c","type":"function","z":"75f22ec1.216f","name":"","func":"msg.payload = msg.payload.replace(\"rgb(\",'');\nmsg.payload = msg.payload.replace(')','');\nmsg.color = msg.payload;\nmsg.topic += msg.mode;\n\nswitch(msg.mode)\n{\n\n  case \"SINELON\":\n        msg.payload += \",\" + msg.bpm;\n        break;   \n  case \"RAINBOW\":\n        msg.payload = msg.hue + \",\" + msg.bpm;\n        break;   \n  \n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":460,"wires":[["ad13931e.0978a","8362404c.1d174"]]},{"id":"5a2c110b.f9f91","type":"mqtt out","z":"75f22ec1.216f","name":"Parpadear","topic":"","qos":"","retain":"false","broker":"1ad27743.ce9fb9","x":1230,"y":180,"wires":[],"inputLabels":["kkl"]},{"id":"f4b1e03.cb3782","type":"trigger","z":"75f22ec1.216f","op1":"","op2":"0,0,0","op1type":"pay","op2type":"str","duration":"300","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":1060,"y":180,"wires":[["5a2c110b.f9f91"]]},{"id":"c864c27e.37a43","type":"delay","z":"75f22ec1.216f","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1050,"y":220,"wires":[["e1797793.8d47b8"]]},{"id":"51d67c92.f0d4f4","type":"range","z":"75f22ec1.216f","minin":"0","maxin":"120","minout":"0","maxout":"100","action":"scale","round":true,"property":"bpm","name":"bpm","x":1050,"y":380,"wires":[["d412b5c2.cad878"]]},{"id":"6c034e35.16ea1","type":"link in","z":"75f22ec1.216f","name":"Apagar Leds Living","links":["c801211d.69393"],"x":1275,"y":240,"wires":[["8d88c00c.4c327"]]},{"id":"ad13931e.0978a","type":"debug","z":"75f22ec1.216f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1370,"y":520,"wires":[]},{"id":"8d88c00c.4c327","type":"function","z":"75f22ec1.216f","name":"Apagar","func":"flow.set(\"CurrLedOnOff1\",false)\nflow.set(\"CurrLedOnOff2\",false)\nmsg.payload = \"0,0,0\"\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":240,"wires":[["e1797793.8d47b8"]]},{"id":"70ceb7ed.bc3b58","type":"mqtt in","z":"75f22ec1.216f","name":"","topic":"Arduino/PBLiving/out/IP","qos":"2","datatype":"auto","broker":"1ad27743.ce9fb9","x":520,"y":740,"wires":[["2c12a849.8dd988","deb38ffe.37448"]]},{"id":"47b1c09f.4ea53","type":"mqtt out","z":"75f22ec1.216f","name":"","topic":"Arduino/PBLiving/in/Encoder/0/MIN","qos":"","retain":"true","broker":"1ad27743.ce9fb9","x":960,"y":680,"wires":[]},{"id":"2c12a849.8dd988","type":"change","z":"75f22ec1.216f","name":"Min","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":700,"wires":[["47b1c09f.4ea53","75a02353.38b54c"]]},{"id":"75a02353.38b54c","type":"mqtt out","z":"75f22ec1.216f","name":"","topic":"Arduino/PBLiving/in/Encoder/1/MIN","qos":"","retain":"true","broker":"1ad27743.ce9fb9","x":960,"y":720,"wires":[]},{"id":"deb38ffe.37448","type":"change","z":"75f22ec1.216f","name":"Max","rules":[{"t":"set","p":"payload","pt":"msg","to":"120","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":780,"wires":[["c73c48d3.9448d8","58644a84.7e9e64"]]},{"id":"c73c48d3.9448d8","type":"mqtt out","z":"75f22ec1.216f","name":"","topic":"Arduino/PBLiving/in/Encoder/0/MAX","qos":"","retain":"true","broker":"1ad27743.ce9fb9","x":970,"y":760,"wires":[]},{"id":"58644a84.7e9e64","type":"mqtt out","z":"75f22ec1.216f","name":"","topic":"Arduino/PBLiving/in/Encoder/1/MAX","qos":"","retain":"true","broker":"1ad27743.ce9fb9","x":970,"y":800,"wires":[]},{"id":"8eed7ea6.22117","type":"function","z":"75f22ec1.216f","name":"Set Encoders","func":"msg.mode = flow.get(\"CurrLedMode\" + msg.currLed);\nvar NombrePote = \"CurrLed\" + msg.mode + \"Encoder\" +  msg.currLed;\nvar NroEncoder = 0;\nmsg.topic = \"Arduino/PBLiving/in/Encoder/\";\nvar EncValue = flow.get(NombrePote + NroEncoder)||global.get(\"Pote1\");\nmsg.topic = msg.topic + NroEncoder + \"/VALUE\"\nmsg.payload = EncValue\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":520,"wires":[["e87d8e9d.a43b1"]]},{"id":"e87d8e9d.a43b1","type":"mqtt out","z":"75f22ec1.216f","name":"","topic":"","qos":"","retain":"","broker":"1ad27743.ce9fb9","x":1130,"y":540,"wires":[]},{"id":"3392101c.54e97","type":"function","z":"75f22ec1.216f","name":"Set Encoders","func":"msg.mode = flow.get(\"CurrLedMode\" + msg.currLed);\nvar NombrePote = \"CurrLed\" + msg.mode + \"Encoder\" +  msg.currLed;\nvar NroEncoder = 1;\nmsg.topic = \"Arduino/PBLiving/in/Encoder/\";\nvar EncValue = flow.get(NombrePote + NroEncoder)||global.get(\"Pote1\");\nmsg.topic = msg.topic + NroEncoder + \"/VALUE\"\nmsg.payload = EncValue\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":560,"wires":[["e87d8e9d.a43b1"]]},{"id":"8362404c.1d174","type":"mqtt out","z":"75f22ec1.216f","name":"Strip 1","topic":"","qos":"","retain":"true","broker":"1ad27743.ce9fb9","x":1370,"y":460,"wires":[],"inputLabels":["kkl"]},{"id":"f800c336.45fb8","type":"ui_dropdown","z":"75f22ec1.216f","name":"","label":"Current Led","tooltip":"","place":"Select option","group":"f687a4d9.3b1578","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"Teclas","value":"3","type":"str"},{"label":"Parlante Izq","value":"1","type":"str"},{"label":"Parlante Derecho","value":"2","type":"str"}],"payload":"","topic":"aa","x":370,"y":460,"wires":[["b4878cb0.93d7a"]]},{"id":"b4878cb0.93d7a","type":"function","z":"75f22ec1.216f","name":"Set CurrLed","func":"flow.set(\"CurrLed\",Number(msg.payload))\nmsg.currLed = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":460,"wires":[["aa7469b3.affdc8","18eb023b.c4dbce","23b035d0.b0b8ea"]]},{"id":"2865909.087147","type":"function","z":"75f22ec1.216f","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":540,"wires":[["8eed7ea6.22117","3392101c.54e97"]]},{"id":"fdde1b53.70f7a8","type":"ui_switch","z":"75f22ec1.216f","name":"","label":"Prendido","tooltip":"","group":"f687a4d9.3b1578","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"aa","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":360,"y":540,"wires":[["581e00a7.d56dd"]]},{"id":"581e00a7.d56dd","type":"function","z":"75f22ec1.216f","name":"CurrLedOnOff","func":"var CurrLed = flow.get(\"CurrLed\");\nvar Nombre = \"CurrLedOnOff\" + CurrLed;\nflow.set(Nombre,!flow.get(Nombre))\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":540,"wires":[["e1797793.8d47b8"]]},{"id":"4f459fb5.14cfc","type":"function","z":"75f22ec1.216f","name":"CurrLed","func":"msg.payload = flow.get(\"CurrLed\");\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":460,"wires":[["f800c336.45fb8"]]},{"id":"23b035d0.b0b8ea","type":"function","z":"75f22ec1.216f","name":"OnOff","func":"msg.currLed = flow.get(\"CurrLed\");\nvar Nombre = \"CurrLedOnOff\" + msg.currLed;\nmsg.payload = flow.get(Nombre);\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":540,"wires":[["fdde1b53.70f7a8"]]},{"id":"e1689a8f.406708","type":"ui_dropdown","z":"75f22ec1.216f","name":"","label":"Current Mode","tooltip":"","place":"Select option","group":"f687a4d9.3b1578","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"FILL","value":"FILL","type":"str"},{"label":"","value":"RAINBOW","type":"str"},{"label":"","value":"SINELON","type":"str"},{"label":"","value":"FULL","type":"str"}],"payload":"","topic":"aa","x":360,"y":500,"wires":[["77385e30.3ec13"]]},{"id":"18eb023b.c4dbce","type":"function","z":"75f22ec1.216f","name":"Current Mode","func":"var Nombre = \"CurrLedMode\" + msg.currLed;\nmsg.payload =  flow.get(Nombre)||\"FILL\";\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":500,"wires":[["e1689a8f.406708"]]},{"id":"77385e30.3ec13","type":"function","z":"75f22ec1.216f","name":"Set CurrMode","func":"msg.currLed = flow.get(\"CurrLed\");\nvar Nombre = \"CurrLedMode\" + msg.currLed;\nmsg.mode = msg.payload;\nflow.set(Nombre,msg.mode);\nreturn msg;\n","outputs":1,"noerr":0,"x":540,"y":500,"wires":[["2865909.087147","e1797793.8d47b8"]]},{"id":"91a3faee.09dbb8","type":"function","z":"75f22ec1.216f","name":"PrepararCurrentMode","func":"Setear loop de encoders\nswitch(msg.mode)\n{\n    case \"FILL\":\n        msg.mode = \"SINELON\";\n        break;   \n    case \"SINELON\":\n        msg.mode = \"FULL\";\n        break;   \n   case \"FULL\":\n        msg.mode = \"RAINBOW\";\n        break;   \n   case \"RAINBOW\":\n        msg.mode = \"FILL\";\n        break;   \n\n}\n","outputs":1,"noerr":9,"x":400,"y":620,"wires":[[]]}]