NodeRed/Flows/flows6.json
[{"id":"bb63d718.931208","type":"tab","label":"Interruptores y Luces","disabled":false,"info":""},{"id":"887b2e31.18293","type":"tab","label":"Relays","disabled":false,"info":""},{"id":"2bcc0ccb.cd26a4","type":"tab","label":"Sensores Clima","disabled":false,"info":""},{"id":"930c94d9.38ece8","type":"tab","label":"Sensores Elect","disabled":false,"info":""},{"id":"57b26073.47916","type":"tab","label":"Node red Status","disabled":false,"info":""},{"id":"c5b2ea55.84d058","type":"tab","label":"Escenas","disabled":false,"info":""},{"id":"235e5af0.561006","type":"tab","label":"RF / Alarma","disabled":false,"info":""},{"id":"2228dc2c.99e004","type":"tab","label":"Presencia Celus","disabled":false,"info":""},{"id":"d0c77eb4.886e7","type":"tab","label":"Compu","disabled":false,"info":""},{"id":"295f893a.42f726","type":"tab","label":"AAC","disabled":false,"info":""},{"id":"3e473a01.8f8df6","type":"tab","label":"PS4","disabled":false,"info":""},{"id":"230ac56e.bc629a","type":"tab","label":"Muteki","disabled":false,"info":""},{"id":"9bee6473.dc8598","type":"tab","label":"TV Living","disabled":false,"info":""},{"id":"d4cc4a57.a7caa8","type":"tab","label":"Proyector","disabled":false,"info":""},{"id":"75f22ec1.216f","type":"tab","label":"Leds","disabled":false,"info":""},{"id":"a6dc66a1.81b618","type":"subflow","name":"Teclas Comedor","info":"","category":"Teclas","in":[{"x":100,"y":100,"wires":[{"id":"af20df6f.d429a"}]}],"out":[{"x":840,"y":180,"wires":[{"id":"4bd83602.e50528","port":0}]},{"x":840,"y":260,"wires":[{"id":"b3844f54.971c1","port":0}]},{"x":840,"y":340,"wires":[{"id":"77ace720.6a17a8","port":0}]}],"env":[],"inputLabels":["Color Luz Teclas"]},{"id":"bdb2280d.bcc368","type":"subflow","name":"Teclas Living Izq","info":"","category":"Teclas","in":[],"out":[{"x":840,"y":180,"wires":[{"id":"a24d1547.0131d8","port":0}]},{"x":840,"y":260,"wires":[{"id":"7008c2e8.16bd0c","port":0}]},{"x":840,"y":340,"wires":[{"id":"8655dca8.9a6e8","port":0}]}],"env":[]},{"id":"611d2ba5.389f94","type":"subflow","name":"Teclas Living Der","info":"","category":"Teclas","in":[],"out":[{"x":880,"y":140,"wires":[{"id":"ddc0a444.cd55f8","port":0}]},{"x":880,"y":240,"wires":[{"id":"2139b3c5.de180c","port":0}]},{"x":920,"y":380,"wires":[{"id":"fba26c2c.32ce9","port":0}]},{"x":920,"y":440,"wires":[{"id":"93e52afb.02aa18","port":0}]},{"x":920,"y":320,"wires":[{"id":"7f58764.5ff8288","port":0}]}],"env":[]},{"id":"4329d030.ac594","type":"subflow","name":"Teclas Escritorio","info":"","category":"Teclas","in":[],"out":[{"x":1100,"y":160,"wires":[{"id":"9549a648.31a008","port":0}]},{"x":1100,"y":240,"wires":[{"id":"4f2f07ae.451ce8","port":0}]}],"env":[]},{"id":"d1c44675.ff7c58","type":"subflow","name":"Teclas Escalera","info":"","category":"Teclas","in":[],"out":[{"x":1040,"y":160,"wires":[{"id":"ee3445cd.4bc588","port":0}]},{"x":1040,"y":240,"wires":[{"id":"b9b56de3.61b1a","port":0}]},{"x":1040,"y":320,"wires":[{"id":"c1cb512c.d2da8","port":0}]},{"x":1040,"y":400,"wires":[{"id":"648562a3.49f70c","port":0}]}],"env":[]},{"id":"5f9dfcc6.ecd504","type":"subflow","name":"Teclas Living IR","info":"","category":"Teclas","in":[],"out":[{"x":1160,"y":220,"wires":[{"id":"944b10bd.cc3db","port":0}]},{"x":1160,"y":300,"wires":[{"id":"44ff1040.92ccc","port":0}]}],"env":[]},{"id":"73bc3aee.13bf44","type":"ui_group","z":"","name":"Relays","tab":"71106a75.760e94","disp":true,"width":"6","collapse":false},{"id":"71106a75.760e94","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"e139a1a.7183f6","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Casa","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":7,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bc90829.106738","type":"ui_spacer","name":"spacer","group":"","order":4,"width":1,"height":1},{"id":"79688aa3.509134","type":"ui_spacer","name":"spacer","group":"","order":3,"width":"7","height":1},{"id":"d96ba3a3.29883","type":"ui_spacer","name":"spacer","group":"","order":5,"width":"7","height":1},{"id":"1ad27743.ce9fb9","type":"mqtt-broker","z":"","name":"OpenWrt","broker":"192.168.2.1","port":"1883","clientid":"NodeRed","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"MX5/NodeRed/status","birthQos":"0","birthPayload":"connecting","closeTopic":"MX5/NodeRed/status","closeQos":"0","closePayload":"disconnecting","willTopic":"MX5/NodeRed/status","willQos":"0","willPayload":"disconnecting"},{"id":"fc604a2d.fe42a8","type":"ui_tab","z":"","name":"Sensores","icon":"fa-thermometer-half","order":2,"disabled":false,"hidden":false},{"id":"5635ed61.b910e4","type":"ui_group","z":"","name":"Escritorio","tab":"70f5bc92.40b124","order":1,"disp":true,"width":"6","collapse":false},{"id":"7a092dd.29b3ed4","type":"ui_group","z":"","name":"AAC","tab":"9c83baa6.e50518","order":2,"disp":true,"width":"6","collapse":false},{"id":"70f5bc92.40b124","type":"ui_tab","z":"","name":"Luces","icon":"wb_incandescent","order":1,"disabled":false,"hidden":false},{"id":"bf36a591.082a28","type":"ui_group","z":"","name":"Temperatura","tab":"fc604a2d.fe42a8","order":1,"disp":false,"width":"6","collapse":false},{"id":"9c83baa6.e50518","type":"ui_tab","z":"","name":"Control remoto","icon":"settings_remote","order":5,"disabled":false,"hidden":false},{"id":"913b3f65.8b281","type":"ui_group","z":"","name":"Off","tab":"f7cb5ff4.efee3","order":1,"disp":true,"width":"6","collapse":false},{"id":"f7cb5ff4.efee3","type":"ui_tab","z":"","name":"Off","icon":"dashboard","order":4,"disabled":false,"hidden":true},{"id":"4776a043.c6708","type":"ui_group","z":"","name":"Compu","tab":"9c83baa6.e50518","order":4,"disp":true,"width":"6","collapse":false},{"id":"f8522291.e6b8b","type":"ui_tab","z":"","name":"Escenas","icon":"weekend","order":6,"disabled":false,"hidden":false},{"id":"837d3079.305cd","type":"ui_group","z":"","name":"Acciones","tab":"f8522291.e6b8b","order":1,"disp":true,"width":"6","collapse":false},{"id":"20a076b7.fe135a","type":"ui_group","z":"","name":"TV","tab":"9c83baa6.e50518","order":1,"disp":true,"width":"6","collapse":true},{"id":"a676754.6a79888","type":"ui_group","z":"","name":"Proyector","tab":"9c83baa6.e50518","order":6,"disp":true,"width":"6","collapse":false},{"id":"7ad1e0a0.b2f66","type":"ui_group","z":"","name":"Muteki","tab":"9c83baa6.e50518","order":7,"disp":true,"width":"6","collapse":false},{"id":"582f7a51.db5c44","type":"ui_group","z":"","name":"Patio","tab":"70f5bc92.40b124","order":2,"disp":true,"width":"6","collapse":false},{"id":"a0a12305.1eb01","type":"ui_group","z":"","name":"Humedad","tab":"fc604a2d.fe42a8","order":2,"disp":false,"width":"6","collapse":false},{"id":"bee8228d.0d274","type":"ui_group","z":"","name":"RPI ","tab":"9febe8d8.a75bd8","order":1,"disp":true,"width":"6","collapse":false},{"id":"8baa852c.3b6cc8","type":"ui_group","z":"","name":"Comedor","tab":"70f5bc92.40b124","order":3,"disp":true,"width":"6","collapse":false},{"id":"6d3da8b1.90ed78","type":"ui_group","z":"","name":"Living","tab":"70f5bc92.40b124","order":4,"disp":true,"width":"6","collapse":false},{"id":"6d364717.d4fd68","type":"ui_group","z":"","name":"PS4","tab":"9c83baa6.e50518","order":5,"disp":true,"width":"6","collapse":false},{"id":"a95b4552.f7fa88","type":"ui_group","z":"","name":"Frente","tab":"70f5bc92.40b124","order":5,"disp":true,"width":"6","collapse":false},{"id":"622bb9e6.9808f8","type":"ui_group","z":"","name":"Luz","tab":"fc604a2d.fe42a8","order":3,"disp":false,"width":"6","collapse":false},{"id":"a9d3b0bb.e316c","type":"ui_group","z":"","name":"Volts","tab":"fc604a2d.fe42a8","order":5,"disp":false,"width":"6","collapse":false},{"id":"33cc97f1.362a58","type":"ui_tab","z":"","name":"Leds","icon":"flare","order":7,"disabled":false,"hidden":false},{"id":"f687a4d9.3b1578","type":"ui_group","name":"Group 1","tab":"33cc97f1.362a58","order":1,"disp":true,"width":6},{"id":"46ccdc7e.a82334","type":"ui_group","z":"","name":"Amps","tab":"fc604a2d.fe42a8","order":6,"disp":false,"width":"6","collapse":false},{"id":"8580fa9c.5b7bb8","type":"ui_group","z":"","name":"Watts","tab":"fc604a2d.fe42a8","order":7,"disp":false,"width":"6","collapse":false},{"id":"d94a4634.32b858","type":"ui_group","z":"","name":"Lluvia","tab":"fc604a2d.fe42a8","order":4,"disp":false,"width":"6","collapse":false},{"id":"3b8c578d.7ea768","type":"ui_tab","z":"","name":"Alarma","icon":"videocam","disabled":false,"hidden":false},{"id":"b32fa3e9.f2b7f","type":"ui_group","z":"","name":"Alarma","tab":"3b8c578d.7ea768","disp":true,"width":"6","collapse":false},{"id":"480e5ad6.2bf104","type":"openhab-v2-controller","z":0,"name":"openhab","protocol":"http","host":"localhost","port":"8080","path":"","username":"admin","password":"Jst4kix741","allowRawEvents":true},{"id":"9febe8d8.a75bd8","type":"ui_tab","z":"","name":"Infra","icon":"usb","order":9,"disabled":false,"hidden":false},{"id":"b89f1435.0c4bf8","type":"ui_group","z":"","name":"Arduino","tab":"9febe8d8.a75bd8","order":2,"disp":true,"width":"6","collapse":false},{"id":"8b4e6efd.7f29a","type":"ui_spacer","name":"spacer","group":"b1a52249.fc203","order":1,"width":1,"height":1},{"id":"d8d91bfc.b5dc18","type":"ui_group","name":"Group 2","tab":"3b8c578d.7ea768","order":2,"disp":true,"width":6},{"id":"bc362a5c.0bea88","type":"ui_group","z":"","name":"Camaras","tab":"9febe8d8.a75bd8","order":3,"disp":true,"width":"6","collapse":false},{"id":"456e3133.11777","type":"ui_tab","z":"","name":"Sensores Crudos","icon":"dashboard","order":10,"disabled":false,"hidden":false},{"id":"cd9fc1f7.18d92","type":"ui_group","z":"","name":"Clima","tab":"456e3133.11777","order":1,"disp":true,"width":"6","collapse":false},{"id":"e8c5d0b7.ae42a","type":"ui_group","z":"","name":"Electricidad","tab":"456e3133.11777","order":2,"disp":true,"width":"6","collapse":false},{"id":"e5a1cfdf.94ab5","type":"influxdb","z":"","hostname":"192.168.2.5","port":"8086","protocol":"http","database":"TEST","name":"InfluxDb","usetls":false,"tls":""},{"id":"9f3c103b.20242","type":"mqtt in","z":"2bcc0ccb.cd26a4","name":"Luz (A15)","topic":"Arduino/PBLiving/out/Sensores/Analog/15","qos":"2","datatype":"auto","broker":"1ad27743.ce9fb9","x":140,"y":420,"wires":[["65dfdee.897542","168fd1b0.3e5f9e","c0c5968f.951788"]]},{"id":"8dcdadb5.5986a","type":"switch","z":"2bcc0ccb.cd26a4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"500","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":360,"wires":[["f5a40cf8.4b733"],["4695cd6f.ab1914"]],"outputLabels":["Noche","Dia"]},{"id":"4496e2e.6d6c81c","type":"mqtt out","z":"2bcc0ccb.cd26a4","name":"Luz Frente (24)","topic":"Arduino/PBLiving/in/Relay/24","qos":"","retain":"true","broker":"1ad27743.ce9fb9","x":1060,"y":320,"wires":[]},{"id":"f5a40cf8.4b733","type":"function","z":"2bcc0ccb.cd26a4","name":"Prender","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":320,"wires":[["4496e2e.6d6c81c","1fefe0db.43387f"]]},{"id":"4695cd6f.ab1914","type":"function","z":"2bcc0ccb.cd26a4","name":"Apagar","func":"msg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":400,"wires":[["1fefe0db.43387f","4496e2e.6d6c81c"]]},{"id":"f85b7a96.dd6998","type":"ui_gauge","z":"2bcc0ccb.cd26a4","name":"","group":"622bb9e6.9808f8","order":1,"width":0,"height":0,"gtype":"gage","title":"Luz","label":"units","format":"{{value}}","min":0,"max":"1024","colors":["#000000","#939300","#faff15"],"seg1":"300","seg2":"580","x":790,"y":540,"wires":[]},{"id":"9348da5b.791d18","type":"mqtt in","z":"2bcc0ccb.cd26a4","name":"PBLiving Humedad (DHT 25)","topic":"Arduino/PBLiving/out/Sensores/Humedad","qos":"2","broker":"1ad27743.ce9fb9","x":200,"y":620,"wires":[["916270e7.2af48"]]},{"id":"5f444669.5061c8","type":"mqtt in","z":"2bcc0ccb.cd26a4","name":"PBLiving Temperatura (DHT 25)","topic":"Arduino/PBLiving/out/Sensores/Temperatura","qos":"2","broker":"1ad27743.ce9fb9","x":190,"y":720,"wires":[["e461d76a.7c5508"]]},{"id":"36b9b9f.cb57d46","type":"ui_gauge","z":"2bcc0ccb.cd26a4","name":"","group":"a0a12305.1eb01","order":1,"width":0,"height":0,"gtype":"gage","title":"Hum. Exterior","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":600,"wires":[]},{"id":"677b8a77.417794","type":"ui_gauge","z":"2bcc0ccb.cd26a4","name":"","group":"bf36a591.082a28","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp. Exterior","label":"C°","format":"{{value}}","min":0,"max":"50","colors":["#0400b5","#00d900","#ca3838"],"seg1":"20","seg2":"28","x":880,"y":700,"wires":[]},{"id":"1f1e34f6.fd0fdb","type":"ui_chart","z":"2bcc0ccb.cd26a4","name":"","group":"622bb9e6.9808f8","order":2,"width":0,"height":0,"label":"Luz","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#d2cd00","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":790,"y":480,"wires":[[],[]]},{"id":"97b3c7e0.14d708","type":"inject","z":"57b26073.47916","name":"","topic":"MX5/NodeRed/lastseen/epoch","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":100,"wires":[["3a3e4b65.edba24","30af2ac7.545406"]]},{"id":"3a3e4b65.edba24","type":"mqtt out","z":"57b26073.47916","name":"LastSeen","topic":"","qos":"","retain":"","broker":"1ad27743.ce9fb9","x":460,"y":80,"wires":[]},{"id":"d54f36f1.b089c8","type":"mqtt out","z":"57b26073.47916","name":"","topic":"RPI/cpu","qos":"","retain":"","broker":"1ad27743.ce9fb9","x":680,"y":140,"wires":[]},{"id":"fc293a26.b43738","type":"ui_chart","z":"57b26073.47916","name":"","group":"bee8228d.0d274","order":4,"width":0,"height":0,"label":"CPU","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":850,"y":200,"wires":[[]]},{"id":"9ebbf570.1d1e68","type":"mqtt out","z":"bb63d718.931208","name":"Tomas TV (28)","topic":"Arduino/PBLiving/in/Relay/28","qos":"","retain":"false","broker":"1ad27743.ce9fb9","x":480,"y":840,"wires":[],"inputLabels":["kkl"]},{"id":"59689478.9b6c0c","type":"mqtt out","z":"bb63d718.931208","name":"Toma SubWoofer (26)","topic":"Arduino/PBLiving/in/Relay/26","qos":"","retain":"false","broker":"1ad27743.ce9fb9","x":480,"y":800,"wires":[],"inputLabels":["kkl"]},{"id":"b3be2ee9.2699e","type":"mqtt out","z":"bb63d718.931208","name":"Luz Balcon Frente (22)","topic":"Arduino/PBLiving/in/Relay/22","qos":"","retain":"false","broker":"1ad27743.ce9fb9","x":700,"y":520,"wires":[],"inputLabels":["kkl"]},{"id":"d3653a73.948618","type":"mqtt out","z":"bb63d718.931208","name":"Luz Frente (24)","topic":"Arduino/PBLiving/in/Relay/24","qos":"","retain":"false","broker":"1ad27743.ce9fb9","x":680,"y":460,"wires":[],"inputLabels":["kkl"]},{"id":"2a022a96.881a76","type":"ui_button","z":"295f893a.42f726","name":"","group":"7a092dd.29b3ed4","order":2,"width":"3","height":"1","passthru":false,"label":"Direct","tooltip":"","color":"","bgcolor":"","icon":"fa-rss","payload":"90,86,11,31,11,10,11,31,11,31,12,10,11,10,11,32,11,10,11,10,11,32,11,10,11,10,11,31,11,32,11,10,11,32,11,10,11,10,11,10,11,10,11,32,11,32,11,32,11,32,11,31,11,31,11,32,11,32,11,10,11,10,11,10,11,10,11,31,11,32,11,31,11,10,11,10,11,10,11,10,11,10,11,10,11,10,11,10,11,32,11,32,11,32,11,32,11,32,11","payloadType":"str","topic":"","x":610,"y":340,"wires":[["66ea1ea6.f51c9"]]},{"id":"7de54509.866d5c","type":"ui_chart","z":"2bcc0ccb.cd26a4","name":"","group":"a0a12305.1eb01","order":2,"width":0,"height":0,"label":"Hum. Exterior","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#0264d0","#f7d89f","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":880,"y":640,"wires":[[],[]]},{"id":"b23497cb.f572d8","type":"ui_chart","z":"2bcc0ccb.cd26a4","name":"","group":"bf36a591.082a28","order":2,"width":0,"height":0,"label":"Temp. Exterior","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":880,"y":740,"wires":[[],[]]},{"id":"980d5cb0.21c5f","type":"mqtt in","z":"a6dc66a1.81b618","name":"Teclas Comedor 1 (39) (UTP Gris Marron)","topic":"Arduino/PBLiving/out/Button/39/toggle","qos":"2","broker":"1ad27743.ce9fb9","x":340,"y":180,"wires":[["4bd83602.e50528"]]},{"id":"18b95865.e85318","type":"mqtt in","z":"a6dc66a1.81b618","name":"Teclas Comedor 2 (45)  (UTP Gris Azul)","topic":"Arduino/PBLiving/out/Button/45/toggle","qos":"2","broker":"1ad27743.ce9fb9","x":330,"y":260,"wires":[["b3844f54.971c1"]]},{"id":"527925a6.48493c","type":"mqtt in","z":"a6dc66a1.81b618","name":"Teclas Comedor 3 (37)  (UTP Gris Verde)","topic":"Arduino/PBLiving/out/Button/37/toggle","qos":"2","broker":"1ad27743.ce9fb9","x":300,"y":340,"wires":[["77ace720.6a17a8"]]},{"id":"4bd83602.e50528","type":"function","z":"a6dc66a1.81b618","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":180,"wires":[[]]},{"id":"b3844f54.971c1","type":"function","z":"a6dc66a1.81b618","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":260,"wires":[[]]},{"id":"77ace720.6a17a8","type":"function","z":"a6dc66a1.81b618","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":340,"wires":[[]]},{"id":"ed1b7452.7a60a8","type":"subflow:a6dc66a1.81b618","z":"bb63d718.931208","name":"","x":220,"y":680,"wires":[["1fd7774e.b0dce9"],["104f8203.015b3e"],["6e3faea4.c4467"]]},{"id":"417567b8.43fdc8","type":"mqtt in","z":"bdb2280d.bcc368","name":"Teclas Living Izq 1 (33) (UTP Negro Marron Claro)","topic":"Arduino/PBLiving/out/Button/33/toggle","qos":"2","broker":"1ad27743.ce9fb9","x":350,"y":180,"wires":[["a24d1547.0131d8"]]},{"id":"a09a1e1a.481d9","type":"mqtt in","z":"bdb2280d.bcc368","name":"Teclas Living Izq 2 (41) (UTP Negro Azul)","topic":"Arduino/PBLiving/out/Button/41/toggle","qos":"2","broker":"1ad27743.ce9fb9","x":400,"y":260,"wires":[["7008c2e8.16bd0c"]]},{"id":"a186b481.31f528","type":"mqtt in","z":"bdb2280d.bcc368","name":"Teclas Living Izq 3 (29) (UTP Azul Claro)","topic":"Arduino/PBLiving/out/Button/29/toggle","qos":"2","broker":"1ad27743.ce9fb9","x":360,"y":340,"wires":[["8655dca8.9a6e8"]]},{"id":"a24d1547.0131d8","type":"function","z":"bdb2280d.bcc368","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":180,"wires":[[]]},{"id":"7008c2e8.16bd0c","type":"function","z":"bdb2280d.bcc368","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":260,"wires":[[]]},{"id":"8655dca8.9a6e8","type":"function","z":"bdb2280d.bcc368","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":340,"wires":[[]]},{"id":"e1138e2e.bcc34","type":"mqtt in","z":"611d2ba5.389f94","name":"Teclas Living Der 1 (49) (UTP Negro Naranja)","topic":"Arduino/PBLiving/out/Button/49/toggle","qos":"2","broker":"1ad27743.ce9fb9","x":430,"y":160,"wires":[["ddc0a444.cd55f8"]]},{"id":"1e86def4.62f8f1","type":"mqtt in","z":"611d2ba5.389f94","name":"Teclas Living Der 1 (47) (UTP Negro Naranja Claro)","topic":"Arduino/PBLiving/out/Button/47/toggle","qos":"2","broker":"1ad27743.ce9fb9","x":450,"y":240,"wires":[["2139b3c5.de180c"]]},{"id":"ddc0a444.cd55f8","type":"function","z":"611d2ba5.389f94","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":140,"wires":[[]]},{"id":"2139b3c5.de180c","type":"function","z":"611d2ba5.389f94","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":240,"wires":[[]]},{"id":"76af4115.35a28","type":"subflow:bdb2280d.bcc368","z":"bb63d718.931208","name":"","x":220,"y":740,"wires":[["104f8203.015b3e"],["d58fafa8.afc3a","1159aa54.7e9ad6"],[]]},{"id":"14c97087.aa898f","type":"subflow:611d2ba5.389f94","z":"bb63d718.931208","name":"","x":220,"y":840,"wires":[["59689478.9b6c0c"],[],["2de66951.f83306"],["5b64459f.7b722c"],[]]},{"id":"c2806dd.8fe4e9","type":"comment","z":"a6dc66a1.81b618","name":"UTP Gris Verde (Interferencia con LEDS)","info":"","x":320,"y":420,"wires":[]},{"id":"af20df6f.d429a","type":"mqtt out","z":"a6dc66a1.81b618","name":"Luz RGB Tecla 1 (9,11,13)","topic":"Arduino/PBLiving/in/LEDSRGB/0","qos":"","retain":"","broker":"1ad27743.ce9fb9","x":360,"y":80,"wires":[],"inputLabels":["kkl"]},{"id":"5683f7eb.c07be8","type":"comment","z":"a6dc66a1.81b618","name":"","info":"","x":300,"y":40,"wires":[]},{"id":"21d4f582.ba380a","type":"function","z":"2bcc0ccb.cd26a4","name":"Invertir","func":"msg.payload = Math.round(1024 - msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":480,"wires":[["1f1e34f6.fd0fdb"]]},{"id":"64b05186.0423d","type":"function","z":"2bcc0ccb.cd26a4","name":"Redondeo","func":"msg.payload = Math.round(msg.payload * 100) /100\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":620,"wires":[["36b9b9f.cb57d46","7de54509.866d5c"]]},{"id":"bb444bfc.865658","type":"function","z":"2bcc0ccb.cd26a4","name":"Redondeo","func":"msg.payload = Math.round(msg.payload * 100) /100\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":720,"wires":[["677b8a77.417794","b23497cb.f572d8"]]},{"id":"d3a2218e.a0ffc","type":"mqtt out","z":"bb63d718.931208","name":"22","topic":"Arduino/PBTablero/in/Relay/22","qos":"","retain":"","broker":"1ad27743.ce9fb9","x":1250,"y":420,"wires":[],"inputLabels":["kkl"]},{"id":"b10ae79b.388708","type":"ui_button","z":"bb63d718.931208","name":"","group":"913b3f65.8b281","order":1,"width":"3","height":"2","passthru":false,"label":"22","tooltip":"","color":"","bgcolor":"","icon":"","payload":"TOGGLE","payloadType":"str","topic":"","x":1050,"y":420,"wires":[["d3a2218e.a0ffc"]]},{"id":"3c9fe8bd.319fb8","type":"mqtt out","z":"bb63d718.931208","name":"24","topic":"Arduino/PBTablero/in/Relay/24","qos":"","retain":"","broker":"1ad27743.ce9fb9","x":1250,"y":460,"wires":[],"inputLabels":["kkl"]},{"id":"b91b1b.57ecd4e8","type":"ui_button","z":"bb63d718.931208","name":"","group":"913b3f65.8b281","order":6,"width":"3","height":"2","passthru":false,"label":"24","tooltip":"","color":"","bgcolor":"","icon":"","payload":"TOGGLE","payloadType":"str","topic":"","x":1050,"y":460,"wires":[["3c9fe8bd.319fb8"]]},{"id":"6e3faea4.c4467","type":"mqtt out","z":"bb63d718.931208","name":"Luz Distribuidor (28)","topic":"Arduino/PBTablero/in/Relay/28","qos":"","retain":"false","broker":"1ad27743.ce9fb9","x":1180,"y":960,"wires":[],"inputLabels":["kkl"]},{"id":"d700df73.35ba4","type":"mqtt out","z":"bb63d718.931208","name":"Luz Escritorio (30)","topic":"Arduino/PBTablero/in/Relay/30","qos":"","retain":"false","broker":"1ad27743.ce9fb9","x":690,"y":940,"wires":[],"inputLabels":["kkl"]},{"id":"1fd7774e.b0dce9","type":"mqtt out","z":"bb63d718.931208","name":"Luz Comedor (26)","topic":"Arduino/PBTablero/in/Relay/26","qos":"","retain":"false","broker":"1ad27743.ce9fb9","x":1170,"y":840,"wires":[],"inputLabels":["kkl"]},{"id":"1e1a71ae.7d617e","type":"mqtt out","z":"bb63d718.931208","name":"Reflector Patio (32)","topic":"Arduino/PBTablero/in/Relay/32","qos":"","retain":"false","broker":"1ad27743.ce9fb9","x":690,"y":1060,"wires":[],"inputLabels":["kkl"]},{"id":"d58fafa8.afc3a","type":"mqtt out","z":"bb63d718.931208","name":"Luz Vestidor (34)","topic":"Arduino/PBTablero/in/Relay/34","qos":"","retain":"false","broker":"1ad27743.ce9fb9","x":850,"y":700,"wires":[],"inputLabels":["kkl"]},{"id":"b305e4f1.6db828","type":"mqtt out","z":"bb63d718.931208","name":"Luz Patio (36)","topic":"Arduino/PBTablero/in/Relay/36","qos":"","retain":"false","broker":"1ad27743.ce9fb9","x":680,"y":1000,"wires":[],"inputLabels":["kkl"]},{"id":"6b807e1a.a88bd","type":"mqtt out","z":"bb63d718.931208","name":"38","topic":"Arduino/PBTablero/in/Relay/38","qos":"","retain":"","broker":"1ad27743.ce9fb9","x":1250,"y":500,"wires":[],"inputLabels":["kkl"]},{"id":"95abcc9a.c6c88","type":"ui_button","z":"bb63d718.931208","name":"","group":"913b3f65.8b281","order":2,"width":"3","height":"2","passthru":false,"label":"38","tooltip":"","color":"","bgcolor":"","icon":"","payload":"TOGGLE","payloadType":"str","topic":"","x":1050,"y":500,"wires":[["6b807e1a.a88bd"]]},{"id":"f6f9e411.ad5958","type":"mqtt out","z":"bb63d718.931208","name":"Tomas Escritorio (40)","topic":"Arduino/PBTablero/in/Relay/40","qos":"","retain":"false","broker":"1ad27743.ce9fb9","x":1220,"y":1300,"wires":[],"inputLabels":["kkl"]},{"id":"80bef1c8.5912c","type":"mqtt out","z":"bb63d718.931208","name":"Luz Escalera (42)","topic":"Arduino/PBTablero/in/Relay/42","qos":"","retain":"false","broker":"1ad27743.ce9fb9","x":1170,"y":1200,"wires":[],"inputLabels":["kkl"]},{"id":"48b04e6.93c95b","type":"mqtt out","z":"bb63d718.931208","name":"46","topic":"Arduino/PBTablero/in/Relay/46","qos":"","retain":"","broker":"1ad27743.ce9fb9","x":1250,"y":560,"wires":[],"inputLabels":["kkl"]},{"id":"15cc5b24.de0bd5","type":"ui_button","z":"bb63d718.931208","name":"","group":"913b3f65.8b281","order":5,"width":"3","height":"2","passthru":false,"label":"46","tooltip":"","color":"","bgcolor":"","icon":"","payload":"TOGGLE","payloadType":"str","topic":"","x":1050,"y":560,"wires":[["48b04e6.93c95b"]]},{"id":"104f8203.015b3e","type":"mqtt out","z":"bb63d718.931208","name":"Luz Living (48)","topic":"Arduino/PBTablero/in/Relay/48","qos":"","retain":"false","broker":"1ad27743.ce9fb9","x":1180,"y":1120,"wires":[],"inputLabels":["kkl"]},{"id":"e8542bdb.c78c48","type":"mqtt out","z":"bb63d718.931208","name":"50","topic":"Arduino/PBTablero/in/Relay/50","qos":"","retain":"","broker":"1ad27743.ce9fb9","x":1250,"y":600,"wires":[],"inputLabels":["kkl"]},{"id":"d43f8e58.7477d","type":"ui_button","z":"bb63d718.931208","name":"","group":"913b3f65.8b281","order":3,"width":"3","height":"2","passthru":false,"label":"50","tooltip":"","color":"","bgcolor":"","icon":"","payload":"TOGGLE","payloadType":"str","topic":"","x":1050,"y":600,"wires":[["e8542bdb.c78c48"]]},{"id":"ba06410d.21eed","type":"mqtt in","z":"4329d030.ac594","name":"Teclas Escritorio 1 (43) (Marron Claro)","topic":"Arduino/PBTablero/out/Button/43/toggle","qos":"2","broker":"1ad27743.ce9fb9","x":630,"y":160,"wires":[["9549a648.31a008"]]},{"id":"cacc8c6.1db477","type":"mqtt in","z":"4329d030.ac594","name":"Teclas Comedor 2 (45)  (Naranja Claro)","topic":"Arduino/PBTablero/out/Button/45/toggle","qos":"2","broker":"1ad27743.ce9fb9","x":630,"y":240,"wires":[["4f2f07ae.451ce8"]]},{"id":"9549a648.31a008","type":"function","z":"4329d030.ac594","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":160,"wires":[[]]},{"id":"4f2f07ae.451ce8","type":"function","z":"4329d030.ac594","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":240,"wires":[[]]},{"id":"a478fa1.383f408","type":"subflow:4329d030.ac594","z":"bb63d718.931208","name":"","x":220,"y":1100,"wires":[["d700df73.35ba4"],["1e1a71ae.7d617e"]]},{"id":"c9a8d319.b74a7","type":"mqtt in","z":"d1c44675.ff7c58","name":"Teclas Escalera 1 (49) (UTP Verde)","topic":"Arduino/PBTablero/out/Button/49/toggle","qos":"2","broker":"1ad27743.ce9fb9","x":500,"y":160,"wires":[["ee3445cd.4bc588"]]},{"id":"aea402da.e7db4","type":"mqtt in","z":"d1c44675.ff7c58","name":"Teclas Escalera 2 (39)  (UTP Naranja)","topic":"Arduino/PBTablero/out/Button/39/toggle","qos":"2","broker":"1ad27743.ce9fb9","x":510,"y":240,"wires":[["b9b56de3.61b1a"]]},{"id":"a60cbf82.5aaf1","type":"mqtt in","z":"d1c44675.ff7c58","name":"Teclas Escalera 3 (41)  (UTP Azul Claro)","topic":"Arduino/PBTablero/out/Button/41/toggle","qos":"2","broker":"1ad27743.ce9fb9","x":510,"y":320,"wires":[["c1cb512c.d2da8"]]},{"id":"ee3445cd.4bc588","type":"function","z":"d1c44675.ff7c58","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":160,"wires":[[]]},{"id":"b9b56de3.61b1a","type":"function","z":"d1c44675.ff7c58","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":240,"wires":[[]]},{"id":"c1cb512c.d2da8","type":"function","z":"d1c44675.ff7c58","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":320,"wires":[[]]},{"id":"a6aa7bbe.024c78","type":"subflow:d1c44675.ff7c58","z":"bb63d718.931208","name":"","x":220,"y":1180,"wires":[["80bef1c8.5912c"],["6e3faea4.c4467"],["13c009f0.c3cc06"],["80bef1c8.5912c"]]},{"id":"93783de8.9ed18","type":"mqtt in","z":"d1c44675.ff7c58","name":"Teclas Escalera Arriba (47)  (UTP Azul)","topic":"Arduino/PBTablero/out/Button/47/toggle","qos":"2","broker":"1ad27743.ce9fb9","x":510,"y":400,"wires":[["648562a3.49f70c"]]},{"id":"648562a3.49f70c","type":"function","z":"d1c44675.ff7c58","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":400,"wires":[[]]},{"id":"43d17969.14ea08","type":"function","z":"bb63d718.931208","name":"Apagar PB","func":"msg.payload = \"0\";\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1220,"wires":[["104f8203.015b3e","6e3faea4.c4467","1fd7774e.b0dce9","d700df73.35ba4","d58fafa8.afc3a","1e1a71ae.7d617e","b305e4f1.6db828","1159aa54.7e9ad6"]]},{"id":"76df58a3.9fc248","type":"function","z":"bb63d718.931208","name":"Prender","func":"msg.payload = \"1\";\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":1280,"wires":[["80bef1c8.5912c"]]},{"id":"a072092b.57f2e8","type":"mqtt in","z":"235e5af0.561006","name":"","topic":"Arduino/+/out/Sensores/RF433","qos":"2","broker":"1ad27743.ce9fb9","x":170,"y":460,"wires":[["8654a4a2.6ce7f8","c7aa34b2.867fb8","b8e5ec90.b7e1a","62acdaee.5710d4"]]},{"id":"8654a4a2.6ce7f8","type":"switch","z":"235e5af0.561006","name":"Sensor","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"6173422","vt":"str"},{"t":"eq","v":"10721578","vt":"str"},{"t":"eq","v":"8359674","vt":"str"},{"t":"eq","v":"2089918","vt":"str"},{"t":"eq","v":"4023790","vt":"str"},{"t":"eq","v":"15524906","vt":"str"}],"checkall":"false","repair":false,"outputs":6,"x":420,"y":480,"wires":[[],["fbc45d11.96fee","7e7ba32f.2ed2ec"],["6e7c6369.e563cc"],[],[],["56da131b.f6a38c","875113b9.1007f"]],"outputLabels":["Apertura Ventana Comedor","Sensor Movimiento Patio","Sensor Movimiento Entrada","","","Sensor Movimiento Vestidor"]},{"id":"1e3ca871.15f0e8","type":"trigger","z":"235e5af0.561006","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":770,"y":460,"wires":[["6ce2e5e9.a8672c"]]},{"id":"6ce2e5e9.a8672c","type":"mqtt out","z":"235e5af0.561006","name":"Reflector Patio (32)","topic":"Arduino/PBTablero/in/Relay/32","qos":"","retain":"true","broker":"1ad27743.ce9fb9","x":970,"y":460,"wires":[],"inputLabels":["kkl"]},{"id":"1fefe0db.43387f","type":"change","z":"2bcc0ccb.cd26a4","name":"","rules":[{"t":"set","p":"EsDeNoche","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":400,"wires":[["725ae951.b61ef8"]]},{"id":"fbc45d11.96fee","type":"switch","z":"235e5af0.561006","name":"Es de Noche","property":"EsDeDia","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":590,"y":460,"wires":[[],["1e3ca871.15f0e8"]],"outputLabels":["Dia","Noche"]},{"id":"13c009f0.c3cc06","type":"switch","z":"bb63d718.931208","name":"Doble Click","property":"ApagarPB","propertyType":"flow","rules":[{"t":"else"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":1260,"wires":[["c8553840.d9dc38","c3acd3f.3c65b3"],["d638f01b.851fa","45c91492.2569fc","ed524448.244858"]],"outputLabels":["Primera Vez","Segunda Vez"]},{"id":"c8553840.d9dc38","type":"change","z":"bb63d718.931208","name":"Set Doble Click","rules":[{"t":"set","p":"ApagarPB","pt":"flow","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1420,"wires":[["db447b8a.783528"]]},{"id":"d638f01b.851fa","type":"change","z":"bb63d718.931208","name":"Reset Doble Click","rules":[{"t":"set","p":"ApagarPB","pt":"flow","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1400,"wires":[[]]},{"id":"db447b8a.783528","type":"delay","z":"bb63d718.931208","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":1420,"wires":[["d638f01b.851fa"]]},{"id":"45c91492.2569fc","type":"switch","z":"bb63d718.931208","name":"Es de Dia","property":"EsDeDia","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":1280,"wires":[[],["76df58a3.9fc248"]],"outputLabels":["Dia","Noche"]},{"id":"c7aa34b2.867fb8","type":"debug","z":"235e5af0.561006","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":560,"wires":[]},{"id":"8c28a21d.0b5dd","type":"mqtt in","z":"57b26073.47916","name":"Buttons Toggle","topic":"Arduino/+/out/Button/+/toggle","qos":"2","broker":"1ad27743.ce9fb9","x":180,"y":540,"wires":[["666818ba.645868","7584323d.8efc2c"]]},{"id":"bdf4a3ed.2e2ca","type":"mqtt in","z":"bb63d718.931208","name":"Tecla Tablero Naranja Claro UTP Gris (33)","topic":"Arduino/PBTablero/out/Button/33/toggle","qos":"2","broker":"1ad27743.ce9fb9","x":400,"y":580,"wires":[["79125292.2384ec"]]},{"id":"79125292.2384ec","type":"function","z":"bb63d718.931208","name":"Force","func":"if (msg.payload == \"0\")\n    {msg.payload = \"unforce\";}\nelse\n    {msg.payload = \"force-1\";}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":580,"wires":[["60ed99dc.830dd8"]]},{"id":"ea0c865d.ea1e08","type":"link in","z":"bb63d718.931208","name":"Apagar Luces PB","links":["c3acd3f.3c65b3","3384ee93.136ba2","bd05e2f5.6e656"],"x":755,"y":1220,"wires":[["43d17969.14ea08"]]},{"id":"c3acd3f.3c65b3","type":"link out","z":"bb63d718.931208","name":"","links":["ea0c865d.ea1e08"],"x":715,"y":1220,"wires":[]},{"id":"fce73a35.a51d58","type":"ui_button","z":"c5b2ea55.84d058","name":"","group":"837d3079.305cd","order":14,"width":0,"height":0,"passthru":false,"label":"Activar Modo Proyector","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":290,"y":420,"wires":[["bd05e2f5.6e656"]]},{"id":"b8e5ec90.b7e1a","type":"function","z":"235e5af0.561006","name":"Setear Fecha","func":"global.set(msg.payload,new Date())\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":400,"wires":[[]]},{"id":"58568a39.50a6d4","type":"link in","z":"295f893a.42f726","name":"AAC Apagar","links":["26f8115c.6b657e"],"x":475,"y":440,"wires":[["6469230a.5002ac"]]},{"id":"6469230a.5002ac","type":"change","z":"295f893a.42f726","name":"Apagar AAC","rules":[{"t":"set","p":"payload","pt":"msg","to":"89,86,11,31,11,10,11,32,11,32,11,10,11,10,11,31,11,10,12,10,11,32,11,10,11,10,11,31,11,32,11,10,11,32,11,10,11,31,12,32,11,31,11,32,11,10,11,32,11,32,11,31,11,10,11,10,11,10,11,10,11,32,11,10,11,10,11,31,11,32,11,31,11,10,11,10,11,10,11,10,11,10,11,10,11,10,11,10,11,31,11,32,11,32,11,32,11,32,12,103,89,86,11,32,11,10,11,32,11,32,11,10,11,10,11,32,11,10,11,10,11,31,11,10,11,10,11,32,11,32,11,10,11,32,11,10,11,32,11,32,11,32,11,32,11,10,11,32,11,32,11,31,11,10,11,10,11,10,11,10,11,32,11,10,11,10,11,31,11,32,11,32,11,10,11,10,11,10,11,10,11,10,11,10,11,10,11,10,11,32,11,32,11,32,11,32,11,32,11","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":440,"wires":[["66ea1ea6.f51c9"]]},{"id":"c28715fd.aebe78","type":"ui_button","z":"295f893a.42f726","name":"","group":"837d3079.305cd","order":7,"width":0,"height":0,"passthru":false,"label":"Apagar IR Living","tooltip":"","color":"","bgcolor":"","icon":"","payload":"182,88,12,32,12,32,12,10,12,10,12,9,12,10,12,9,12,32,12,10,12,10,12,32,12,10,12,32,12,32,12,32,12,32,12,10,12,10,12,10,12,10,12,32,12,32,12,10,12,10,12,32,12,32,12,32,12,32,12,10,12,10,12,32,12,32,12","payloadType":"str","topic":"","x":1020,"y":560,"wires":[["d87b7cfd.51b71"]]},{"id":"d87b7cfd.51b71","type":"link out","z":"295f893a.42f726","name":"","links":["550e66eb.5a2678","6055a41.50a7f5c"],"x":1195,"y":580,"wires":[]},{"id":"3d8ca24f.a3ff5e","type":"ui_button","z":"c5b2ea55.84d058","name":"","group":"837d3079.305cd","order":14,"width":0,"height":0,"passthru":false,"label":"Apagar Todo PB","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":240,"wires":[["65481fe8.c3dd"]]},{"id":"a905769a.3cb038","type":"link in","z":"c5b2ea55.84d058","name":"Apagar Todo Planta Baja","links":["ed524448.244858","65481fe8.c3dd"],"x":235,"y":120,"wires":[["5f169587.07a31c","25b13e03.853852","3384ee93.136ba2","745f0f58.b0dd8"]]},{"id":"5f169587.07a31c","type":"link out","z":"c5b2ea55.84d058","name":"","links":["550e66eb.5a2678","6055a41.50a7f5c"],"x":475,"y":100,"wires":[]},{"id":"25b13e03.853852","type":"link out","z":"c5b2ea55.84d058","name":"","links":["4ed881e6.4c7a2"],"x":595,"y":140,"wires":[]},{"id":"3384ee93.136ba2","type":"link out","z":"c5b2ea55.84d058","name":"","links":["ea0c865d.ea1e08"],"x":475,"y":180,"wires":[]},{"id":"a2d82b6a.3909a8","type":"ui_button","z":"c5b2ea55.84d058","name":"","group":"837d3079.305cd","order":14,"width":0,"height":0,"passthru":false,"label":"Apagar Luces PB","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":270,"y":520,"wires":[["bd05e2f5.6e656"]]},{"id":"65481fe8.c3dd","type":"link out","z":"c5b2ea55.84d058","name":"","links":["a905769a.3cb038"],"x":135,"y":340,"wires":[]},{"id":"bd05e2f5.6e656","type":"link out","z":"c5b2ea55.84d058","name":"","links":["ea0c865d.ea1e08"],"x":635,"y":520,"wires":[]},{"id":"745f0f58.b0dd8","type":"link out","z":"c5b2ea55.84d058","name":"","links":["6ca521c4.a62d8"],"x":475,"y":220,"wires":[]},{"id":"ed524448.244858","type":"link out","z":"bb63d718.931208","name":"","links":["a905769a.3cb038"],"x":735,"y":1340,"wires":[]},{"id":"3bf0f746.bff0d8","type":"function","z":"887b2e31.18293","name":"Separar Topic","func":"var topics = msg.topic.split(\"/\");\nmsg.arduino =  topics[1];\nmsg.relay =  topics[4];\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":340,"wires":[["1a27ef99.f047a","97dab7ab.a7c948"]]},{"id":"1a27ef99.f047a","type":"switch","z":"887b2e31.18293","name":"Aduino","property":"arduino","propertyType":"msg","rules":[{"t":"eq","v":"PBTablero","vt":"str"},{"t":"eq","v":"PBLiving","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":340,"wires":[["6e803e9f.3fed1"],["7691be04.f618d"]],"outputLabels":["Tablero","Living"]},{"id":"6e803e9f.3fed1","type":"switch","z":"887b2e31.18293","name":"Tablero","property":"relay","propertyType":"msg","rules":[{"t":"eq","v":"26","vt":"str"},{"t":"eq","v":"28","vt":"str"},{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"32","vt":"str"},{"t":"eq","v":"34","vt":"str"},{"t":"eq","v":"36","vt":"str"},{"t":"eq","v":"38","vt":"str"},{"t":"eq","v":"40","vt":"str"},{"t":"eq","v":"42","vt":"str"},{"t":"eq","v":"44","vt":"str"},{"t":"eq","v":"46","vt":"str"},{"t":"eq","v":"48","vt":"str"}],"checkall":"false","repair":false,"outputs":12,"x":720,"y":300,"wires":[["b9fd7b44.1ff218"],["a40018d7.3573f8"],["5bf062f5.67438c"],["7974db4.e5cf524"],["c1cc9f3b.956ff"],["d2a4ea2a.2c1288"],[],["464e40ab.062a3"],["c58df6a3.089e88"],[],[],["384c1577.e7793a"]],"outputLabels":["Comedor (26)","Distribuidor (28)","Luiz Escritorio (30)","Reflector Patio (32)","Vestidor (34)","Patio (36)","38","Toma Escritorio (40)","Escalera (42)","44","46","Living (48)"]},{"id":"7691be04.f618d","type":"switch","z":"887b2e31.18293","name":"Living","property":"relay","propertyType":"msg","rules":[{"t":"eq","v":"24","vt":"str"},{"t":"eq","v":"26","vt":"str"},{"t":"eq","v":"28","vt":"str"},{"t":"eq","v":"30","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":710,"y":520,"wires":[["7cef22c5.6999bc"],["23f565bd.45fb9a","76741a46.ec1784"],["3d690c4e.637994"],["7b4dca76.1c3a74"]],"outputLabels":["Frente (24)","Subwoofer (26)","Tomtas Tv (28)","Luces Balcon (30)"]},{"id":"b9fd7b44.1ff218","type":"ui_switch","z":"887b2e31.18293","name":"","label":"Comedor","tooltip":"","group":"8baa852c.3b6cc8","order":2,"width":"3","height":"1","passthru":false,"decouple":"true","topic":"Arduino/PBTablero/in/Relay/26","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1020,"y":100,"wires":[["8591f331.53aaf"]]},{"id":"a40018d7.3573f8","type":"ui_switch","z":"887b2e31.18293","name":"","label":"Distribuidor","tooltip":"","group":"8baa852c.3b6cc8","order":1,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"Arduino/PBTablero/in/Relay/28","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1030,"y":140,"wires":[["8591f331.53aaf"]]},{"id":"8591f331.53aaf","type":"mqtt out","z":"887b2e31.18293","name":"Relays","topic":"","qos":"","retain":"false","broker":"1ad27743.ce9fb9","x":1330,"y":360,"wires":[],"inputLabels":["kkl"]},{"id":"5bf062f5.67438c","type":"ui_switch","z":"887b2e31.18293","name":"","label":"Escritorio","tooltip":"","group":"5635ed61.b910e4","order":1,"width":"3","height":"1","passthru":false,"decouple":"true","topic":"Arduino/PBTablero/in/Relay/30","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1020,"y":180,"wires":[["8591f331.53aaf"]]},{"id":"7974db4.e5cf524","type":"ui_switch","z":"887b2e31.18293","name":"","label":"Reflector Patio","tooltip":"","group":"582f7a51.db5c44","order":2,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"Arduino/PBTablero/in/Relay/32","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1040,"y":220,"wires":[["8591f331.53aaf"]]},{"id":"c1cc9f3b.956ff","type":"ui_switch","z":"887b2e31.18293","name":"","label":"Vestidor","tooltip":"","group":"6d3da8b1.90ed78","order":2,"width":"3","height":"1","passthru":false,"decouple":"true","topic":"Arduino/PBTablero/in/Relay/34","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1020,"y":260,"wires":[["8591f331.53aaf"]]},{"id":"d2a4ea2a.2c1288","type":"ui_switch","z":"887b2e31.18293","name":"","label":"Patio","tooltip":"","group":"582f7a51.db5c44","order":1,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"Arduino/PBTablero/in/Relay/36","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1010,"y":300,"wires":[["8591f331.53aaf"]]},{"id":"464e40ab.062a3","type":"ui_switch","z":"887b2e31.18293","name":"","label":"Tomas Escritorio","tooltip":"","group":"5635ed61.b910e4","order":2,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"Arduino/PBTablero/in/Relay/40","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1040,"y":340,"wires":[["8591f331.53aaf"]]},{"id":"c58df6a3.089e88","type":"ui_switch","z":"887b2e31.18293","name":"","label":"Escalera","tooltip":"","group":"8baa852c.3b6cc8","order":3,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"Arduino/PBTablero/in/Relay/42","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1020,"y":380,"wires":[["8591f331.53aaf"]]},{"id":"384c1577.e7793a","type":"ui_switch","z":"887b2e31.18293","name":"","label":"Living","tooltip":"","group":"6d3da8b1.90ed78","order":1,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"Arduino/PBTablero/in/Relay/48","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1010,"y":420,"wires":[["8591f331.53aaf"]]},{"id":"23f565bd.45fb9a","type":"ui_switch","z":"887b2e31.18293","name":"","label":"Subwoofers","tooltip":"","group":"6d3da8b1.90ed78","order":4,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"Arduino/PBLiving/in/Relay/26","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1030,"y":520,"wires":[["8591f331.53aaf"]]},{"id":"3d690c4e.637994","type":"ui_switch","z":"887b2e31.18293","name":"","label":"Tomas TV","tooltip":"","group":"6d3da8b1.90ed78","order":3,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"Arduino/PBLiving/in/Relay/28","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1020,"y":560,"wires":[["8591f331.53aaf"]]},{"id":"7cef22c5.6999bc","type":"ui_switch","z":"887b2e31.18293","name":"","label":"Frente","tooltip":"","group":"a95b4552.f7fa88","order":2,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"Arduino/PBLiving/in/Relay/24","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1010,"y":480,"wires":[["8591f331.53aaf"]]},{"id":"7b4dca76.1c3a74","type":"ui_switch","z":"887b2e31.18293","name":"","label":"Balcon","tooltip":"","group":"a95b4552.f7fa88","order":3,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"Arduino/PBLiving/in/Relay/30","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1010,"y":600,"wires":[["8591f331.53aaf"]]},{"id":"ef3c0dd1.4e914","type":"mqtt in","z":"887b2e31.18293","name":"","topic":"Arduino/+/out/Relay/+","qos":"2","datatype":"auto","broker":"1ad27743.ce9fb9","x":160,"y":340,"wires":[["3bf0f746.bff0d8"]]},{"id":"2942877b.3cd328","type":"mqtt in","z":"2228dc2c.99e004","name":"Celu Chicho","topic":"OpenWrt/+/status/mac-b8-d7-af-b0-e2-9d/event","qos":"2","broker":"1ad27743.ce9fb9","x":150,"y":400,"wires":[["8806729d.692f9"]]},{"id":"8806729d.692f9","type":"trigger","z":"2228dc2c.99e004","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"10","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":370,"y":400,"wires":[["73c5d745.50d6b8"]]},{"id":"ccda35c.053ecc8","type":"mqtt in","z":"2228dc2c.99e004","name":"Celu Babu","topic":"OpenWrt/+/status/mac-38-80-df-18-15-ec/event","qos":"2","broker":"1ad27743.ce9fb9","x":140,"y":540,"wires":[["dd6a52b3.6617d"]]},{"id":"dd6a52b3.6617d","type":"trigger","z":"2228dc2c.99e004","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"10","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":310,"y":540,"wires":[["679956e6.e82388"]]},{"id":"73c5d745.50d6b8","type":"switch","z":"2228dc2c.99e004","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"new","vt":"str"},{"t":"eq","v":"del","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":400,"wires":[["ba660829.d94f18"],["aed88acf.478a28"]],"outputLabels":["Conectado","Desconectado"]},{"id":"ba660829.d94f18","type":"change","z":"2228dc2c.99e004","name":"","rules":[{"t":"set","p":"ChichoPresente","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":400,"wires":[["5fcded9.0865814"]]},{"id":"aed88acf.478a28","type":"change","z":"2228dc2c.99e004","name":"","rules":[{"t":"set","p":"ChichoPresente","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":440,"wires":[["5fcded9.0865814"]]},{"id":"679956e6.e82388","type":"switch","z":"2228dc2c.99e004","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"new","vt":"str"},{"t":"eq","v":"del","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":540,"wires":[["4b025905.3cc0c8"],["22f9821d.a23dbe"]],"outputLabels":["Conectado","Desconectado"]},{"id":"4b025905.3cc0c8","type":"change","z":"2228dc2c.99e004","name":"","rules":[{"t":"set","p":"BabuPresente","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":520,"wires":[["5fcded9.0865814"]]},{"id":"22f9821d.a23dbe","type":"change","z":"2228dc2c.99e004","name":"","rules":[{"t":"set","p":"BabuPresente","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":560,"wires":[["5fcded9.0865814"]]},{"id":"5fcded9.0865814","type":"function","z":"2228dc2c.99e004","name":"AlguienPresente","func":"var AlguienPres = (global.get(\"BabuPresente\") || global.get(\"ChichoPresente\"));\nglobal.set(\"AlguienPresente\",AlguienPres);\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":500,"wires":[[]]},{"id":"c1566fcc.e4eaa","type":"mqtt out","z":"57b26073.47916","name":"","topic":"","qos":"","retain":"","broker":"1ad27743.ce9fb9","x":1030,"y":400,"wires":[]},{"id":"6d72d354.428d6c","type":"mqtt in","z":"57b26073.47916","name":"","topic":"Arduino/+/out/IP","qos":"2","datatype":"auto","broker":"1ad27743.ce9fb9","x":200,"y":480,"wires":[["256f449a.6123fc","666818ba.645868"]]},{"id":"413f35da.f67f5c","type":"mqtt in","z":"d0c77eb4.886e7","name":"Compu LasSeen","topic":"LIVING/lastseen/epoch","qos":"2","broker":"1ad27743.ce9fb9","x":120,"y":140,"wires":[["7f6526a6.d24708"]]},{"id":"7f6526a6.d24708","type":"trigger","z":"d0c77eb4.886e7","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":330,"y":140,"wires":[["ef8f262.37035d8"]]},{"id":"ef8f262.37035d8","type":"change","z":"d0c77eb4.886e7","name":"set CompuPrendida","rules":[{"t":"set","p":"CompuPrendida","pt":"global","to":"$boolean(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":140,"wires":[["26418e8.f185b72","68d8060d.bd4da8"]]},{"id":"26418e8.f185b72","type":"mqtt out","z":"d0c77eb4.886e7","name":"Tomas Escritorio (40)","topic":"Arduino/PBTablero/in/Relay/40","qos":"","retain":"","broker":"1ad27743.ce9fb9","x":860,"y":80,"wires":[],"inputLabels":["kkl"]},{"id":"8cc81701.1d2f78","type":"ui_button","z":"d0c77eb4.886e7","name":"","group":"4776a043.c6708","order":1,"width":"3","height":"1","passthru":false,"label":"Prender","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1040,"y":60,"wires":[["849b3d9f.dee7d"]]},{"id":"6ca521c4.a62d8","type":"link in","z":"d0c77eb4.886e7","name":"Apagar PC","links":["745f0f58.b0dd8"],"x":935,"y":220,"wires":[["e1c0ca03.795908"]]},{"id":"e1c0ca03.795908","type":"function","z":"d0c77eb4.886e7","name":"Apagar Compu","func":"msg.payload = \"now\";\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":220,"wires":[["e85602ca.7f09"]]},{"id":"e85602ca.7f09","type":"mqtt out","z":"d0c77eb4.886e7","name":"","topic":"LIVING/in/shutdown","qos":"","retain":"false","broker":"1ad27743.ce9fb9","x":1220,"y":360,"wires":[]},{"id":"861d211f.91bd2","type":"ui_button","z":"d0c77eb4.886e7","name":"","group":"4776a043.c6708","order":2,"width":"3","height":"1","passthru":false,"label":"Apagar","tooltip":"","color":"","bgcolor":"","icon":"fa-power-off","payload":"TOGGLE","payloadType":"str","topic":"","x":960,"y":280,"wires":[["e1c0ca03.795908"]]},{"id":"68d8060d.bd4da8","type":"ui_switch","z":"d0c77eb4.886e7","name":"","label":"Compu","tooltip":"","group":"5635ed61.b910e4","order":3,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":800,"y":140,"wires":[["c56c377d.5386b8"]]},{"id":"133875fc.e712aa","type":"change","z":"2bcc0ccb.cd26a4","name":"","rules":[{"t":"set","p":"EsDeDia","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":300,"wires":[[]]},{"id":"c56c377d.5386b8","type":"switch","z":"d0c77eb4.886e7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":140,"wires":[["849b3d9f.dee7d"],["e1c0ca03.795908"]],"outputLabels":["Prendida","Apagada"]},{"id":"adc054f7.7b3a78","type":"mqtt in","z":"d0c77eb4.886e7","name":"Compu Apagando ","topic":"LIVING/out/SHUTDOWN","qos":"1","broker":"1ad27743.ce9fb9","x":150,"y":240,"wires":[["3bc3e4a7.a3a2bc"]]},{"id":"3bc3e4a7.a3a2bc","type":"change","z":"d0c77eb4.886e7","name":"Payload 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":200,"wires":[["ef8f262.37035d8"]]},{"id":"b1d29e4f.f0f78","type":"mqtt in","z":"d0c77eb4.886e7","name":"Compu Prendida","topic":"LIVING/out/IP","qos":"1","broker":"1ad27743.ce9fb9","x":140,"y":60,"wires":[["1a8b8922.1ae247"]]},{"id":"1a8b8922.1ae247","type":"change","z":"d0c77eb4.886e7","name":"Payload 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":80,"wires":[["ef8f262.37035d8"]]},{"id":"37791139.092ede","type":"exec","z":"3e473a01.8f8df6","command":"ps4-waker standby","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Stand By","x":680,"y":120,"wires":[[],[],[]]},{"id":"7d2472a2.30d41c","type":"exec","z":"3e473a01.8f8df6","command":"ps4-waker","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Prender","x":660,"y":220,"wires":[[],[],[]]},{"id":"ecec0d4d.75abb","type":"link in","z":"3e473a01.8f8df6","name":"PS4 StandBy","links":["2b6212be.bbb05e","5c1eb982.eb3e88","79fc54ec.57faec"],"x":200,"y":120,"wires":[["37791139.092ede"]]},{"id":"75850dc9.24f0e4","type":"link in","z":"3e473a01.8f8df6","name":"PS4 Prender","links":["d5512660.a02bf8","8fbf78ab.1f29a8","e83353ed.ea3a2"],"x":215,"y":220,"wires":[["7d2472a2.30d41c"]]},{"id":"5b01d785.763578","type":"ui_button","z":"3e473a01.8f8df6","name":"","group":"6d364717.d4fd68","order":2,"width":"3","height":"1","passthru":false,"label":"Apagar","tooltip":"","color":"","bgcolor":"","icon":"fa-power-off","payload":"","payloadType":"str","topic":"","x":340,"y":80,"wires":[["37791139.092ede"]]},{"id":"6ec5d081.13756","type":"ui_button","z":"3e473a01.8f8df6","name":"","group":"6d364717.d4fd68","order":1,"width":"3","height":"1","passthru":false,"label":"Prender","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":340,"y":180,"wires":[["7d2472a2.30d41c"]]},{"id":"66ea1ea6.f51c9","type":"mqtt out","z":"295f893a.42f726","name":"","topic":"Arduino/PBTablero/in/IR/RAW","qos":"","retain":"","broker":"1ad27743.ce9fb9","x":1050,"y":360,"wires":[]},{"id":"87d09d20.76ddc","type":"change","z":"230ac56e.bc629a","name":"Power Muteki","rules":[{"t":"set","p":"payload","pt":"msg","to":"49,11,24,11,12,11,24,11,12,11,24,11,12,10,13,11,12,10,13,11,12,10,13,10,25,10,25,11,12,11,12,430","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":160,"wires":[["e14546fc.fe30c8"]]},{"id":"ad23c6a.6bda438","type":"link in","z":"230ac56e.bc629a","name":"Muteki Apagar","links":["1c538dff.50a992","4584644d.b2547c","744d68f5.52b7b8"],"x":435,"y":380,"wires":[["667368e5.39beb8","dfb47d02.7d201"]]},{"id":"667368e5.39beb8","type":"change","z":"230ac56e.bc629a","name":"Apagar Subwoofers","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":440,"wires":[["b57ff1b4.07a6f"]]},{"id":"b57ff1b4.07a6f","type":"mqtt out","z":"230ac56e.bc629a","name":"Toma SubWoofer (26)","topic":"Arduino/PBLiving/in/Relay/26","qos":"","retain":"false","broker":"1ad27743.ce9fb9","x":900,"y":440,"wires":[],"inputLabels":["kkl"]},{"id":"7dbba7.e218f458","type":"ui_button","z":"230ac56e.bc629a","name":"","group":"7ad1e0a0.b2f66","order":2,"width":"3","height":"1","passthru":false,"label":"PS4","tooltip":"","color":"","bgcolor":"","icon":"","payload":"49,10,25,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,25,10,13,10,25,10,13,11,12,311,49,10,25,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,25,10,13,10,25,10,13,11,12,311,49,10,25,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,25,10,13,10,25,10,13,11,12,311,49,10,25,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,25,10,13,10,25,10,13,11,12,311,49,10,25,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,25,10,13,10,25,10,13,11,12,311","payloadType":"str","topic":"","x":450,"y":100,"wires":[["c8ed4564.50aa78"]]},{"id":"da95dadf.54feb8","type":"ui_button","z":"230ac56e.bc629a","name":"","group":"7ad1e0a0.b2f66","order":1,"width":"3","height":"1","passthru":false,"label":"Telecentro","tooltip":"","color":"","bgcolor":"","icon":"","payload":"49,10,13,10,25,10,13,10,13,10,25,10,13,10,13,10,13,10,13,10,13,10,13,10,25,10,13,10,13,11,12,10,25,10,13,10,25,11,12,10,13,310,49,11,12,10,25,10,13,11,12,11,24,11,12,11,13,10,13,10,13,11,12,10,13,10,25,11,12,10,13,10,13,11,24,10,13,10,25,10,13,10,13,311,48,11,12,11,24,11,12,11,12,11,24,11,12,10,12,11,12,10,13,11,12,11,12,10,25,10,13,11,12,11,12,11,24,11,12,10,25,10,13,11,12,49,10,13,10,25,10,13,10,13,10,25,10,13,10,13,10,13,10,13,10,13,10,13,10,25,10,13,10,13,11,12,10,25,10,13,10,25,11,12,10,13,310,49,11,12,10,25,10,13,11,12,11,24,11,12,11,13,10,13,10,13,11,12,10,13,10,25,11,12,10,13,10,13,11,24,10,13,10,25,10,13,10,13,311,48,11,12,11,24,11,12,11,12,11,24,11,12,10,12,11,12,10,13,11,12,11,12,10,25,10,13,11,12,11,12,11,24,11,12,10,25,10,13,11,12","payloadType":"str","topic":"","x":470,"y":200,"wires":[["69611082.28aee"]]},{"id":"8fbf78ab.1f29a8","type":"link out","z":"230ac56e.bc629a","name":"","links":["75850dc9.24f0e4","e4af47ab.016738"],"x":735,"y":140,"wires":[]},{"id":"b61ea9c6.b22358","type":"mqtt in","z":"9bee6473.dc8598","name":"TV Living LasSeen","topic":"OpenWrt/Ping/192.168.2.47/lastseen/epoch","qos":"2","broker":"1ad27743.ce9fb9","x":110,"y":300,"wires":[["93aca954.871cd8"]]},{"id":"93aca954.871cd8","type":"trigger","z":"9bee6473.dc8598","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":280,"y":300,"wires":[["9556d962.343f38"]]},{"id":"9556d962.343f38","type":"change","z":"9bee6473.dc8598","name":"set TVLivingPrendida","rules":[{"t":"set","p":"TVLivingPrendida","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":300,"wires":[["74209ce6.41be74","39f5845a.1a619c"]]},{"id":"74209ce6.41be74","type":"ui_switch","z":"9bee6473.dc8598","name":"","label":"TV","tooltip":"","group":"6d3da8b1.90ed78","order":5,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":690,"y":280,"wires":[["904ba9a9.7982b8"]]},{"id":"b0ec0aa3.8392f8","type":"ui_button","z":"9bee6473.dc8598","name":"","group":"913b3f65.8b281","order":1,"width":0,"height":0,"passthru":false,"label":"Power Tele","tooltip":"","color":"","bgcolor":"","icon":"","payload":"18,15,35,15,17,15,18,15,18,15,18,15,18,15,18,15,18,31,18,15,35,15,18","payloadType":"str","topic":"","x":650,"y":180,"wires":[["904ba9a9.7982b8"]]},{"id":"f4236661.eb0168","type":"mqtt out","z":"9bee6473.dc8598","name":"","topic":"Arduino/PBTablero/in/IR/RAW","qos":"","retain":"","broker":"1ad27743.ce9fb9","x":1230,"y":240,"wires":[]},{"id":"904ba9a9.7982b8","type":"change","z":"9bee6473.dc8598","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"18,15,35,15,17,15,18,15,18,15,18,15,18,15,18,15,18,31,18,15,35,15,18","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":240,"wires":[["f4236661.eb0168"]]},{"id":"abd1cb9f.c69ab8","type":"link in","z":"9bee6473.dc8598","name":"Apagar Tv Living","links":["e1d17441.b7bec8","449face5.ace8b4","5c1eb982.eb3e88","2ad750f0.7a56e"],"x":455,"y":60,"wires":[["b81bb3e8.bde01"]]},{"id":"e7f0a3b8.edc83","type":"link in","z":"9bee6473.dc8598","name":"Prender Tv Living","links":[],"x":455,"y":120,"wires":[["42bcab8.7dbea54"]]},{"id":"b81bb3e8.bde01","type":"switch","z":"9bee6473.dc8598","name":"Prendida?","property":"TVLivingPrendida","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":60,"wires":[["904ba9a9.7982b8"]],"outputLabels":["Prendida"]},{"id":"42bcab8.7dbea54","type":"switch","z":"9bee6473.dc8598","name":"Apagada?","property":"TVLivingPrendida","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":120,"wires":[["904ba9a9.7982b8"]],"outputLabels":["Prendida"]},{"id":"48e4772.7832188","type":"ui_button","z":"9bee6473.dc8598","name":"","group":"20a076b7.fe135a","order":4,"width":"3","height":"1","passthru":false,"label":"Subir Volumen","tooltip":"","color":"","bgcolor":"","icon":"fa-volume-up","payload":"18,14,36,15,18,15,18,15,18,14,18,15,18,15,18,31,35,15,18,15,18,15,18","payloadType":"str","topic":"","x":940,"y":380,"wires":[["f4236661.eb0168"]]},{"id":"9ba4f536.674c48","type":"ui_button","z":"9bee6473.dc8598","name":"","group":"20a076b7.fe135a","order":3,"width":"3","height":"1","passthru":false,"label":"Bajar Volumen","tooltip":"","color":"","bgcolor":"","icon":"fa-volume-down","payload":"18,15,35,15,17,15,18,15,18,15,18,15,18,15,18,32,35,15,18,15,18,31,18","payloadType":"str","topic":"","x":940,"y":420,"wires":[["f4236661.eb0168"]]},{"id":"e14546fc.fe30c8","type":"mqtt out","z":"230ac56e.bc629a","name":"","topic":"Arduino/PBTablero/in/IR/RAW","qos":"","retain":"","broker":"1ad27743.ce9fb9","x":930,"y":300,"wires":[]},{"id":"c8ed4564.50aa78","type":"change","z":"230ac56e.bc629a","name":"PS4","rules":[{"t":"set","p":"payload","pt":"msg","to":"49,10,25,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,25,10,13,10,25,10,13,11,12,311,49,10,25,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,25,10,13,10,25,10,13,11,12,311,49,10,25,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,25,10,13,10,25,10,13,11,12,311,49,10,25,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,25,10,13,10,25,10,13,11,12,311,49,10,25,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,25,10,13,10,25,10,13,11,12,311","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":140,"wires":[["e14546fc.fe30c8","8fbf78ab.1f29a8"]]},{"id":"69611082.28aee","type":"change","z":"230ac56e.bc629a","name":"Telecentro","rules":[{"t":"set","p":"payload","pt":"msg","to":"49,10,13,10,25,10,13,10,13,10,25,10,13,10,13,10,13,10,13,10,13,10,13,10,25,10,13,10,13,11,12,10,25,10,13,10,25,11,12,10,13,310,49,11,12,10,25,10,13,11,12,11,24,11,12,11,13,10,13,10,13,11,12,10,13,10,25,11,12,10,13,10,13,11,24,10,13,10,25,10,13,10,13,311,48,11,12,11,24,11,12,11,12,11,24,11,12,10,12,11,12,10,13,11,12,11,12,10,25,10,13,11,12,11,12,11,24,11,12,10,25,10,13,11,12,49,10,13,10,25,10,13,10,13,10,25,10,13,10,13,10,13,10,13,10,13,10,13,10,25,10,13,10,13,11,12,10,25,10,13,10,25,11,12,10,13,310,49,11,12,10,25,10,13,11,12,11,24,11,12,11,13,10,13,10,13,11,12,10,13,10,25,11,12,10,13,10,13,11,24,10,13,10,25,10,13,10,13,311,48,11,12,11,24,11,12,11,12,11,24,11,12,10,12,11,12,10,13,11,12,11,12,10,25,10,13,11,12,11,12,11,24,11,12,10,25,10,13,11,12","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":240,"wires":[["e14546fc.fe30c8"]]},{"id":"3cea545.81724ac","type":"link in","z":"230ac56e.bc629a","name":"Muteki Telecentro","links":[],"x":435,"y":240,"wires":[["69611082.28aee"]]},{"id":"f2785731.bd36e8","type":"link in","z":"230ac56e.bc629a","name":"Muteki PS4","links":[],"x":435,"y":140,"wires":[["c8ed4564.50aa78"]]},{"id":"7a8d5316.fd25ac","type":"link in","z":"230ac56e.bc629a","name":"Muteki Mute","links":[],"x":435,"y":320,"wires":[["f09434f0.d25528"]]},{"id":"f09434f0.d25528","type":"change","z":"230ac56e.bc629a","name":"Mute","rules":[{"t":"set","p":"payload","pt":"msg","to":"49,10,13,10,13,10,25,10,13,10,25,10,12,10,13,10,13,10,13,10,13,10,13,10,25,10,25,10,13,10,13,442,49,10,13,10,13,10,25,10,13,10,25,11,12,10,13,10,13,11,12,11,12,10,13,11,24,11,24,11,12,11,12,443,49,10,13,10,13,10,25,11,12,10,25,10,13,10,13,11,12,10,13,10,13,10,13,10,25,10,25,10,13,10,13","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":320,"wires":[["e14546fc.fe30c8"]]},{"id":"f5fdfcff.d3be5","type":"ui_button","z":"230ac56e.bc629a","name":"","group":"7ad1e0a0.b2f66","order":7,"width":0,"height":0,"passthru":false,"label":"Mute","tooltip":"","color":"","bgcolor":"","icon":"fa-volume-off","payload":"","payloadType":"str","topic":"","x":450,"y":280,"wires":[["f09434f0.d25528"]]},{"id":"16987e28.ccd0c2","type":"ui_button","z":"230ac56e.bc629a","name":"","group":"7ad1e0a0.b2f66","order":3,"width":"3","height":"1","passthru":false,"label":"Apagar","tooltip":"","color":"","bgcolor":"","icon":"fa-power-off","payload":"49,11,24,11,12,11,24,11,12,11,24,11,12,10,13,11,12,10,13,11,12,10,13,10,25,10,25,11,12,11,12,430,49,10,25,10,13,10,25,10,13,10,25,10,13,10,13,10,13,10,13,11,12,10,13,10,25,10,25,10,13,10,13,430,49,10,25,11,12,11,24,10,13,11,24,11,12,10,13,11,12,11,12,11,12,11,12,10,25,10,25,11,12,11,12","payloadType":"str","topic":"","x":180,"y":380,"wires":[["1c538dff.50a992"]]},{"id":"1c538dff.50a992","type":"link out","z":"230ac56e.bc629a","name":"","links":["ad23c6a.6bda438"],"x":355,"y":380,"wires":[]},{"id":"fcada3ec.cffd","type":"mqtt out","z":"d4cc4a57.a7caa8","name":"","topic":"Arduino/PBTablero/in/RF315/","qos":"","retain":"","broker":"1ad27743.ce9fb9","x":800,"y":160,"wires":[],"inputLabels":["kkl"]},{"id":"40b8d541.4c5d4c","type":"trigger","z":"d4cc4a57.a7caa8","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":560,"y":120,"wires":[["fcada3ec.cffd"]]},{"id":"4ed881e6.4c7a2","type":"link in","z":"d4cc4a57.a7caa8","name":"Proyector Pantalla Subir","links":["5516103c.a77ac","25b13e03.853852","23801964.bda096"],"x":155,"y":140,"wires":[["22ed0059.f7bab"]]},{"id":"22ed0059.f7bab","type":"change","z":"d4cc4a57.a7caa8","name":"Subir","rules":[{"t":"set","p":"payload","pt":"msg","to":"110101100010001010100010","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":140,"wires":[["40b8d541.4c5d4c"]]},{"id":"24810692.44e16a","type":"link in","z":"d4cc4a57.a7caa8","name":"Proyector Pantalla Bajar","links":["e1efbdd4.5baf8","f82f3292.24346"],"x":155,"y":100,"wires":[["ef07a12.2a0f46"]]},{"id":"ef07a12.2a0f46","type":"change","z":"d4cc4a57.a7caa8","name":"Bajar","rules":[{"t":"set","p":"payload","pt":"msg","to":"110101100010001010100100","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":100,"wires":[["40b8d541.4c5d4c"]]},{"id":"511546f7.774948","type":"change","z":"d4cc4a57.a7caa8","name":"Parar","rules":[{"t":"set","p":"payload","pt":"msg","to":"110101100010001010101000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":220,"wires":[["fcada3ec.cffd"]]},{"id":"c265eb3b.3f8a88","type":"link in","z":"d4cc4a57.a7caa8","name":"Proyector Pantalla Parar","links":[],"x":155,"y":220,"wires":[["511546f7.774948"]]},{"id":"1dd91f1e.361d91","type":"ui_button","z":"d4cc4a57.a7caa8","name":"","group":"a676754.6a79888","order":3,"width":"6","height":"1","passthru":true,"label":"Parar","tooltip":"","color":"","bgcolor":"","icon":"fa-stop","payload":"","payloadType":"str","topic":"","x":190,"y":260,"wires":[["511546f7.774948"]]},{"id":"8dccc4a5.52f1e8","type":"ui_button","z":"d4cc4a57.a7caa8","name":"","group":"a676754.6a79888","order":4,"width":"3","height":"1","passthru":false,"label":"Prender","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":360,"wires":[["78855132.54d3d"]]},{"id":"12954b05.ef1bd5","type":"change","z":"d4cc4a57.a7caa8","name":"Apagar","rules":[{"t":"set","p":"payload","pt":"msg","to":"182,88,12,32,12,32,12,10,12,10,12,9,12,10,12,9,12,32,12,10,12,10,12,32,12,10,12,32,12,32,12,32,12,32,12,10,12,32,12,32,12,32,12,10,12,10,12,32,12,10,12,32,12,10,12,10,12,10,12,32,12,32,12,10,12,32,12","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":480,"wires":[["120ca2b2.f9ce1d"]]},{"id":"f8106cce.9b491","type":"ui_button","z":"d4cc4a57.a7caa8","name":"","group":"a676754.6a79888","order":7,"width":"3","height":"1","passthru":false,"label":"Menu","tooltip":"","color":"","bgcolor":"","icon":"fa-bars","payload":"182,88,12,32,12,32,12,10,12,10,12,9,12,10,12,9,12,32,12,10,12,10,12,32,12,10,12,32,12,32,12,32,12,32,12,10,12,10,12,10,12,10,12,32,12,32,12,10,12,10,12,32,12,32,12,32,12,32,12,10,12,10,12,32,12,32,12,182,88,12,32,12,32,12,10,12,10,12,9,12,10,12,9,12,32,12,10,12,10,12,32,12,10,12,32,12,32,12,32,12,32,12,10,12,10,12,10,12,10,12,32,12,32,12,10,12,10,12,32,12,32,12,32,12,32,12,10,12,10,12,32,12,32,12","payloadType":"str","topic":"","x":470,"y":660,"wires":[["9530ba68.b56d08"]]},{"id":"b31906b3.858ef8","type":"link in","z":"d4cc4a57.a7caa8","name":"Proyector Apagar","links":["ee6bc9d.7703638","d60eac.212d8158"],"x":255,"y":480,"wires":[["12954b05.ef1bd5"]]},{"id":"120ca2b2.f9ce1d","type":"trigger","z":"d4cc4a57.a7caa8","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"4","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":580,"y":480,"wires":[["9530ba68.b56d08"]]},{"id":"9530ba68.b56d08","type":"mqtt out","z":"d4cc4a57.a7caa8","name":"","topic":"Arduino/PBTablero/in/IR/RAW","qos":"","retain":"","broker":"1ad27743.ce9fb9","x":870,"y":420,"wires":[]},{"id":"755337e5.6985c8","type":"link in","z":"d4cc4a57.a7caa8","name":"Proyector Prender","links":[],"x":255,"y":420,"wires":[["78855132.54d3d"]]},{"id":"78855132.54d3d","type":"change","z":"d4cc4a57.a7caa8","name":"Prender","rules":[{"t":"set","p":"payload","pt":"msg","to":"182,88,12,32,12,32,12,10,12,10,12,9,12,10,12,9,12,32,12,9,12,9,12,32,12,10,12,32,12,32,12,32,12,32,12,32,12,32,12,32,12,32,12,10,12,10,12,32,12,10,12,10,12,10,12,10,12,9,12,32,12,32,12,10,12,32,12","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":420,"wires":[["9530ba68.b56d08"]]},{"id":"495c213.82ae9e","type":"ui_button","z":"d4cc4a57.a7caa8","name":"","group":"a676754.6a79888","order":6,"width":"3","height":"1","passthru":false,"label":"Apagar","tooltip":"","color":"","bgcolor":"","icon":"fa-power-off","payload":"181,89,12,32,12,32,12,10,12,10,12,10,12,10,11,10,12,33,12, 9,12,10,12,32,12,10,12,32,12,32,12,33,11,32,12,10,12,32,12,32,12,32,12,10,12,10,12,32,12,10,12,32,12,10,12,10,11,10,12,32,12,32,12,10,12,32,12,783,181,89,12,32,12,32,12,10,12,10,12,10,12,10,11,10,12,33,12, 9,12,10,12,32,12,10,12,32,12,32,12,33,11,32,12,10,12,32,12,32,12,32,12,10,12,10,12,32,12,10,12,32,12,10,12,10,11,10,12,32,12,32,12,10,12,32,12,783","payloadType":"str","topic":"","x":200,"y":540,"wires":[["12954b05.ef1bd5"]]},{"id":"dea05145.83588","type":"ui_button","z":"d4cc4a57.a7caa8","name":"","group":"a676754.6a79888","order":1,"width":"3","height":"1","passthru":true,"label":"Subir","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-up","payload":"","payloadType":"str","topic":"","x":230,"y":180,"wires":[["22ed0059.f7bab"]]},{"id":"8be774a4.192e38","type":"ui_button","z":"d4cc4a57.a7caa8","name":"","group":"a676754.6a79888","order":2,"width":"3","height":"1","passthru":true,"label":"Bajar","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-down","payload":"","payloadType":"str","topic":"","x":230,"y":40,"wires":[["ef07a12.2a0f46"]]},{"id":"d60eac.212d8158","type":"link out","z":"c5b2ea55.84d058","name":"","links":["5e8f92df.a3fa2c","b31906b3.858ef8"],"x":1175,"y":200,"wires":[]},{"id":"26f8115c.6b657e","type":"link out","z":"c5b2ea55.84d058","name":"","links":["58568a39.50a6d4"],"x":1215,"y":360,"wires":[]},{"id":"6055a41.50a7f5c","type":"link in","z":"c5b2ea55.84d058","name":"Apagar Todo IR Living","links":["5f169587.07a31c","d87b7cfd.51b71","4b6c144e.3a0a8c"],"x":815,"y":220,"wires":[["997e5173.6c95d","956af814.8e0e78","79fc54ec.57faec","24f9bd91.b9d4b2","744d68f5.52b7b8"]]},{"id":"997e5173.6c95d","type":"delay","z":"c5b2ea55.84d058","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":240,"wires":[["d60eac.212d8158"]]},{"id":"956af814.8e0e78","type":"delay","z":"c5b2ea55.84d058","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":400,"wires":[["26f8115c.6b657e"]]},{"id":"79fc54ec.57faec","type":"link out","z":"c5b2ea55.84d058","name":"|","links":["ecec0d4d.75abb"],"x":975,"y":160,"wires":[]},{"id":"24f9bd91.b9d4b2","type":"delay","z":"c5b2ea55.84d058","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":320,"wires":[["2ad750f0.7a56e"]]},{"id":"2ad750f0.7a56e","type":"link out","z":"c5b2ea55.84d058","name":"","links":["49232997.0ad6e8","abd1cb9f.c69ab8"],"x":1115,"y":420,"wires":[]},{"id":"744d68f5.52b7b8","type":"link out","z":"c5b2ea55.84d058","name":"","links":["ad23c6a.6bda438"],"x":960,"y":100,"wires":[]},{"id":"dfb47d02.7d201","type":"change","z":"230ac56e.bc629a","name":"Apagar Muteki","rules":[{"t":"set","p":"payload","pt":"msg","to":"48,11,24,11,24,11,24,11,12,11,24,11,24,11,12,11,12,11,12,11,24,11,12,11,12,11,12,11,12,11,12,419,48,11,24,11,24,11,24,11,12,11,24,11,24,11,12,11,12,11,12,11,24,11,12,11,12,11,12,11,12,11,12,419","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":380,"wires":[["e14546fc.fe30c8"]]},{"id":"b040e837.c30f28","type":"ui_button","z":"9bee6473.dc8598","name":"","group":"20a076b7.fe135a","order":2,"width":"3","height":"1","passthru":false,"label":"Telecentro","tooltip":"","color":"","bgcolor":"","icon":"fa-power-off","payload":"18,17,18,17,36,34,36,17,18,17,18,17,18,16,19,34,19,16,36,17,18","payloadType":"str","topic":"","x":930,"y":340,"wires":[["f4236661.eb0168"]]},{"id":"d12cc57d.dfa268","type":"ui_button","z":"230ac56e.bc629a","name":"","group":"7ad1e0a0.b2f66","order":6,"width":"3","height":"1","passthru":false,"label":"Volumen UP","tooltip":"","color":"","bgcolor":"","icon":"fa-volume-up","payload":"49,10,13,10,25,10,13,10,13,11,24,10,13,10,13,10,13,10,13,11,12,10,13,11,25,11,24,10,13,10,13,442,49,10,13,10,25,10,13,10,13,11,24,10,13,10,13,10,13,10,13,11,12,10,13,11,25,11,24,10,13,10,13,442","payloadType":"str","topic":"","x":1030,"y":100,"wires":[["e14546fc.fe30c8"]]},{"id":"800b8d3.d14977","type":"ui_button","z":"230ac56e.bc629a","name":"","group":"7ad1e0a0.b2f66","order":5,"width":"3","height":"1","passthru":false,"label":"Volumen Down","tooltip":"","color":"","bgcolor":"","icon":"fa-volume-down","payload":"49,10,25,10,25,10,13,10,13,10,25,10,13,10,13,10,13,10,12,10,13,10,13,10,25,10,25,10,13,10,13,430,49,10,25,10,25,10,13,10,13,10,25,10,13,10,13,10,13,10,12,10,13,10,13,10,25,10,25,10,13,10,13,430","payloadType":"str","topic":"","x":1060,"y":160,"wires":[["e14546fc.fe30c8"]]},{"id":"e7d74a7e.0edf38","type":"ui_button","z":"295f893a.42f726","name":"","group":"913b3f65.8b281","order":1,"width":0,"height":0,"passthru":false,"label":"Vent Super Bajo","tooltip":"","color":"","bgcolor":"","icon":"","payload":"88,87,11,31,11,10,11,32,11,31,11,10,11,10,11,31,11,10,11,10,11,32,11,10,11,10,11,31,11,32,11,10,11,31,12,32,11,10,11,32,11,32,11,31,11,31,11,32,11,31,11,10,11,32,11,9,12,10,11,10,11,10,11,10,11,10,11,32,11,32,11,32,11,10,11,10,11,32,11,10,11,10,11,10,11,10,11,10,11,32,11,31,12,10,11,31,11,31,11,104,89,86,11,32,11,9,12,32,11,31,11,10,11,10,11,31,11,10,11,10,11,32,11,10,11,10,11,32,11,32,11,10,11,31,12,31,12,10,11,32,11,31,11,31,11,31,11,31,11,31,12,10,11,31,11,10,11,10,11,10,11,10,11,10,11,10,11,31,12,31,11,32,11,10,11,10,11,31,12,10,11,10,12,10,11,10,11,10,11,31,11,31,11,10,11,31,11,32,11","payloadType":"str","topic":"","x":640,"y":220,"wires":[["66ea1ea6.f51c9"]]},{"id":"7bf2cd28.ce9dd4","type":"ui_slider","z":"295f893a.42f726","name":"","label":"Ventilador","tooltip":"","group":"7a092dd.29b3ed4","order":5,"width":"4","height":"1","passthru":true,"outs":"end","topic":"","min":"1","max":"3","step":1,"x":320,"y":800,"wires":[["30cac02e.da374"]]},{"id":"972311ac.5637","type":"ui_switch","z":"295f893a.42f726","name":"","label":"Frio","tooltip":"","group":"7a092dd.29b3ed4","order":4,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":330,"y":720,"wires":[["8a961b62.4e2688"]]},{"id":"ad594988.7bd4b8","type":"ui_switch","z":"295f893a.42f726","name":"","label":"Prendido","tooltip":"","group":"7a092dd.29b3ed4","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":280,"y":560,"wires":[["ed080e99.59801"]]},{"id":"8a961b62.4e2688","type":"change","z":"295f893a.42f726","name":"","rules":[{"t":"set","p":"AACLivingFrio","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":720,"wires":[["9161da56.e95698"]]},{"id":"30cac02e.da374","type":"change","z":"295f893a.42f726","name":"","rules":[{"t":"set","p":"AACLivingVentilador","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":800,"wires":[["9161da56.e95698"]]},{"id":"9161da56.e95698","type":"function","z":"295f893a.42f726","name":"","func":"if (global.get(\"AACLivingPrendido\") === false) {\n    return; \n}\nvar Frio = global.get(\"AACLivingFrio\");\n\n//msg.payload = global.AACLivingVentilador.Value;\nswitch(global.get(\"AACLivingVentilador\")) {\n  case 1:\n      if (Frio === true)\n      {msg.payload = \"88,87,11,31,11,10,11,32,11,31,11,10,11,10,11,32,11,10,11,10,11,32,11,10,11,10,11,32,11,32,11,10,11,31,12,10,11,32,11,32,11,31,11,32,11,10,11,32,11,31,12,31,11,10,11,10,11,10,11,10,11,31,11,10,11,10,11,31,11,32,11,32,11,10,11,10,11,9,12,10,11,10,11,10,11,10,11,10,11,32,11,31,11,32,11,32,11,32,11,103,88,86,11,32,11,10,11,32,11,32,11,10,11,10,11,32,11,10,11,10,11,32,11,10,11,10,11,32,11,32,11,10,11,32,11,10,11,32,11,32,11,31,12,32,11,10,11,32,11,31,12,32,11,10,11,10,11,10,11,10,11,32,11,10,11,10,11,31,11,32,11,32,11,10,11,10,11,9,11,10,11,10,12,10,11,10,11,10,11,32,11,32,11,32,11,32,11,31,12\";}\n      else\n      {msg.payload = \"88,87,11,31,11,10,11,32,11,32,11,10,11,10,11,32,11,10,11,10,11,32,11,10,11,10,11,31,11,32,11,10,11,32,11,32,11,10,11,10,11,31,11,31,11,32,11,31,12,32,11,10,11,31,11,30,12,10,11,10,11,10,11,10,11,10,11,31,12,32,11,32,11,10,11,10,11,31,11,10,11,10,11,10,11,10,11,10,11,32,11,32,11,10,11,32,11,32,11,103,89,87,11,31,12,10,11,32,11,32,11,10,11,10,11,31,11,10,11,10,11,32,11,10,11,10,11,31,12,31,11,10,11,32,11,32,11,10,11,10,11,31,11,31,11,31,11,31,11,31,11,10,11,31,11,31,11,10,11,10,11,10,11,10,11,9,12,32,11,31,11,32,11,10,11,10,11,31,11,10,11,10,11,10,11,10,11,10,11,32,11,31,11,10,11,32,11,31,12\";}\n    break;\n  case 2:\n      if (Frio === true)\n      {msg.payload = \"88,86,11,31,11,10,11,32,11,32,11,10,11,10,11,32,11,10,11,10,11,32,11,10,11,10,11,31,11,32,11,10,11,32,11,10,11,32,11,10,11,32,11,32,11,32,11,32,11,32,11,31,11,10,11,31,11,10,11,10,11,10,11,10,11,10,11,10,11,31,11,10,11,10,11,10,11,10,11,9,12,10,11,31,11,10,11,31,11,32,11,32,11,32,11,32,11,31,11,103,88,86,11,32,11,10,11,32,11,32,11,10,11,10,11,32,11,10,11,10,11,32,11,10,11,10,11,31,11,31,12,10,11,32,11,10,11,31,11,10,11,32,11,32,11,32,11,32,11,32,11,31,11,10,11,32,11,10,11,10,11,10,11,10,11,10,11,9,11,32,11,10,11,10,11,10,11,10,11,10,11,10,11,32,11,10,11,32,11,32,11,32,11,32,11,32,11,32,11\";}\n      else\n      {msg.payload = \"87,87,11,32,11,10,11,31,12,32,11,10,11,10,11,32,11,10,11,10,11,31,12,10,11,10,11,32,11,32,11,10,11,32,11,10,11,31,11,10,11,32,11,32,11,31,11,31,11,32,11,32,11,10,11,32,11,10,11,10,11,10,11,10,11,10,11,32,11,32,11,32,11,10,11,10,11,32,11,10,11,10,11,10,11,9,12,10,11,32,11,32,11,10,11,31,12,32,11,104,89,87,11,32,11,10,11,32,11,32,11,10,11,9,12,32,11,10,11,10,11,32,11,10,11,10,11,32,11,32,11,10,11,32,11,9,11,32,11,10,11,31,12,31,11,31,11,32,11,32,11,32,11,9,12,32,11,9,12,10,11,10,11,10,11,10,11,32,11,32,11,32,11,10,11,10,11,32,11,10,11,10,11,10,11,10,11,10,11,31,11,32,11,10,11,32,11,32,11,\";}\n    break;\n  case 3:\n      if (Frio === true)\n      {msg.payload = \"88,87,11,32,11,10,11,32,11,32,11,10,11,10,11,32,11,10,11,10,11,32,11,10,11,10,11,32,11,32,11,10,11,32,11,10,11,10,11,32,11,32,11,32,11,32,11,32,11,32,11,31,11,32,11,10,11,10,11,10,11,10,11,10,11,10,11,10,11,32,11,10,11,10,11,10,11,10,11,10,11,10,11,31,11,10,11,32,11,31,11,32,11,32,11,32,11,31,12,103,88,86,11,32,11,10,11,32,11,32,11,10,11,10,11,32,11,10,11,10,11,32,11,10,11,10,11,32,11,32,11,10,11,32,11,10,11,10,11,32,11,32,11,32,11,31,11,32,11,32,11,32,11,32,11,10,11,10,11,9,12,10,11,10,11,10,11,10,11,32,11,10,11,10,11,10,11,9,11,10,11,10,12,32,11,10,11,32,11,32,11,32,11,32,11,32,11,32,11,\";}\n      else\n      {msg.payload = \"88,87,11,31,11,10,11,32,11,31,11,10,11,10,11,32,11,10,11,10,11,32,11,10,11,9,12,31,12,31,11,10,11,31,12,10,11,10,11,32,11,32,11,31,11,31,11,31,11,32,11,32,11,32,11,9,12,9,12,10,11,10,11,10,11,10,11,32,11,31,11,31,12,10,11,10,11,31,11,10,11,10,11,10,11,9,11,10,11,31,12,31,11,10,11,32,11,32,11,104,89,86,11,31,11,10,11,32,11,32,11,9,12,9,12,31,11,10,11,10,11,32,11,10,11,10,11,32,11,32,11,9,12,31,11,9,12,10,11,32,11,32,11,32,11,32,11,32,11,31,12,31,11,31,12,9,12,10,11,10,11,10,11,10,11,10,11,32,11,31,11,32,11,10,11,9,11,32,11,10,11,10,11,10,11,10,11,10,11,32,11,31,11,10,11,32,11,32,11\";}\n    break;\n  default:\n    // code block\n}\n    return msg;","outputs":1,"noerr":0,"x":830,"y":720,"wires":[["66ea1ea6.f51c9"]]},{"id":"ed080e99.59801","type":"change","z":"295f893a.42f726","name":"","rules":[{"t":"set","p":"AACLivingPrendido","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":620,"wires":[["f15b031a.7478b"]]},{"id":"f15b031a.7478b","type":"switch","z":"295f893a.42f726","name":"Prendido","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":600,"wires":[["6469230a.5002ac"],["9161da56.e95698"]]},{"id":"dd172b82.ab38f8","type":"ui_template","z":"230ac56e.bc629a","group":"7ad1e0a0.b2f66","name":"Subir Volumen","order":9,"width":"3","height":"1","format":"<script>\nthis.scope.on = {payload: \"49,10,13,10,25,10,13,10,13,11,24,10,13,10,13,10,13,10,13,11,12,10,13,11,25,11,24,10,13,10,13,442,49,10,13,10,25,10,13,10,13,11,24,10,13,10,13,10,13,10,13,11,12,10,13,11,25,11,24,10,13,10,13,442\"};\nthis.scope.off = {payload: 0};\n</script>\n<md-button\n   ng-touchstart=\"send(on)\"\n   ng-mousedown=\"send(on)\"\n   ng-touchend=\"send(off)\"\n   ng-mouseup=\"send(off)\">\n       Subir Volumen\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":340,"y":580,"wires":[["d29e1a1d.6ab168"]]},{"id":"117f85b.b675a7a","type":"ui_template","z":"230ac56e.bc629a","group":"a95b4552.f7fa88","name":"","order":4,"width":0,"height":0,"format":"<style>\n.nr-dashboard-template\n{\n    padding: 0px 0px    \n}\n.md-button{\n    height: 48px;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":180,"y":300,"wires":[[]]},{"id":"d29e1a1d.6ab168","type":"trigger","z":"230ac56e.bc629a","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-500","extend":false,"units":"ms","reset":"0","bytopic":"all","name":"","x":640,"y":560,"wires":[["e14546fc.fe30c8"]]},{"id":"dfb14418.91ee08","type":"ui_template","z":"230ac56e.bc629a","group":"7ad1e0a0.b2f66","name":"Bajar Volumen","order":8,"width":"3","height":"1","format":"<script>\nthis.scope.on = {payload: \"49,10,25,10,25,10,13,10,13,10,25,10,13,10,13,10,13,10,12,10,13,10,13,10,25,10,25,10,13,10,13,430,49,10,25,10,25,10,13,10,13,10,25,10,13,10,13,10,13,10,12,10,13,10,13,10,25,10,25,10,13,10,13,430\"};\nthis.scope.off = {payload: 0};\n</script>\n<md-button\n   ng-touchstart=\"send(on)\"\n   ng-mousedown=\"send(on)\"\n   ng-touchend=\"send(off)\"\n   ng-mouseup=\"send(off)\">\n       Subir Volumen\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":340,"y":540,"wires":[["d29e1a1d.6ab168"]]},{"id":"8af43110.2bdf2","type":"ui_button","z":"d4cc4a57.a7caa8","name":"","group":"a676754.6a79888","order":6,"width":"3","height":"1","passthru":false,"label":"Mute","tooltip":"","color":"","bgcolor":"","icon":"fa-volume-off","payload":"182,88,12,32,12,32,12,10,12,10,12,9,12,10,12,9,12,32,12,10,12,10,12,32,12,10,12,32,12,32,12,32,12,32,12,10,12,32,12,32,12,32,12,10,12,10,12,32,12,10,12,32,12,10,12,10,12,10,12,32,12,32,12,10,12,32,12, 9,12,10,12,32,12,10,12,32,12,32,12,33,11,32,12,10,12,32,12,32,12,32,12,10,12,10,12,32,12,10,12,32,12,10,12,10,11,10,12,32,12,32,12,10,12,32,12,783,181,89,12,32,12,32,12,10,12,10,12,10,12,10,11,10,12,33,12, 9,12,10,12,32,12,10,12,32,12,32,12,33,11,32,12,10,12,32,12,32,12,32,12,10,12,10,12,32,12,10,12,32,12,10,12,10,11,10,12,32,12,32,12,10,12,32,12,783","payloadType":"str","topic":"","x":310,"y":660,"wires":[["9530ba68.b56d08"]]},{"id":"76741a46.ec1784","type":"ui_switch","z":"887b2e31.18293","name":"","label":"Subwoofers","tooltip":"","group":"7ad1e0a0.b2f66","order":4,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"Arduino/PBLiving/in/Relay/26","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1230,"y":520,"wires":[["8591f331.53aaf"]]},{"id":"632bbf3f.f4a89","type":"ui_button","z":"295f893a.42f726","name":"","group":"7a092dd.29b3ed4","order":1,"width":"3","height":"1","passthru":false,"label":"Apagar","tooltip":"","color":"","bgcolor":"","icon":"fa-power-off","payload":"89,86,11,31,11,10,11,32,11,32,11,10,11,10,11,31,11,10,12,10,11,32,11,10,11,10,11,31,11,32,11,10,11,32,11,10,11,31,12,32,11,31,11,32,11,10,11,32,11,32,11,31,11,10,11,10,11,10,11,10,11,32,11,10,11,10,11,31,11,32,11,31,11,10,11,10,11,10,11,10,11,10,11,10,11,10,11,10,11,31,11,32,11,32,11,32,11,32,12,103,89,86,11,32,11,10,11,32,11,32,11,10,11,10,11,32,11,10,11,10,11,31,11,10,11,10,11,32,11,32,11,10,11,32,11,10,11,32,11,32,11,32,11,32,11,10,11,32,11,32,11,31,11,10,11,10,11,10,11,10,11,32,11,10,11,10,11,31,11,32,11,32,11,10,11,10,11,10,11,10,11,10,11,10,11,10,11,10,11,32,11,32,11,32,11,32,11,32,11","payloadType":"str","topic":"","x":620,"y":160,"wires":[["66ea1ea6.f51c9"]]},{"id":"39f5845a.1a619c","type":"ui_switch","z":"9bee6473.dc8598","name":"","label":"TV","tooltip":"","group":"20a076b7.fe135a","order":1,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":690,"y":340,"wires":[["904ba9a9.7982b8"]]},{"id":"2c69a6ee.42f82a","type":"mqtt out","z":"235e5af0.561006","name":"Luz Patio (36)","topic":"Arduino/PBTablero/in/Relay/36","qos":"","retain":"false","broker":"1ad27743.ce9fb9","x":960,"y":520,"wires":[],"inputLabels":["kkl"]},{"id":"dbcfdb9c.cc17f8","type":"trigger","z":"235e5af0.561006","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"20","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":770,"y":600,"wires":[["b31bef.2987d41"]]},{"id":"b31bef.2987d41","type":"mqtt out","z":"235e5af0.561006","name":"Luz Vestidor (34)","topic":"Arduino/PBTablero/in/Relay/34","qos":"","retain":"false","broker":"1ad27743.ce9fb9","x":970,"y":600,"wires":[],"inputLabels":["kkl"]},{"id":"56da131b.f6a38c","type":"switch","z":"235e5af0.561006","name":"Es de Noche","property":"EsDeDia","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":590,"y":520,"wires":[[],["dbcfdb9c.cc17f8"]],"outputLabels":["Dia","Noche"]},{"id":"d32cb70a.b7fcf8","type":"function","z":"2228dc2c.99e004","name":"Setear Fecha","func":"var topics = msg.topic.split(\"/\");\nmsg.Mac = topics[3];\nmsg.Router = topics[1];\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":180,"wires":[["3f936b5f.fd8514"]]},{"id":"511b6daa.89fb74","type":"mqtt in","z":"2228dc2c.99e004","name":"Eventos  Wifi","topic":"OpenWrt/+/status/+/event","qos":"2","broker":"1ad27743.ce9fb9","x":170,"y":140,"wires":[["d32cb70a.b7fcf8"]]},{"id":"c116c286.819b9","type":"debug","z":"2228dc2c.99e004","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1130,"y":200,"wires":[]},{"id":"3f936b5f.fd8514","type":"switch","z":"2228dc2c.99e004","name":"","property":"Mac","propertyType":"msg","rules":[{"t":"eq","v":"mac-b8-d7-af-b0-e2-9d","vt":"str"},{"t":"eq","v":"mac-38-80-df-18-15-ec","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":630,"y":200,"wires":[["390ccb8f.d92d64"],["efb30fd2.69a57"]],"outputLabels":["Chicho","Babu"]},{"id":"390ccb8f.d92d64","type":"function","z":"2228dc2c.99e004","name":"Chicho","func":"msg.Device = \"Chicho\";\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":160,"wires":[["3566f1c8.7d56fe"]]},{"id":"efb30fd2.69a57","type":"function","z":"2228dc2c.99e004","name":"Babu","func":"msg.Device = \"Babu\";\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":220,"wires":[["3566f1c8.7d56fe"]]},{"id":"3566f1c8.7d56fe","type":"function","z":"2228dc2c.99e004","name":"Logica","func":"\nglobal.set(\"Pres/\" + msg.Device + \"/LastSeen\",new Date());\nglobal.set(\"Pres/\" + msg.Device + \"/Ubicacion\",msg.Router);\nif (msg.payload == \"new\")\n{global.set(\"Pres/\" + msg.Device + \"/Presente\",true);}\nelse\n{global.set(\"Pres/\" + msg.Device + \"/Presente\",false);}\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":200,"wires":[["c116c286.819b9"]]},{"id":"6e7c6369.e563cc","type":"trigger","z":"235e5af0.561006","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"20","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":670,"y":220,"wires":[["9b693f6f.31219"]]},{"id":"875113b9.1007f","type":"trigger","z":"235e5af0.561006","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"20","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":670,"y":280,"wires":[["8f6a9ccd.2311f"]]},{"id":"7e7ba32f.2ed2ec","type":"trigger","z":"235e5af0.561006","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"20","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":670,"y":340,"wires":[["8439a120.efd7a"]]},{"id":"b9bbf481.68b538","type":"ui_button","z":"c5b2ea55.84d058","name":"","group":"837d3079.305cd","order":14,"width":0,"height":0,"passthru":false,"label":"Apagar Todo Living","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":370,"y":320,"wires":[["6abe0d5b.91b464"]]},{"id":"6abe0d5b.91b464","type":"link out","z":"c5b2ea55.84d058","name":"","links":["d8ffd3b2.e534f"],"x":515,"y":320,"wires":[]},{"id":"833100a0.e5f0c","type":"link in","z":"bb63d718.931208","name":"Apagar Luces Living","links":["b5514a52.2ccb08"],"x":635,"y":1160,"wires":[["3da337a9.1afa28"]]},{"id":"3da337a9.1afa28","type":"function","z":"bb63d718.931208","name":"Apagar Luces Living","func":"msg.payload = \"0\";\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":1160,"wires":[["104f8203.015b3e","d58fafa8.afc3a","1159aa54.7e9ad6"]]},{"id":"5bd4377.58992c8","type":"mqtt in","z":"2228dc2c.99e004","name":"Eventos  Wifi","topic":"OpenWrt/+/status/+/","qos":"2","broker":"1ad27743.ce9fb9","x":150,"y":220,"wires":[["aa2c1124.bac7d"]]},{"id":"aa2c1124.bac7d","type":"debug","z":"2228dc2c.99e004","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":370,"y":260,"wires":[]},{"id":"5a4f955.6654c6c","type":"mqtt in","z":"5f9dfcc6.ecd504","name":"Teclas Living IR 1 (37)","topic":"Arduino/PBTablero/out/Button/37/toggle","qos":"2","broker":"1ad27743.ce9fb9","x":660,"y":220,"wires":[["944b10bd.cc3db"]]},{"id":"cf5fc8c1.df8f18","type":"mqtt in","z":"5f9dfcc6.ecd504","name":"Teclas Living IR 1 (35)","topic":"Arduino/PBTablero/out/Button/35/toggle","qos":"2","broker":"1ad27743.ce9fb9","x":660,"y":300,"wires":[["44ff1040.92ccc"]]},{"id":"944b10bd.cc3db","type":"function","z":"5f9dfcc6.ecd504","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":220,"wires":[[]]},{"id":"44ff1040.92ccc","type":"function","z":"5f9dfcc6.ecd504","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":300,"wires":[[]]},{"id":"455fd92c.9203e8","type":"subflow:5f9dfcc6.ecd504","z":"bb63d718.931208","name":"","x":1100,"y":700,"wires":[[],["8a49d2e9.5f9e2"]]},{"id":"d8ffd3b2.e534f","type":"link in","z":"c5b2ea55.84d058","name":"Apagar Todo Living","links":["6abe0d5b.91b464","8a49d2e9.5f9e2"],"x":575,"y":260,"wires":[["b5514a52.2ccb08","25b13e03.853852","4b6c144e.3a0a8c"]]},{"id":"b5514a52.2ccb08","type":"link out","z":"c5b2ea55.84d058","name":"","links":["833100a0.e5f0c"],"x":675,"y":320,"wires":[]},{"id":"4b6c144e.3a0a8c","type":"link out","z":"c5b2ea55.84d058","name":"","links":["6055a41.50a7f5c"],"x":715,"y":240,"wires":[]},{"id":"8a49d2e9.5f9e2","type":"link out","z":"bb63d718.931208","name":"","links":["d8ffd3b2.e534f"],"x":1235,"y":720,"wires":[]},{"id":"168fd1b0.3e5f9e","type":"function","z":"2bcc0ccb.cd26a4","name":"Invertir","func":"msg.payload = Math.round(1024 - msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":540,"wires":[["f85b7a96.dd6998"]]},{"id":"10fcbb19.64efb5","type":"mqtt in","z":"2bcc0ccb.cd26a4","name":"Lluvia  (A11 Azul Claro)","topic":"Arduino/PBLiving/out/Sensores/Analog/11","qos":"2","datatype":"auto","broker":"1ad27743.ce9fb9","x":160,"y":160,"wires":[["ee5705ab.f79a48","214d3c34.0ed094"]]},{"id":"e6661dc0.44827","type":"ui_gauge","z":"2bcc0ccb.cd26a4","name":"","group":"d94a4634.32b858","order":2,"width":0,"height":0,"gtype":"gage","title":"Lluvia","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#000000","#01928a","#166dfe"],"seg1":"30","seg2":"70","x":890,"y":160,"wires":[]},{"id":"5020374e.25b588","type":"mqtt in","z":"611d2ba5.389f94","name":"Teclas Living Der 1 (35) (UTP Negro Naranja Claro)","topic":"Arduino/PBLiving/out/Button/35/toggle","qos":"2","broker":"1ad27743.ce9fb9","x":250,"y":320,"wires":[["7f58764.5ff8288"]]},{"id":"7f58764.5ff8288","type":"function","z":"611d2ba5.389f94","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":320,"wires":[[]]},{"id":"7b4f0659.b9ec28","type":"mqtt in","z":"611d2ba5.389f94","name":"Potenciometro 1 (13)","topic":"Arduino/PBLiving/out/Sensores/Analog/13","qos":"2","broker":"1ad27743.ce9fb9","x":415,"y":413,"wires":[["b9e90dfc.ba1c7"]]},{"id":"3c9c2a81.108fc6","type":"mqtt in","z":"611d2ba5.389f94","name":"Potenciometro 2 (14)","topic":"Arduino/PBLiving/out/Sensores/Analog/14","qos":"2","broker":"1ad27743.ce9fb9","x":400,"y":500,"wires":[["93e52afb.02aa18"]]},{"id":"b9e90dfc.ba1c7","type":"function","z":"611d2ba5.389f94","name":"Invertir","func":"msg.payload = Math.round(1024 - msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":440,"wires":[["fba26c2c.32ce9"]]},{"id":"2de66951.f83306","type":"ui_slider","z":"bb63d718.931208","name":"","label":"slider","tooltip":"","group":"f687a4d9.3b1578","order":11,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"1024","step":1,"x":430,"y":920,"wires":[[]]},{"id":"5b64459f.7b722c","type":"ui_slider","z":"bb63d718.931208","name":"","label":"slider","tooltip":"","group":"f687a4d9.3b1578","order":12,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"1024","step":1,"x":420,"y":980,"wires":[[]]},{"id":"2462dea6.9d2f92","type":"subflow:611d2ba5.389f94","z":"75f22ec1.216f","name":"","env":[],"x":160,"y":120,"wires":[[],[],["75c2ab6d.d60834"],["e705f130.1fa51"],[]]},{"id":"e705f130.1fa51","type":"range","z":"75f22ec1.216f","minin":"0","maxin":"1024","minout":"0","maxout":"255","action":"scale","round":true,"property":"payload","name":"","x":400,"y":100,"wires":[["7e5008a8.ea1298"]]},{"id":"75c2ab6d.d60834","type":"range","z":"75f22ec1.216f","minin":"0","maxin":"1024","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":400,"y":160,"wires":[["90fe12bf.bcc1f"]]},{"id":"ba9a3e50.ffc0a","type":"function","z":"75f22ec1.216f","name":"","func":"msg.payload = msg.payload.replace(\"rgb(\",'');\nmsg.payload = msg.payload.replace(')','');\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":340,"wires":[["1ef1478c.77f7f8","a34c7e8.8b3058"]]},{"id":"90fe12bf.bcc1f","type":"change","z":"75f22ec1.216f","name":"","rules":[{"t":"set","p":"light","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":160,"wires":[["20983292.9de87e"]]},{"id":"7e5008a8.ea1298","type":"change","z":"75f22ec1.216f","name":"","rules":[{"t":"set","p":"hue","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":100,"wires":[["20983292.9de87e"]]},{"id":"93e52afb.02aa18","type":"change","z":"611d2ba5.389f94","name":"","rules":[{"t":"set","p":"Pote2","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":520,"wires":[[]]},{"id":"fba26c2c.32ce9","type":"change","z":"611d2ba5.389f94","name":"","rules":[{"t":"set","p":"Pote1","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":380,"wires":[[]]},{"id":"20983292.9de87e","type":"function","z":"75f22ec1.216f","name":"","func":"msg.payload  = [flow.get(\"hue\"),flow.get(\"light\"),100];\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":140,"wires":[["5e55854d.c5f56c"]]},{"id":"1ef1478c.77f7f8","type":"subflow:a6dc66a1.81b618","z":"75f22ec1.216f","name":"","env":[],"x":840,"y":500,"wires":[[],[],[]]},{"id":"256f449a.6123fc","type":"function","z":"57b26073.47916","name":"Inicializar","func":"var topics = msg.topic.split(\"/\");\nif (topics[0].toUpperCase() == \"ARDUINO\")\n{\n    msg.ip = msg.topic;\n    msg.topic = \"Arduino/\" + topics[1] + \"/in/\";\n    msg.ArduinoName = \"Arduino/\" + topics[1];\n    msg.host = msg.payload;\n    global.set(msg.ArduinoName,msg.payload);\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":460,"y":420,"wires":[["afdbb2b3.a8ce","dcb90eac.3ec2d","e6346b2a.c7a8f8","99f128b8.8258f8","4a233454.2c259c"]]},{"id":"afdbb2b3.a8ce","type":"function","z":"57b26073.47916","name":"MaxDev","func":"msg.topic = msg.topic + \"Sensores/MAXDEV\";\nmsg.payload = 20;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":380,"wires":[["c1566fcc.e4eaa"]]},{"id":"dcb90eac.3ec2d","type":"function","z":"57b26073.47916","name":"Milis","func":"msg.topic = msg.topic + \"Sensores/MILIS\";\nmsg.payload = 50;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":440,"wires":[["c1566fcc.e4eaa"]]},{"id":"e6346b2a.c7a8f8","type":"function","z":"57b26073.47916","name":"Noise Milis","func":"msg.topic = msg.topic + \"Relay/NOISEMILLIS\";\nmsg.payload = 30;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":520,"wires":[["c1566fcc.e4eaa"]]},{"id":"666818ba.645868","type":"debug","z":"57b26073.47916","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":480,"wires":[]},{"id":"940ec39d.c1b34","type":"ui_chart","z":"2bcc0ccb.cd26a4","name":"","group":"d94a4634.32b858","order":3,"width":0,"height":0,"label":"Lluvia","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":890,"y":80,"wires":[[],[]]},{"id":"296d7504.367dca","type":"range","z":"2bcc0ccb.cd26a4","minin":"0","maxin":"1024","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":470,"y":160,"wires":[["e6661dc0.44827","fe6efba7.7188a8","dd1bf912.b28218"]]},{"id":"1ad21b50.4914b5","type":"mqtt in","z":"930c94d9.38ece8","name":"Tablero Volts (A3)","topic":"Arduino/PBTablero/out/Sensores/Analog/Max/3","qos":"2","broker":"1ad27743.ce9fb9","x":190,"y":240,"wires":[["20d46931.130a56","3dc8b540.d71e8a"]]},{"id":"8f6f577a.10d278","type":"ui_gauge","z":"930c94d9.38ece8","name":"","group":"a9d3b0bb.e316c","order":1,"width":0,"height":0,"gtype":"gage","title":"Volts","label":"units","format":"{{value}}","min":0,"max":"400","colors":["#ff0404","#00d505","#ff1515"],"seg1":"200","seg2":"240","x":850,"y":180,"wires":[]},{"id":"37a28d45.077482","type":"ui_chart","z":"930c94d9.38ece8","name":"","group":"a9d3b0bb.e316c","order":2,"width":0,"height":0,"label":"Volts","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"160","ymax":"240","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":850,"y":220,"wires":[[]]},{"id":"20d46931.130a56","type":"range","z":"930c94d9.38ece8","minin":"689","maxin":"702","minout":"199","maxout":"208","action":"scale","round":true,"property":"payload","name":"","x":380,"y":220,"wires":[["c36fed42.5c683","8f6f577a.10d278","98bbab7b.188e98","314720f3.9b082"]]},{"id":"fa8577db.ecaab8","type":"mqtt in","z":"930c94d9.38ece8","name":"Tablero Amps (A12)","topic":"Arduino/PBLiving/out/Sensores/Analog/Max/12","qos":"2","broker":"1ad27743.ce9fb9","x":190,"y":340,"wires":[["5d979510.30364c","d0174328.ef71a"]]},{"id":"5d979510.30364c","type":"range","z":"930c94d9.38ece8","minin":"57","maxin":"95","minout":"9","maxout":"16.2","action":"scale","round":false,"property":"payload","name":"","x":380,"y":340,"wires":[["1acb3f3a.35b0e1"]]},{"id":"6f426f91.327b4","type":"ui_gauge","z":"930c94d9.38ece8","name":"","group":"46ccdc7e.a82334","order":1,"width":0,"height":0,"gtype":"gage","title":"Amps","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#3dff04","#e2e800","#ff1515"],"seg1":"10","seg2":"20","x":850,"y":300,"wires":[]},{"id":"e9212db8.007b8","type":"ui_chart","z":"930c94d9.38ece8","name":"","group":"46ccdc7e.a82334","order":2,"width":0,"height":0,"label":"Amps","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":870,"y":360,"wires":[[],[]]},{"id":"1acb3f3a.35b0e1","type":"function","z":"930c94d9.38ece8","name":"Redondeo","func":"msg.payload = Math.round(msg.payload * 100) /100\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":340,"wires":[["6f426f91.327b4","b012fb74.fc3998","3f28239a.45699c","8a095048.19b19"]]},{"id":"3f28239a.45699c","type":"change","z":"930c94d9.38ece8","name":"","rules":[{"t":"set","p":"Amps","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":400,"wires":[[]]},{"id":"98bbab7b.188e98","type":"change","z":"930c94d9.38ece8","name":"","rules":[{"t":"set","p":"Volts","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":280,"wires":[[]]},{"id":"e8dc009e.b6db2","type":"function","z":"930c94d9.38ece8","name":"","func":"var Watts =  Math.round(global.get(\"Amps\") * global.get(\"Volts\") * 1) /1\nglobal.set(\"Watts\",Watts)\nglobal.set(\"WattsAcumm\",global.get(\"WattsAcumm\") + Watts )\nglobal.set(\"WattsAcummCnt\",global.get(\"WattsAcummCnt\") + 1 )\nmsg.payload = Watts\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":560,"wires":[["bfac5399.e34c2","ae670c52.4acc3","f4e26607.719868"]]},{"id":"6e47d63c.d243c8","type":"inject","z":"930c94d9.38ece8","name":"Watts cada 2 seg","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":"2","x":230,"y":560,"wires":[["e8dc009e.b6db2"]]},{"id":"ae670c52.4acc3","type":"ui_gauge","z":"930c94d9.38ece8","name":"","group":"8580fa9c.5b7bb8","order":1,"width":0,"height":0,"gtype":"gage","title":"Watts","label":"units","format":"{{value}}","min":0,"max":"8800","colors":["#3dff04","#e2e800","#ff1515"],"seg1":"2200","seg2":"4000","x":770,"y":540,"wires":[]},{"id":"dbdd5238.1ff37","type":"ui_chart","z":"930c94d9.38ece8","name":"","group":"8580fa9c.5b7bb8","order":3,"width":0,"height":0,"label":"Watts","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"8800","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":770,"y":600,"wires":[[],[]]},{"id":"8df7d439.902dd8","type":"inject","z":"930c94d9.38ece8","name":"Acumulado Watts (1 Hora)","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"10","x":320,"y":680,"wires":[["d9abc83e.199c18"]]},{"id":"d9abc83e.199c18","type":"function","z":"930c94d9.38ece8","name":"","func":"msg.Watts = global.get(\"WattsAcumm\")\nmsg.Cnt = global.get(\"WattsAcummCnt\")\nmsg.payload = msg.Watts / 1000 * msg.Cnt / 3600\nglobal.set(\"WattsAcumm\",0)\nglobal.set(\"WattsAcummCnt\",0)\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":700,"wires":[[]]},{"id":"dd1bf912.b28218","type":"switch","z":"2bcc0ccb.cd26a4","name":"Llueve?","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"10","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":200,"wires":[["4ebd7094.cbca3"],["1f93b319.4b52fd"]],"outputLabels":["Llueve","No Llueve"]},{"id":"4ebd7094.cbca3","type":"function","z":"2bcc0ccb.cd26a4","name":"Llueve","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":200,"wires":[["37fc6ace.6d0736"]]},{"id":"1f93b319.4b52fd","type":"function","z":"2bcc0ccb.cd26a4","name":"No Llueve","func":"msg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":240,"wires":[["37fc6ace.6d0736"]]},{"id":"37fc6ace.6d0736","type":"change","z":"2bcc0ccb.cd26a4","name":"","rules":[{"t":"set","p":"Llueve","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":200,"wires":[[]]},{"id":"ce25c9cc.c5e278","type":"mqtt in","z":"2bcc0ccb.cd26a4","name":"PBTablero Humedad (DHT 6)","topic":"Arduino/PBTablero/out/Sensores/Humedad","qos":"2","broker":"1ad27743.ce9fb9","x":200,"y":820,"wires":[["7c5ce1e9.913fe"]]},{"id":"b9ca9480.6ccc18","type":"mqtt in","z":"2bcc0ccb.cd26a4","name":"PBTablero Temperatura (DHT 6)","topic":"Arduino/PBTablero/out/Sensores/Temperatura","qos":"2","broker":"1ad27743.ce9fb9","x":190,"y":920,"wires":[["37763872.59b898"]]},{"id":"65a31e25.334e4","type":"ui_gauge","z":"2bcc0ccb.cd26a4","name":"","group":"a0a12305.1eb01","order":1,"width":0,"height":0,"gtype":"gage","title":"Hum.Interior","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":800,"wires":[]},{"id":"a9e3d6eb.6a80e8","type":"ui_gauge","z":"2bcc0ccb.cd26a4","name":"","group":"bf36a591.082a28","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp. Interior","label":"C°","format":"{{value}}","min":0,"max":"50","colors":["#0400b5","#00d900","#ca3838"],"seg1":"20","seg2":"28","x":880,"y":900,"wires":[]},{"id":"1dadafa4.bc551","type":"ui_chart","z":"2bcc0ccb.cd26a4","name":"","group":"a0a12305.1eb01","order":2,"width":0,"height":0,"label":"Hum. Interior","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":870,"y":840,"wires":[[],[]]},{"id":"6e9a3fb6.399f7","type":"ui_chart","z":"2bcc0ccb.cd26a4","name":"","group":"bf36a591.082a28","order":2,"width":0,"height":0,"label":"Temp. Interior","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":880,"y":940,"wires":[[],[]]},{"id":"5ed0165c.70af78","type":"function","z":"2bcc0ccb.cd26a4","name":"Redondeo","func":"msg.payload = Math.round(msg.payload * 100) /100\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":820,"wires":[["65a31e25.334e4","1dadafa4.bc551"]]},{"id":"aa8f6735.e01e68","type":"function","z":"2bcc0ccb.cd26a4","name":"Redondeo","func":"msg.payload = Math.round(msg.payload * 100) /100\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":920,"wires":[["a9e3d6eb.6a80e8","6e9a3fb6.399f7"]]},{"id":"cc869471.e6b798","type":"mqtt in","z":"235e5af0.561006","name":"Sensor Movimiento Living (5)","topic":"Arduino/PBLiving/out/Button/5","qos":"2","broker":"1ad27743.ce9fb9","x":220,"y":160,"wires":[["6d174464.fc7edc"]]},{"id":"9e27c7f0.bde738","type":"trigger","z":"235e5af0.561006","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"20","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":670,"y":160,"wires":[["d7d423b9.36639"]]},{"id":"c1046727.893738","type":"function","z":"235e5af0.561006","name":"Setear Fecha","func":"global.set(msg.topic,new Date())\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":100,"wires":[[]]},{"id":"6d174464.fc7edc","type":"switch","z":"235e5af0.561006","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":160,"wires":[["9e27c7f0.bde738","c1046727.893738"]]},{"id":"18955f69.f3bf11","type":"ui_button","z":"75f22ec1.216f","name":"","group":"f687a4d9.3b1578","order":2,"width":0,"height":0,"passthru":false,"label":"RAINBOW","tooltip":"","color":"","bgcolor":"","icon":"","payload":"RAINBOW","payloadType":"str","topic":"Arduino/PBLiving/in/WSSTRIP/0/RAINBOW","x":1070,"y":240,"wires":[["c3f24477.6812f8"]]},{"id":"b9201999.8b5088","type":"ui_button","z":"75f22ec1.216f","name":"","group":"f687a4d9.3b1578","order":9,"width":0,"height":0,"passthru":false,"label":"SINELON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"SINELON","payloadType":"str","topic":"Arduino/PBLiving/in/WSSTRIP/0/SINELON","x":1060,"y":280,"wires":[["c3f24477.6812f8"]]},{"id":"c3f24477.6812f8","type":"mqtt out","z":"75f22ec1.216f","name":"Strip","topic":"","qos":"","retain":"false","broker":"1ad27743.ce9fb9","x":1310,"y":240,"wires":[],"inputLabels":["kkl"]},{"id":"3db3cf32.5116c","type":"ui_button","z":"75f22ec1.216f","name":"","group":"f687a4d9.3b1578","order":3,"width":0,"height":0,"passthru":false,"label":"RAINBOWGLITTER","tooltip":"","color":"","bgcolor":"","icon":"","payload":"RAINBOWGLITTER","payloadType":"str","topic":"Arduino/PBLiving/in/WSSTRIP/0/RAINBOWGLITTER","x":1100,"y":180,"wires":[["c3f24477.6812f8"]]},{"id":"e847702c.24c11","type":"ui_button","z":"75f22ec1.216f","name":"","group":"f687a4d9.3b1578","order":7,"width":0,"height":0,"passthru":false,"label":"CONFETTI","tooltip":"","color":"","bgcolor":"","icon":"","payload":"CONFETTI","payloadType":"str","topic":"Arduino/PBLiving/in/WSSTRIP/0/CONFETTI","x":1070,"y":140,"wires":[["c3f24477.6812f8"]]},{"id":"30b6dae.fc65726","type":"ui_button","z":"75f22ec1.216f","name":"","group":"f687a4d9.3b1578","order":1,"width":0,"height":0,"passthru":false,"label":"BPM","tooltip":"","color":"","bgcolor":"","icon":"","payload":"BPM","payloadType":"str","topic":"Arduino/PBLiving/in/WSSTRIP/0/BPM","x":1110,"y":80,"wires":[["c3f24477.6812f8"]]},{"id":"d818b066.d197d","type":"ui_button","z":"75f22ec1.216f","name":"","group":"f687a4d9.3b1578","order":8,"width":0,"height":0,"passthru":false,"label":"JUGGLE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"JUGGLE","payloadType":"str","topic":"Arduino/PBLiving/in/WSSTRIP/0/JUGGLE","x":1260,"y":100,"wires":[["c3f24477.6812f8"]]},{"id":"6ef2db6c.53e354","type":"ui_colour_picker","z":"75f22ec1.216f","name":"","label":"Color Strip 2","group":"f687a4d9.3b1578","format":"rgb","outformat":"string","showSwatch":true,"showPicker":true,"showValue":true,"showHue":true,"showAlpha":false,"showLightness":true,"dynOutput":"true","order":4,"width":0,"height":0,"passthru":true,"topic":"","x":130,"y":340,"wires":[["e73e40a3.c1a34"]]},{"id":"e73e40a3.c1a34","type":"function","z":"75f22ec1.216f","name":"","func":"msg.payload = msg.payload.replace(\"rgb(\",'');\nmsg.payload = msg.payload.replace(')','');\nmsg.payload = msg.payload + ',5';\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":340,"wires":[["4ff6d4b6.b4a92c"]]},{"id":"1ec0492e.fa6c27","type":"ui_colour_picker","z":"75f22ec1.216f","name":"","label":"Color Strip 1","group":"f687a4d9.3b1578","format":"rgb","outformat":"string","showSwatch":true,"showPicker":true,"showValue":true,"showHue":true,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"true","order":5,"width":0,"height":0,"passthru":true,"topic":"","x":130,"y":420,"wires":[["a34c7e8.8b3058"]]},{"id":"a34c7e8.8b3058","type":"function","z":"75f22ec1.216f","name":"","func":"msg.payload = msg.payload.replace(\"rgb(\",'');\nmsg.payload = msg.payload.replace(')','');\nmsg.payload = msg.payload + ',40';\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":440,"wires":[["fb78e17d.7a28d"]]},{"id":"4ff6d4b6.b4a92c","type":"mqtt out","z":"75f22ec1.216f","name":"Strip 1","topic":"Arduino/PBLiving/in/WSSTRIP/1/FADETO","qos":"","retain":"false","broker":"1ad27743.ce9fb9","x":510,"y":340,"wires":[],"inputLabels":["kkl"]},{"id":"fb78e17d.7a28d","type":"mqtt out","z":"75f22ec1.216f","name":"Strip 0","topic":"Arduino/PBLiving/in/WSSTRIP/0/FADETO","qos":"","retain":"false","broker":"1ad27743.ce9fb9","x":490,"y":440,"wires":[],"inputLabels":["kkl"]},{"id":"45aa1fe3.03368","type":"ui_colour_picker","z":"75f22ec1.216f","name":"","label":"Color Teclas","group":"f687a4d9.3b1578","format":"rgb","outformat":"string","showSwatch":true,"showPicker":true,"showValue":true,"showHue":true,"showAlpha":false,"showLightness":true,"dynOutput":"true","order":6,"width":0,"height":0,"passthru":true,"topic":"","x":490,"y":560,"wires":[["14fbbb55.3d39a5"]]},{"id":"14fbbb55.3d39a5","type":"function","z":"75f22ec1.216f","name":"","func":"msg.payload = msg.payload.replace(\"rgb(\",'');\nmsg.payload = msg.payload.replace(')','');\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":620,"wires":[["1ef1478c.77f7f8"]]},{"id":"9b693f6f.31219","type":"ui_led","z":"235e5af0.561006","group":"b32fa3e9.f2b7f","order":2,"width":"","height":"","label":"Entrada","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"red","value":"true","valueType":"bool"}],"name":"Entrada","x":840,"y":220,"wires":[]},{"id":"8f6a9ccd.2311f","type":"ui_led","z":"235e5af0.561006","group":"b32fa3e9.f2b7f","order":1,"width":"","height":"","label":"Vestidor","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"red","value":"true","valueType":"bool"}],"name":"Vestidor","x":840,"y":280,"wires":[]},{"id":"8439a120.efd7a","type":"ui_led","z":"235e5af0.561006","group":"b32fa3e9.f2b7f","order":3,"width":"","height":"","label":"Patio","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"red","value":"true","valueType":"bool"}],"name":"Patio","x":830,"y":340,"wires":[]},{"id":"d7d423b9.36639","type":"ui_led","z":"235e5af0.561006","group":"b32fa3e9.f2b7f","order":2,"width":"0","height":"0","label":"Living","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"red","value":"true","valueType":"bool"}],"name":"Living","x":830,"y":160,"wires":[]},{"id":"e461d76a.7c5508","type":"aggregator","z":"2bcc0ccb.cd26a4","name":"","topic":"","intervalCount":"10","intervalUnits":"m","submitIncompleteInterval":true,"aggregationType":"median","x":430,"y":720,"wires":[["bb444bfc.865658"]]},{"id":"65dfdee.897542","type":"aggregator","z":"2bcc0ccb.cd26a4","name":"","topic":"","intervalCount":"5","intervalUnits":"m","submitIncompleteInterval":true,"aggregationType":"median","x":430,"y":420,"wires":[["8dcdadb5.5986a","21d4f582.ba380a"]]},{"id":"916270e7.2af48","type":"aggregator","z":"2bcc0ccb.cd26a4","name":"","topic":"","intervalCount":"10","intervalUnits":"m","submitIncompleteInterval":true,"aggregationType":"median","x":430,"y":620,"wires":[["64b05186.0423d"]]},{"id":"bcbb6657.4c8658","type":"aggregator","z":"57b26073.47916","name":"","topic":"","intervalCount":"3","intervalUnits":"m","submitIncompleteInterval":true,"aggregationType":"median","x":690,"y":200,"wires":[["fc293a26.b43738"]]},{"id":"fe6efba7.7188a8","type":"aggregator","z":"2bcc0ccb.cd26a4","name":"","topic":"","intervalCount":"5","intervalUnits":"m","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"median","x":690,"y":80,"wires":[["940ec39d.c1b34"]]},{"id":"c36fed42.5c683","type":"aggregator","z":"930c94d9.38ece8","name":"","topic":"","intervalCount":"5","intervalUnits":"m","submitIncompleteInterval":true,"aggregationType":"median","x":590,"y":240,"wires":[["37a28d45.077482"]]},{"id":"b012fb74.fc3998","type":"aggregator","z":"930c94d9.38ece8","name":"","topic":"","intervalCount":"5","intervalUnits":"m","submitIncompleteInterval":true,"aggregationType":"median","x":730,"y":360,"wires":[["e9212db8.007b8"]]},{"id":"bfac5399.e34c2","type":"aggregator","z":"930c94d9.38ece8","name":"","topic":"","intervalCount":"5","intervalUnits":"m","submitIncompleteInterval":true,"aggregationType":"median","x":610,"y":600,"wires":[["dbdd5238.1ff37"]]},{"id":"37763872.59b898","type":"aggregator","z":"2bcc0ccb.cd26a4","name":"","topic":"","intervalCount":"10","intervalUnits":"m","submitIncompleteInterval":true,"aggregationType":"median","x":430,"y":920,"wires":[["aa8f6735.e01e68"]]},{"id":"7c5ce1e9.913fe","type":"aggregator","z":"2bcc0ccb.cd26a4","name":"","topic":"","intervalCount":"10","intervalUnits":"m","submitIncompleteInterval":true,"aggregationType":"median","x":430,"y":820,"wires":[["5ed0165c.70af78"]]},{"id":"849b3d9f.dee7d","type":"wake on lan","z":"d0c77eb4.886e7","mac":"E0:D5:5E:47:F3:C1","host":"","name":"PC","x":1190,"y":120,"wires":[]},{"id":"5e55854d.c5f56c","type":"color-convert","z":"75f22ec1.216f","input":"hsv","output":"rgb","outputType":"string","scaleInput":true,"x":810,"y":260,"wires":[["ba9a3e50.ffc0a"]]},{"id":"725ae951.b61ef8","type":"Invert","z":"2bcc0ccb.cd26a4","name":"Invert","x":1270,"y":400,"wires":[["133875fc.e712aa"]]},{"id":"30af2ac7.545406","type":"cpu","z":"57b26073.47916","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":470,"y":140,"wires":[["d54f36f1.b089c8","bcbb6657.4c8658","a56361ed.9dd4b","b3fdab3a.bd2478"]]},{"id":"b410c2af.58d16","type":"exec","z":"57b26073.47916","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1470,"y":220,"wires":[[],[],[]]},{"id":"3117ea96.c88406","type":"ui_button","z":"57b26073.47916","name":"","group":"bee8228d.0d274","order":6,"width":0,"height":0,"passthru":false,"label":"Reboot PI","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1200,"y":220,"wires":[["b410c2af.58d16"]]},{"id":"26b5d5e4.443c7a","type":"mqtt in","z":"57b26073.47916","name":"","topic":"RPI/Temp","qos":"2","datatype":"auto","broker":"1ad27743.ce9fb9","x":240,"y":260,"wires":[["332b510e.70fdde","61facc6b.816ac4"]]},{"id":"332b510e.70fdde","type":"aggregator","z":"57b26073.47916","name":"","topic":"","intervalCount":"3","intervalUnits":"m","submitIncompleteInterval":true,"aggregationType":"median","x":450,"y":260,"wires":[["a12395e1.7c2288"]]},{"id":"c81d7a30.a3fa68","type":"trigger","z":"57b26073.47916","op1":"","op2":"","op1type":"date","op2type":"date","duration":"5","extend":false,"units":"s","reset":"","bytopic":"topic","name":"","x":740,"y":740,"wires":[["99f128b8.8258f8"]]},{"id":"61d6c495.e7e54c","type":"switch","z":"57b26073.47916","name":"Responde Ping?","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":920,"y":660,"wires":[["ae85b6d5.63f218"],["850a633f.0f152"]]},{"id":"ae85b6d5.63f218","type":"function","z":"57b26073.47916","name":"Arduino Down","func":"global.set(msg.ArduinoName + \"Up\",false);\nmsg.payload = false;\nmsg.LastSeen = global.get(msg.ArduinoName + \"/LastSeen\");\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":640,"wires":[["4400bfce.99dee"]]},{"id":"850a633f.0f152","type":"function","z":"57b26073.47916","name":"Arduino Up","func":"global.set(msg.ArduinoName + \"/Up\",true);\nglobal.set(msg.ArduinoName + \"/LastSeen\",new Date());\nmsg.payload = true;\nmsg.LastSeen = new Date();\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":680,"wires":[["4400bfce.99dee"]]},{"id":"4400bfce.99dee","type":"switch","z":"57b26073.47916","name":"","property":"ArduinoName","propertyType":"msg","rules":[{"t":"eq","v":"Arduino/PBLiving","vt":"str"},{"t":"eq","v":"Arduino/PBTablero","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1310,"y":660,"wires":[["47c94d3b.a152b4","b492275e.fcfe48"],["b9d2771b.9cefd8","de8340ab.decd"]],"outputLabels":["PBLiving","PBTablero"]},{"id":"47c94d3b.a152b4","type":"ui_led","z":"57b26073.47916","group":"b89f1435.0c4bf8","order":2,"width":0,"height":0,"label":"PBLiving Red","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"name":"PBLiving","x":1460,"y":540,"wires":[]},{"id":"b9d2771b.9cefd8","type":"ui_led","z":"57b26073.47916","group":"b89f1435.0c4bf8","order":6,"width":0,"height":0,"label":"PBTablero Red","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"name":"PBTablero","x":1470,"y":660,"wires":[]},{"id":"b492275e.fcfe48","type":"ui_text","z":"57b26073.47916","group":"b89f1435.0c4bf8","order":4,"width":0,"height":0,"name":"PBLiving","label":"LastSeen","format":"{{msg.LastSeen}}","layout":"row-spread","x":1460,"y":600,"wires":[]},{"id":"a56361ed.9dd4b","type":"ui_level","z":"57b26073.47916","group":"bee8228d.0d274","order":1,"width":0,"height":0,"name":"CPU","label":"CPU","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":100,"segWarn":"","segHigh":"","unit":"%","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"off","shape":"1","colorschema":"fixed","x":670,"y":80,"wires":[]},{"id":"de8340ab.decd","type":"ui_text","z":"57b26073.47916","group":"b89f1435.0c4bf8","order":8,"width":0,"height":0,"name":"PBTablero","label":"LastSeen","format":"{{msg.LastSeen}}","layout":"row-spread","x":1470,"y":700,"wires":[]},{"id":"61facc6b.816ac4","type":"ui_level","z":"57b26073.47916","group":"bee8228d.0d274","order":2,"width":0,"height":0,"name":"Temp","label":"TEMP","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"30","max":"90","segWarn":"60","segHigh":"75","unit":"C°","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":"2","colorschema":"fixed","x":590,"y":300,"wires":[]},{"id":"a12395e1.7c2288","type":"ui_chart","z":"57b26073.47916","name":"","group":"bee8228d.0d274","order":5,"width":0,"height":0,"label":"Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":260,"wires":[[]]},{"id":"93cd5ec4.fea7d","type":"mqtt in","z":"57b26073.47916","name":"","topic":"RPI/RAM/Used","qos":"2","datatype":"auto","broker":"1ad27743.ce9fb9","x":180,"y":360,"wires":[["31f93566.52cc4a"]]},{"id":"7109ab53.eb50a4","type":"ui_level","z":"57b26073.47916","group":"bee8228d.0d274","order":3,"width":0,"height":0,"name":"RAM","label":"RAM","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":"0","max":"100","segWarn":"50","segHigh":"75","unit":"%","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":"3","colorschema":"fixed","x":490,"y":360,"wires":[]},{"id":"31f93566.52cc4a","type":"range","z":"57b26073.47916","minin":"0","maxin":"948304","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":360,"y":360,"wires":[["7109ab53.eb50a4"]]},{"id":"62dae9a4.aa8568","type":"inject","z":"57b26073.47916","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":800,"wires":[["3ff8204b.ffa2"]]},{"id":"f84d004.8528f","type":"function","z":"57b26073.47916","name":"","func":"msg.hostname = \"Camara Patio\";\nif (msg.payload === false) return msg;\nif (msg.payload >= 0) msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":800,"wires":[["df2bf38b.0137","90373d13.5fe1b"]]},{"id":"df2bf38b.0137","type":"ui_led","z":"57b26073.47916","group":"bc362a5c.0bea88","order":1,"width":0,"height":0,"label":"Patio","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"name":"Camara Patio (51)","x":690,"y":800,"wires":[]},{"id":"c718fd9b.61a86","type":"inject","z":"57b26073.47916","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"onceDelay":"1","x":210,"y":840,"wires":[["618d3e98.fb7ef"]]},{"id":"1b429be5.b44554","type":"function","z":"57b26073.47916","name":"","func":"msg.hostname = \"Camara Domo\";\nif (msg.payload === false) return msg;\nif (msg.payload >= 0) msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":840,"wires":[["bed39aec.f20938","90373d13.5fe1b"]]},{"id":"bed39aec.f20938","type":"ui_led","z":"57b26073.47916","group":"bc362a5c.0bea88","order":3,"width":0,"height":0,"label":"Domo","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"name":"Camara Domo (52)","x":690,"y":840,"wires":[]},{"id":"9111e12.9b6862","type":"inject","z":"57b26073.47916","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"onceDelay":"2","x":210,"y":880,"wires":[["af17a31c.f6b2c"]]},{"id":"8e2a259b.eb3d28","type":"function","z":"57b26073.47916","name":"","func":"msg.hostname = \"Camara Balcon\";\nif (msg.payload === false) return msg;\nif (msg.payload >= 0) msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":880,"wires":[["a0182ac9.cb7188","90373d13.5fe1b"]]},{"id":"a0182ac9.cb7188","type":"ui_led","z":"57b26073.47916","group":"bc362a5c.0bea88","order":2,"width":0,"height":0,"label":"Balcon","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"name":"Camara Balcon (53)","x":700,"y":880,"wires":[]},{"id":"6a1e3288.ee379c","type":"inject","z":"57b26073.47916","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"onceDelay":"3","x":210,"y":920,"wires":[["84d831f3.da072"]]},{"id":"fb7239ab.53cc48","type":"function","z":"57b26073.47916","name":"","func":"msg.hostname = \"Router PA\";\nif (msg.payload === false) return msg;\nif (msg.payload >= 0) msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":920,"wires":[["9012965f.c6d378","90373d13.5fe1b","15e6e976.114667"]]},{"id":"9012965f.c6d378","type":"ui_led","z":"57b26073.47916","group":"b89f1435.0c4bf8","order":1,"width":0,"height":0,"label":"Router PA","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"name":"Router PA","x":660,"y":920,"wires":[]},{"id":"b4baf414.dc8188","type":"inject","z":"57b26073.47916","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"onceDelay":"4","x":210,"y":960,"wires":[["dee72894.58edf8"]]},{"id":"8e9bdec4.ffd5","type":"function","z":"57b26073.47916","name":"","func":"msg.hostname = \"Camara Entrada\";\nif (msg.payload === false) return msg;\nif (msg.payload >= 0) msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":960,"wires":[["51c9c50f.165ecc","90373d13.5fe1b"]]},{"id":"51c9c50f.165ecc","type":"ui_led","z":"57b26073.47916","group":"bc362a5c.0bea88","order":2,"width":0,"height":0,"label":"Entrada","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"name":"Camara Entrada (186)","x":700,"y":960,"wires":[]},{"id":"dc6d6b4e.ebd228","type":"ui_button","z":"bb63d718.931208","name":"","group":"73bc3aee.13bf44","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":110,"y":300,"wires":[[]]},{"id":"6263dc6.3d94524","type":"rpi-gpio out","z":"bb63d718.931208","name":"Verde 4","pin":"7","set":"","level":"0","freq":"","out":"pwm","x":640,"y":140,"wires":[]},{"id":"e3fe3abe.5b9d88","type":"debug","z":"bb63d718.931208","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":380,"wires":[]},{"id":"c0a58309.718d1","type":"rpi-gpio in","z":"bb63d718.931208","name":"Tecla Blanca","pin":"8","intype":"down","debounce":"25","read":false,"x":110,"y":40,"wires":[["e3fe3abe.5b9d88"]]},{"id":"28669530.61b13a","type":"rpi-gpio in","z":"bb63d718.931208","name":"Tecla Roja","pin":"10","intype":"down","debounce":"25","read":false,"x":130,"y":140,"wires":[["e3fe3abe.5b9d88","46f7e7ae.50bea8"]]},{"id":"f17a9635.f6f188","type":"function","z":"bb63d718.931208","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":440,"wires":[["d700df73.35ba4"]]},{"id":"46f7e7ae.50bea8","type":"switch","z":"bb63d718.931208","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":240,"wires":[["f17a9635.f6f188"]]},{"id":"3ff8204b.ffa2","type":"adv ping","z":"57b26073.47916","name":"","host":"192.168.2.51","x":370,"y":800,"wires":[["f84d004.8528f"]]},{"id":"618d3e98.fb7ef","type":"adv ping","z":"57b26073.47916","name":"","host":"192.168.2.52","x":370,"y":840,"wires":[["1b429be5.b44554"]]},{"id":"af17a31c.f6b2c","type":"adv ping","z":"57b26073.47916","name":"","host":"192.168.2.53","x":370,"y":880,"wires":[["8e2a259b.eb3d28"]]},{"id":"84d831f3.da072","type":"adv ping","z":"57b26073.47916","name":"","host":"192.168.2.2","x":370,"y":920,"wires":[["fb7239ab.53cc48"]]},{"id":"99f128b8.8258f8","type":"adv ping","z":"57b26073.47916","name":"","host":"","x":740,"y":660,"wires":[["61d6c495.e7e54c","c81d7a30.a3fa68"]]},{"id":"dee72894.58edf8","type":"adv ping","z":"57b26073.47916","name":"","host":"192.168.2.186","x":380,"y":960,"wires":[["8e9bdec4.ffd5"]]},{"id":"60ed99dc.830dd8","type":"trigger","z":"bb63d718.931208","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"2","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":820,"y":600,"wires":[["d58fafa8.afc3a"]]},{"id":"1159aa54.7e9ad6","type":"function","z":"bb63d718.931208","name":"UnForce","func":"msg.payload = \"unforce\";\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":680,"wires":[["d58fafa8.afc3a"]]},{"id":"da978042.08506","type":"rpi-gpio out","z":"bb63d718.931208","name":"Rojo 3","pin":"15","set":"","level":"0","freq":"","out":"pwm","x":810,"y":300,"wires":[]},{"id":"ee5705ab.f79a48","type":"ui_level","z":"2bcc0ccb.cd26a4","group":"cd9fc1f7.18d92","order":2,"width":0,"height":0,"name":"","label":"Lluvia","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"1024","segWarn":"","segHigh":"","unit":"units","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","x":370,"y":260,"wires":[]},{"id":"214d3c34.0ed094","type":"function","z":"2bcc0ccb.cd26a4","name":"Invertir","func":"msg.payload = Math.round(1024 - msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":160,"wires":[["296d7504.367dca"]]},{"id":"c0c5968f.951788","type":"ui_level","z":"2bcc0ccb.cd26a4","group":"cd9fc1f7.18d92","order":2,"width":0,"height":0,"name":"","label":"Luz","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"1024","segWarn":"","segHigh":"","unit":"units","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","x":350,"y":320,"wires":[]},{"id":"d0174328.ef71a","type":"ui_level","z":"930c94d9.38ece8","group":"e8c5d0b7.ae42a","order":2,"width":0,"height":0,"name":"","label":"Amps","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"1024","segWarn":"","segHigh":"","unit":"units","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","x":370,"y":460,"wires":[]},{"id":"3dc8b540.d71e8a","type":"ui_level","z":"930c94d9.38ece8","group":"e8c5d0b7.ae42a","order":2,"width":0,"height":0,"name":"","label":"Volts","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"1024","segWarn":"","segHigh":"","unit":"units","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","x":370,"y":420,"wires":[]},{"id":"297e1c43.285b34","type":"inject","z":"57b26073.47916","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":740,"wires":[[]]},{"id":"e0a0e07d.bf61a","type":"trigger","z":"57b26073.47916","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"-5","extend":false,"units":"s","reset":"","bytopic":"topic","name":"","x":920,"y":560,"wires":[["c1566fcc.e4eaa"]]},{"id":"4a233454.2c259c","type":"function","z":"57b26073.47916","name":"PING","func":"msg.topic = msg.topic + \"PING\";\nmsg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":560,"wires":[["e0a0e07d.bf61a"]]},{"id":"8899307f.25896","type":"mqtt in","z":"57b26073.47916","name":"","topic":"Arduino/+/out/PONG","qos":"2","datatype":"auto","broker":"1ad27743.ce9fb9","x":230,"y":660,"wires":[["666818ba.645868"]]},{"id":"cdd4a2c5.d5c87","type":"ui_button","z":"57b26073.47916","name":"","group":"b89f1435.0c4bf8","order":5,"width":0,"height":0,"passthru":false,"label":"Reboot PBLiving","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1230,"y":260,"wires":[["87eb95f9.05b7f8"]]},{"id":"c89b94c6.d243e8","type":"ui_button","z":"57b26073.47916","name":"","group":"b89f1435.0c4bf8","order":9,"width":0,"height":0,"passthru":false,"label":"Reboot PBTablero","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1230,"y":300,"wires":[["90ae212b.2abae"]]},{"id":"87eb95f9.05b7f8","type":"mqtt out","z":"57b26073.47916","name":"","topic":"Arduino/PBLiving/in/RESET","qos":"","retain":"","broker":"1ad27743.ce9fb9","x":1520,"y":260,"wires":[]},{"id":"90ae212b.2abae","type":"mqtt out","z":"57b26073.47916","name":"","topic":"Arduino/PBTablero/in/RESET","qos":"","retain":"","broker":"1ad27743.ce9fb9","x":1520,"y":300,"wires":[]},{"id":"3a9cad9f.86dc72","type":"mqtt in","z":"930c94d9.38ece8","name":"Tablero Amps (A12)","topic":"Arduino/PBLiving/out/Sensores/Analog/12","qos":"2","datatype":"auto","broker":"1ad27743.ce9fb9","x":190,"y":420,"wires":[["c474e789.14d038"]]},{"id":"c474e789.14d038","type":"ui_level","z":"930c94d9.38ece8","group":"e8c5d0b7.ae42a","order":2,"width":0,"height":0,"name":"","label":"Amps","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"1024","segWarn":"","segHigh":"","unit":"units","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","x":370,"y":500,"wires":[]},{"id":"314720f3.9b082","type":"influxdb out","z":"930c94d9.38ece8","influxdb":"e5a1cfdf.94ab5","name":"","measurement":"Volts","precision":"s","retentionPolicy":"","x":620,"y":120,"wires":[]},{"id":"8a095048.19b19","type":"influxdb out","z":"930c94d9.38ece8","influxdb":"e5a1cfdf.94ab5","name":"","measurement":"Amps","precision":"s","retentionPolicy":"","x":650,"y":480,"wires":[]},{"id":"b3fdab3a.bd2478","type":"function","z":"57b26073.47916","name":"","func":"msg.payload = [{\n    value: msg.payload\n},\n{\n    host:\"RaspberryPI\"\n}];\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":100,"wires":[["64bc79e7.831e18"]]},{"id":"64bc79e7.831e18","type":"influxdb out","z":"57b26073.47916","influxdb":"e5a1cfdf.94ab5","name":"","measurement":"Cpu","precision":"s","retentionPolicy":"","x":1050,"y":100,"wires":[]},{"id":"f4e26607.719868","type":"influxdb out","z":"930c94d9.38ece8","influxdb":"e5a1cfdf.94ab5","name":"","measurement":"Watts","precision":"s","retentionPolicy":"","x":740,"y":660,"wires":[]},{"id":"8243518b.b9425","type":"influxdb out","z":"887b2e31.18293","influxdb":"e5a1cfdf.94ab5","name":"","measurement":"Relays","precision":"s","retentionPolicy":"","x":760,"y":120,"wires":[]},{"id":"97dab7ab.a7c948","type":"function","z":"887b2e31.18293","name":"","func":"msg.payload = [{\n    value: msg.payload\n},\n{\n    arduino:msg.arduino,\n    nro:msg.relay\n}];\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":120,"wires":[["8243518b.b9425"]]},{"id":"90373d13.5fe1b","type":"function","z":"57b26073.47916","name":"","func":"if (msg.payload == false) value = 0;\nif (msg.payload == true) value = 1;\nmsg.payload = [{\n    value: value\n},\n{\n    host:msg.hostname\n}];\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1040,"wires":[["ba44a7c1.d6d9f8"]]},{"id":"ba44a7c1.d6d9f8","type":"influxdb out","z":"57b26073.47916","influxdb":"e5a1cfdf.94ab5","name":"","measurement":"HostsUp","precision":"s","retentionPolicy":"","x":1030,"y":1040,"wires":[]},{"id":"698870fb.682f5","type":"mqtt in","z":"57b26073.47916","name":"","topic":"Arduino/PBLiving/out/LastSeen","qos":"2","datatype":"auto","broker":"1ad27743.ce9fb9","x":230,"y":1020,"wires":[["f7536e2c.98f8d","a153b813.839bf8"]]},{"id":"f7536e2c.98f8d","type":"trigger","z":"57b26073.47916","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"7","extend":true,"units":"s","reset":"","bytopic":"topic","name":"","x":460,"y":1020,"wires":[["2400c417.1b36cc"]]},{"id":"2400c417.1b36cc","type":"ui_led","z":"57b26073.47916","group":"b89f1435.0c4bf8","order":3,"width":0,"height":0,"label":"PBLiving OK","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"name":"PBLiving OK","x":610,"y":1020,"wires":[]},{"id":"8c555022.ddcbc","type":"mqtt in","z":"57b26073.47916","name":"","topic":"Arduino/PBTablero/out/LastSeen","qos":"2","datatype":"auto","broker":"1ad27743.ce9fb9","x":230,"y":1060,"wires":[["cd8a1740.44b838","c1de68da.b823f8"]]},{"id":"cd8a1740.44b838","type":"trigger","z":"57b26073.47916","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"7","extend":true,"units":"s","reset":"","bytopic":"topic","name":"","x":460,"y":1060,"wires":[["eea63b5f.041388"]]},{"id":"eea63b5f.041388","type":"ui_led","z":"57b26073.47916","group":"b89f1435.0c4bf8","order":7,"width":0,"height":0,"label":"PbTablero OK","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"name":"PbTablero OK","x":620,"y":1060,"wires":[]},{"id":"a153b813.839bf8","type":"trigger","z":"57b26073.47916","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"50","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":910,"y":1160,"wires":[["145c849f.97212b"]]},{"id":"145c849f.97212b","type":"rpi-gpio out","z":"57b26073.47916","name":"Amarillo 1","pin":"12","set":"","level":"0","freq":"","out":"out","x":1180,"y":1080,"wires":[]},{"id":"e7bbe76d.536128","type":"rpi-gpio out","z":"57b26073.47916","name":"Amarillo 2","pin":"16","set":"","level":"0","freq":"","out":"out","x":1160,"y":1180,"wires":[]},{"id":"c1de68da.b823f8","type":"trigger","z":"57b26073.47916","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"50","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":930,"y":1200,"wires":[["e7bbe76d.536128"]]},{"id":"a18ab030.e67e6","type":"rpi-gpio out","z":"57b26073.47916","name":"Rojo 1","pin":"18","set":"","level":"0","freq":"","out":"out","x":530,"y":580,"wires":[]},{"id":"7584323d.8efc2c","type":"trigger","z":"57b26073.47916","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"50","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":370,"y":580,"wires":[["a18ab030.e67e6"]]},{"id":"62acdaee.5710d4","type":"trigger","z":"235e5af0.561006","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"50","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":390,"y":640,"wires":[["b0256700.411198"]]},{"id":"b0256700.411198","type":"rpi-gpio out","z":"235e5af0.561006","name":"Rojo 2","pin":"13","set":"","level":"0","freq":"","out":"out","x":570,"y":640,"wires":[]},{"id":"df6db1d2.8df5","type":"inject","z":"57b26073.47916","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":1050,"y":480,"wires":[["5b835972.c24ec8"]]},{"id":"10504fd3.8d689","type":"rpi-gpio out","z":"57b26073.47916","name":"Verde 1","pin":"5","set":"","level":"0","freq":"","out":"out","x":1380,"y":460,"wires":[]},{"id":"66cc9a32.9555c4","type":"rpi-gpio out","z":"57b26073.47916","name":"Verde 2","pin":"3","set":"","level":"0","freq":"","out":"out","x":1020,"y":900,"wires":[]},{"id":"24734ab7.b3bf66","type":"rpi-gpio out","z":"57b26073.47916","name":"Verde 3","pin":"11","set":"","level":"0","freq":"","out":"pwm","x":1260,"y":920,"wires":[]},{"id":"fa45480d.9d02f8","type":"inject","z":"57b26073.47916","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":430,"y":660,"wires":[["a18ab030.e67e6"]]},{"id":"50a9490.aee2eb8","type":"inject","z":"235e5af0.561006","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":410,"y":700,"wires":[["b0256700.411198"]]},{"id":"5b835972.c24ec8","type":"trigger","z":"57b26073.47916","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"50","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":1270,"y":540,"wires":[["10504fd3.8d689"]]},{"id":"15e6e976.114667","type":"trigger","z":"57b26073.47916","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"50","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":910,"y":980,"wires":[["66cc9a32.9555c4"]]}]