NodeRed/Flows/Flow.txt
[{"id":"54869923.c6eea8","type":"tab","label":"Interruptores y Luces","disabled":false,"info":""},{"id":"ace9ce7f.eca9a","type":"tab","label":"Relays","disabled":false,"info":""},{"id":"64d6029c.e4838c","type":"tab","label":"Sensores","disabled":false,"info":""},{"id":"4f218d0.768a574","type":"tab","label":"Node red Status","disabled":false,"info":""},{"id":"c1843d6f.9a8e4","type":"tab","label":"Escenas","disabled":false,"info":""},{"id":"b930b7cc.0cc268","type":"tab","label":"RF","disabled":false,"info":""},{"id":"aab5b00f.1bfb3","type":"tab","label":"IR","disabled":false,"info":""},{"id":"fa5dc61e.1a0528","type":"tab","label":"Presencia Celus","disabled":false,"info":""},{"id":"1f940052.9aa5","type":"tab","label":"Compu","disabled":false,"info":""},{"id":"df51f442.d92c08","type":"tab","label":"PS4","disabled":false,"info":""},{"id":"36ec037f.d701bc","type":"tab","label":"Muteki","disabled":false,"info":""},{"id":"38ba3dcd.930ef2","type":"tab","label":"TV Living","disabled":false,"info":""},{"id":"7e6b9b40.d13734","type":"tab","label":"Proyector","disabled":false,"info":""},{"id":"7d56f802.6123f8","type":"subflow","name":"Teclas Comedor","info":"","category":"Teclas","in":[{"x":100,"y":100,"wires":[{"id":"4998fd4a.d22ba4"}]}],"out":[{"x":840,"y":180,"wires":[{"id":"eb307af8.b75ff8","port":0}]},{"x":840,"y":260,"wires":[{"id":"ea004a3.eb2adb8","port":0}]},{"x":840,"y":340,"wires":[{"id":"8c889c6d.fc596","port":0}]}],"inputLabels":["Color Luz Teclas"]},{"id":"8a53f32a.2e695","type":"subflow","name":"Teclas Living Izq","info":"","category":"Teclas","in":[],"out":[{"x":840,"y":180,"wires":[{"id":"eda57132.f4998","port":0}]},{"x":840,"y":260,"wires":[{"id":"8786aad4.b01988","port":0}]},{"x":840,"y":340,"wires":[{"id":"c6e80159.d0f71","port":0}]}]},{"id":"71f67661.c00458","type":"subflow","name":"Teclas Living Der","info":"","category":"Teclas","in":[],"out":[{"x":880,"y":140,"wires":[{"id":"e681006.32879","port":0}]},{"x":880,"y":240,"wires":[{"id":"592cc4d5.f9409c","port":0}]}]},{"id":"ab3ceb7c.2150e8","type":"subflow","name":"Teclas Escritorio","info":"","category":"Teclas","in":[],"out":[{"x":1100,"y":160,"wires":[{"id":"6b31d347.bda96c","port":0}]},{"x":1100,"y":240,"wires":[{"id":"a161d4db.eeefe8","port":0}]}]},{"id":"25d8ac2f.2720c4","type":"subflow","name":"Teclas Escalera","info":"","category":"Teclas","in":[],"out":[{"x":1040,"y":160,"wires":[{"id":"1400008.f4654","port":0}]},{"x":1040,"y":240,"wires":[{"id":"15720142.48fd1f","port":0}]},{"x":1040,"y":320,"wires":[{"id":"6b0af8ff.06dc48","port":0}]},{"x":1040,"y":400,"wires":[{"id":"ac1c9b8b.ae9d48","port":0}]}]},{"id":"8f6336fb.599168","type":"mqtt-broker","z":"","name":"OpenWrt","broker":"192.168.2.1","port":"1883","clientid":"NodeRed","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"MX5/NodeRed/status","birthQos":"0","birthPayload":"connecting","closeTopic":"MX5/NodeRed/status","closeQos":"0","closePayload":"disconnecting","willTopic":"MX5/NodeRed/status","willQos":"0","willPayload":"disconnecting"},{"id":"a461cf7b.e323","type":"ui_tab","z":"","name":"Sensores","icon":"brightness_5","order":2,"disabled":false,"hidden":false},{"id":"f59ba7bd.3cfb78","type":"ui_group","z":"","name":"Escritorio","tab":"d92866f4.194418","order":1,"disp":true,"width":"6","collapse":false},{"id":"cee2f587.910cd8","type":"ui_base","z":"","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#7b7cb0","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#7b7cb0","edited":true},"page-titlebar-backgroundColor":{"value":"#7b7cb0","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#ababcd","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#7b7cb0","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Casa","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"58a329cc.891c98","type":"ui_group","z":"","name":"Luz","tab":"a461cf7b.e323","order":1,"disp":true,"width":"6","collapse":false},{"id":"16c05e28.a18e52","type":"ui_group","z":"","name":"AAC","tab":"e0376702.5bb558","order":2,"disp":true,"width":"6","collapse":false},{"id":"f289b8c9.687138","type":"openhab-v2-controller","z":"","name":"OpenHab","protocol":"http","host":"localhost","port":"8080","path":"","username":"","password":"","allowRawEvents":true},{"id":"d92866f4.194418","type":"ui_tab","z":"","name":"Luces","icon":"wb_incandescent","order":1,"disabled":false,"hidden":false},{"id":"754911b5.1ae39","type":"ui_group","z":"","name":"Temperatura","tab":"a461cf7b.e323","order":2,"disp":true,"width":"6","collapse":false},{"id":"e0376702.5bb558","type":"ui_tab","z":"","name":"Control remoto","icon":"settings_remote","order":4,"disabled":false,"hidden":false},{"id":"b60e5c9f.35d6e","type":"ui_group","z":"","name":"Off","tab":"a3e9678.8e15498","order":1,"disp":true,"width":"6","collapse":false},{"id":"a3e9678.8e15498","type":"ui_tab","z":"","name":"Off","icon":"dashboard","order":3,"disabled":false,"hidden":true},{"id":"ac7ee4b0.e16098","type":"ui_group","z":"","name":"Compu","tab":"e0376702.5bb558","order":4,"disp":true,"width":"6","collapse":false},{"id":"3761315c.05da2e","type":"ui_tab","z":"","name":"Escenas","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"645707a2.3551e8","type":"ui_group","z":"","name":"Acciones","tab":"3761315c.05da2e","order":1,"disp":true,"width":"6","collapse":false},{"id":"2a47a152.a59d3e","type":"ui_group","z":"","name":"TV","tab":"e0376702.5bb558","order":1,"disp":true,"width":"6","collapse":true},{"id":"4335abb1.a21ba4","type":"ui_group","z":"","name":"Proyector","tab":"e0376702.5bb558","order":6,"disp":true,"width":"6","collapse":false},{"id":"91c2c0a9.9eac9","type":"ui_group","z":"","name":"Muteki","tab":"e0376702.5bb558","order":7,"disp":true,"width":"6","collapse":false},{"id":"735560bc.2fe34","type":"ui_group","z":"","name":"Patio","tab":"d92866f4.194418","order":2,"disp":true,"width":"6","collapse":false},{"id":"b1246f6b.160dc","type":"ui_group","z":"","name":"Humedad","tab":"a461cf7b.e323","order":3,"disp":true,"width":"6","collapse":false},{"id":"11958007.52d9","type":"ui_group","z":"","name":"CPU","tab":"a461cf7b.e323","order":4,"disp":true,"width":"6","collapse":false},{"id":"e49381c5.d5eb6","type":"ui_group","z":"","name":"Comedor","tab":"d92866f4.194418","order":3,"disp":true,"width":"6","collapse":false},{"id":"c232b3de.12c02","type":"ui_group","z":"","name":"Living","tab":"d92866f4.194418","order":4,"disp":true,"width":"6","collapse":false},{"id":"cfc4759c.1b4928","type":"ui_group","z":"","name":"PS4","tab":"e0376702.5bb558","order":5,"disp":true,"width":"6","collapse":false},{"id":"6db4539d.d4318c","type":"ui_group","z":"","name":"Frente","tab":"d92866f4.194418","order":5,"disp":true,"width":"6","collapse":false},{"id":"a92fc404.c36728","type":"mqtt in","z":"64d6029c.e4838c","name":"PBLiving Sensor Luz (A15)","topic":"Arduino/PBLiving/out/Sensores/LuzIntensidad","qos":"2","broker":"8f6336fb.599168","x":210,"y":320,"wires":[["fcdea7ea.c71728"]]},{"id":"30ad2171.55092e","type":"switch","z":"64d6029c.e4838c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"580","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":200,"wires":[["b7c9f59d.186d18"],["f6e89189.3fe76"]]},{"id":"490cf3a1.d3a73c","type":"mqtt out","z":"64d6029c.e4838c","name":"Luz Frente (24)","topic":"Arduino/PBLiving/in/Relay/24","qos":"","retain":"","broker":"8f6336fb.599168","x":1120,"y":160,"wires":[]},{"id":"b7c9f59d.186d18","type":"function","z":"64d6029c.e4838c","name":"Prender","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":160,"wires":[["490cf3a1.d3a73c","f80aa9.9ad3b558"]]},{"id":"f6e89189.3fe76","type":"function","z":"64d6029c.e4838c","name":"Apagar","func":"msg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":280,"wires":[["f80aa9.9ad3b558","490cf3a1.d3a73c"]]},{"id":"44c7de6f.e6112","type":"ui_gauge","z":"64d6029c.e4838c","name":"","group":"58a329cc.891c98","order":1,"width":0,"height":0,"gtype":"gage","title":"Luz","label":"units","format":"{{value}}","min":0,"max":"1024","colors":["#000000","#939300","#faff15"],"seg1":"300","seg2":"580","x":870,"y":380,"wires":[]},{"id":"8f9ade7b.dbf65","type":"mqtt in","z":"64d6029c.e4838c","name":"PBLiving Humedad (DHT 25)","topic":"Arduino/PBLiving/out/Sensores/Humedad","qos":"2","broker":"8f6336fb.599168","x":220,"y":660,"wires":[["7e29020b.f7405c"]]},{"id":"cd217c0d.2b11a","type":"mqtt in","z":"64d6029c.e4838c","name":"PBLiving Temperatura (DHT 25)","topic":"Arduino/PBLiving/out/Sensores/Temperatura","qos":"2","broker":"8f6336fb.599168","x":210,"y":760,"wires":[["c3677e87.8dd2b"]]},{"id":"aaa73bd0.8eca58","type":"ui_gauge","z":"64d6029c.e4838c","name":"","group":"b1246f6b.160dc","order":1,"width":0,"height":0,"gtype":"gage","title":"Hum. Exterior","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":640,"wires":[]},{"id":"c4197f47.79fd6","type":"ui_gauge","z":"64d6029c.e4838c","name":"","group":"754911b5.1ae39","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp. Exterior","label":"C°","format":"{{value}}","min":0,"max":"50","colors":["#0400b5","#00d900","#ca3838"],"seg1":"20","seg2":"28","x":900,"y":740,"wires":[]},{"id":"9cee91e5.04d5a","type":"ui_chart","z":"64d6029c.e4838c","name":"","group":"58a329cc.891c98","order":2,"width":0,"height":0,"label":"Luz","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":870,"y":420,"wires":[[],[]]},{"id":"ef7798bd.2c45b8","type":"inject","z":"4f218d0.768a574","name":"","topic":"MX5/NodeRed/lastseen/epoch","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":100,"wires":[["44209de4.160cf4","ab74f200.9bd0d"]]},{"id":"44209de4.160cf4","type":"mqtt out","z":"4f218d0.768a574","name":"LastSeen","topic":"","qos":"","retain":"","broker":"8f6336fb.599168","x":520,"y":80,"wires":[]},{"id":"ab74f200.9bd0d","type":"cpu","z":"4f218d0.768a574","name":"","msgCore":false,"msgOverall":true,"msgArray":false,"msgTemp":false,"x":450,"y":200,"wires":[["91cd2afd.a09808","fd95da12.04bb28","54bcfd48.af93e4"]]},{"id":"91cd2afd.a09808","type":"mqtt out","z":"4f218d0.768a574","name":"","topic":"MX5/cpu","qos":"","retain":"","broker":"8f6336fb.599168","x":680,"y":160,"wires":[]},{"id":"d621d1d9.5a06e","type":"ui_chart","z":"4f218d0.768a574","name":"","group":"11958007.52d9","order":2,"width":0,"height":0,"label":"CPU MX5","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":880,"y":220,"wires":[[],[]]},{"id":"f85f8641.62cdd8","type":"mqtt out","z":"54869923.c6eea8","name":"Tomas TV (28)","topic":"Arduino/PBLiving/in/Relay/28","qos":"","retain":"false","broker":"8f6336fb.599168","x":480,"y":840,"wires":[],"inputLabels":["kkl"]},{"id":"5c71164a.5bafb8","type":"mqtt out","z":"54869923.c6eea8","name":"Toma SubWoofer (26)","topic":"Arduino/PBLiving/in/Relay/26","qos":"","retain":"false","broker":"8f6336fb.599168","x":480,"y":800,"wires":[],"inputLabels":["kkl"]},{"id":"633f89e7.f53e48","type":"mqtt out","z":"54869923.c6eea8","name":"Luz Balcon Frente (22)","topic":"Arduino/PBLiving/in/Relay/22","qos":"","retain":"false","broker":"8f6336fb.599168","x":700,"y":520,"wires":[],"inputLabels":["kkl"]},{"id":"6757beba.98ab3","type":"mqtt out","z":"54869923.c6eea8","name":"Luz Frente (24)","topic":"Arduino/PBLiving/in/Relay/24","qos":"","retain":"false","broker":"8f6336fb.599168","x":680,"y":460,"wires":[],"inputLabels":["kkl"]},{"id":"e847cdd5.19e8c","type":"ui_button","z":"aab5b00f.1bfb3","name":"","group":"16c05e28.a18e52","order":9,"width":0,"height":0,"passthru":false,"label":"Direct","tooltip":"","color":"","bgcolor":"","icon":"fa-rss","payload":"90,86,11,31,11,10,11,31,11,31,12,10,11,10,11,32,11,10,11,10,11,32,11,10,11,10,11,31,11,32,11,10,11,32,11,10,11,10,11,10,11,10,11,32,11,32,11,32,11,32,11,31,11,31,11,32,11,32,11,10,11,10,11,10,11,10,11,31,11,32,11,31,11,10,11,10,11,10,11,10,11,10,11,10,11,10,11,10,11,32,11,32,11,32,11,32,11,32,11","payloadType":"str","topic":"","x":610,"y":340,"wires":[["c3006629.e17ba8"]]},{"id":"4805e3c9.b358ac","type":"ui_chart","z":"64d6029c.e4838c","name":"","group":"b1246f6b.160dc","order":2,"width":0,"height":0,"label":"Hum. Exterior","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":900,"y":680,"wires":[[],[]]},{"id":"649606aa.4c1d68","type":"ui_chart","z":"64d6029c.e4838c","name":"","group":"754911b5.1ae39","order":2,"width":0,"height":0,"label":"Temp. Exterior","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":900,"y":780,"wires":[[],[]]},{"id":"957c3031.57cd3","type":"mqtt in","z":"7d56f802.6123f8","name":"Teclas Comedor 1 (47) (UTP Gris Marron)","topic":"Arduino/PBLiving/out/Button/47/toggle","qos":"2","broker":"8f6336fb.599168","x":340,"y":180,"wires":[["eb307af8.b75ff8"]]},{"id":"2819a381.3e255c","type":"mqtt in","z":"7d56f802.6123f8","name":"Teclas Comedor 2 (45)  (UTP Gris Azul)","topic":"Arduino/PBLiving/out/Button/45/toggle","qos":"2","broker":"8f6336fb.599168","x":330,"y":260,"wires":[["ea004a3.eb2adb8"]]},{"id":"96878058.2e133","type":"mqtt in","z":"7d56f802.6123f8","name":"Teclas Comedor 3 (39)  (UTP Gris Naranja Claro)","topic":"Arduino/PBLiving/out/Button/39/toggle","qos":"2","broker":"8f6336fb.599168","x":320,"y":340,"wires":[["8c889c6d.fc596"]]},{"id":"eb307af8.b75ff8","type":"function","z":"7d56f802.6123f8","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":180,"wires":[[]]},{"id":"ea004a3.eb2adb8","type":"function","z":"7d56f802.6123f8","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":260,"wires":[[]]},{"id":"8c889c6d.fc596","type":"function","z":"7d56f802.6123f8","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":340,"wires":[[]]},{"id":"f00524c8.e6d058","type":"subflow:7d56f802.6123f8","z":"54869923.c6eea8","name":"","x":220,"y":680,"wires":[["6757beba.98ab3"],["2e6244b3.56adac"],["2fa8b79.9050248"]]},{"id":"278e04e6.a3c9cc","type":"ui_colour_picker","z":"54869923.c6eea8","name":"","label":"Color Teclas","group":"e49381c5.d5eb6","format":"rgb","outformat":"string","showSwatch":true,"showPicker":true,"showValue":true,"showHue":true,"showAlpha":false,"showLightness":true,"dynOutput":"true","order":4,"width":0,"height":0,"passthru":true,"topic":"","x":190,"y":500,"wires":[["80a405a3.b61438"]]},{"id":"f1af84ac.036078","type":"mqtt in","z":"8a53f32a.2e695","name":"Teclas Living Izq 1 (33) (UTP Negro Marron Claro)","topic":"Arduino/PBLiving/out/Button/33/toggle","qos":"2","broker":"8f6336fb.599168","x":350,"y":180,"wires":[["eda57132.f4998"]]},{"id":"74ec292f.6a36a8","type":"mqtt in","z":"8a53f32a.2e695","name":"Teclas Living Izq 2 (41) (UTP Negro Azul)","topic":"Arduino/PBLiving/out/Button/41/toggle","qos":"2","broker":"8f6336fb.599168","x":400,"y":260,"wires":[["8786aad4.b01988"]]},{"id":"387d0b.f6ebe2f6","type":"mqtt in","z":"8a53f32a.2e695","name":"Teclas Living Izq 3 (29) (UTP Azul Claro)","topic":"Arduino/PBLiving/out/Button/29/toggle","qos":"2","broker":"8f6336fb.599168","x":360,"y":340,"wires":[["c6e80159.d0f71"]]},{"id":"eda57132.f4998","type":"function","z":"8a53f32a.2e695","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":180,"wires":[[]]},{"id":"8786aad4.b01988","type":"function","z":"8a53f32a.2e695","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":260,"wires":[[]]},{"id":"c6e80159.d0f71","type":"function","z":"8a53f32a.2e695","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":340,"wires":[[]]},{"id":"de964d29.50d81","type":"mqtt in","z":"71f67661.c00458","name":"Teclas Living Der 1 (35) (UTP Negro Naranja)","topic":"Arduino/PBLiving/out/Button/35/toggle","qos":"2","broker":"8f6336fb.599168","x":430,"y":160,"wires":[["e681006.32879"]]},{"id":"31259a1d.c2a8a6","type":"mqtt in","z":"71f67661.c00458","name":"Teclas Living Der 1 (37) (UTP Negro Naranja Claro)","topic":"Arduino/PBLiving/out/Button/37/toggle","qos":"2","broker":"8f6336fb.599168","x":450,"y":240,"wires":[["592cc4d5.f9409c"]]},{"id":"e681006.32879","type":"function","z":"71f67661.c00458","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":140,"wires":[[]]},{"id":"592cc4d5.f9409c","type":"function","z":"71f67661.c00458","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":240,"wires":[[]]},{"id":"80a405a3.b61438","type":"function","z":"54869923.c6eea8","name":"","func":"msg.payload = msg.payload.replace(\"rgb(\",'');\nmsg.payload = msg.payload.replace(')','');\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":580,"wires":[["f00524c8.e6d058"]]},{"id":"ecb50ca9.b261a","type":"subflow:8a53f32a.2e695","z":"54869923.c6eea8","name":"","x":220,"y":740,"wires":[["a07f5365.9f6fd"],["7dd53b7f.2b7994"],[]]},{"id":"76775420.bdb03c","type":"subflow:71f67661.c00458","z":"54869923.c6eea8","name":"","x":220,"y":800,"wires":[["5c71164a.5bafb8"],["f85f8641.62cdd8"]]},{"id":"968e2ad5.154628","type":"comment","z":"7d56f802.6123f8","name":"UTP Gris Verde (Interferencia con LEDS)","info":"","x":320,"y":420,"wires":[]},{"id":"4998fd4a.d22ba4","type":"mqtt out","z":"7d56f802.6123f8","name":"Luz RGB Tecla 1 (9,11,13)","topic":"Arduino/PBLiving/in/LEDSRGB/0","qos":"","retain":"","broker":"8f6336fb.599168","x":360,"y":80,"wires":[],"inputLabels":["kkl"]},{"id":"13d18f5a.7167b1","type":"comment","z":"7d56f802.6123f8","name":"","info":"","x":300,"y":40,"wires":[]},{"id":"c3677e87.8dd2b","type":"aggregator","z":"64d6029c.e4838c","name":"","topic":"","intervalCount":"10","intervalUnits":"m","submitIncompleteInterval":true,"aggregationType":"median","x":530,"y":760,"wires":[["c045b3e4.d53c8"]]},{"id":"fcdea7ea.c71728","type":"aggregator","z":"64d6029c.e4838c","name":"","topic":"","intervalCount":"10","intervalUnits":"m","submitIncompleteInterval":true,"aggregationType":"median","x":450,"y":320,"wires":[["30ad2171.55092e","43ed1c05.271654"]]},{"id":"7e29020b.f7405c","type":"aggregator","z":"64d6029c.e4838c","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"aggregationType":"median","x":530,"y":660,"wires":[["94b98306.3e85b"]]},{"id":"43ed1c05.271654","type":"function","z":"64d6029c.e4838c","name":"Invertir","func":"msg.payload = Math.round(1024 - msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":400,"wires":[["44c7de6f.e6112","9cee91e5.04d5a"]]},{"id":"94b98306.3e85b","type":"function","z":"64d6029c.e4838c","name":"","func":"msg.payload = Math.round(msg.payload * 100) /100\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":660,"wires":[["aaa73bd0.8eca58","4805e3c9.b358ac"]]},{"id":"c045b3e4.d53c8","type":"function","z":"64d6029c.e4838c","name":"","func":"msg.payload = Math.round(msg.payload * 100) /100\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":760,"wires":[["c4197f47.79fd6","649606aa.4c1d68"]]},{"id":"fd95da12.04bb28","type":"ui_gauge","z":"4f218d0.768a574","name":"","group":"11958007.52d9","order":1,"width":0,"height":0,"gtype":"gage","title":"CPU","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":280,"wires":[]},{"id":"54bcfd48.af93e4","type":"aggregator","z":"4f218d0.768a574","name":"","topic":"","intervalCount":"3","intervalUnits":"m","submitIncompleteInterval":true,"aggregationType":"mean","x":710,"y":220,"wires":[["d621d1d9.5a06e"]]},{"id":"b4ff393b.544128","type":"mqtt out","z":"54869923.c6eea8","name":"22","topic":"Arduino/PBTablero/in/Relay/22","qos":"","retain":"","broker":"8f6336fb.599168","x":1510,"y":480,"wires":[],"inputLabels":["kkl"]},{"id":"77d8bf01.cae12","type":"ui_button","z":"54869923.c6eea8","name":"","group":"b60e5c9f.35d6e","order":1,"width":"3","height":"2","passthru":false,"label":"22","tooltip":"","color":"","bgcolor":"","icon":"","payload":"TOGGLE","payloadType":"str","topic":"","x":1310,"y":480,"wires":[["b4ff393b.544128"]]},{"id":"92b70613.69eea8","type":"mqtt out","z":"54869923.c6eea8","name":"24","topic":"Arduino/PBTablero/in/Relay/24","qos":"","retain":"","broker":"8f6336fb.599168","x":1510,"y":520,"wires":[],"inputLabels":["kkl"]},{"id":"9471a423.7de8b8","type":"ui_button","z":"54869923.c6eea8","name":"","group":"b60e5c9f.35d6e","order":6,"width":"3","height":"2","passthru":false,"label":"24","tooltip":"","color":"","bgcolor":"","icon":"","payload":"TOGGLE","payloadType":"str","topic":"","x":1310,"y":520,"wires":[["92b70613.69eea8"]]},{"id":"7dd53b7f.2b7994","type":"mqtt out","z":"54869923.c6eea8","name":"Luz Distribuidor (28)","topic":"Arduino/PBTablero/in/Relay/28","qos":"","retain":"false","broker":"8f6336fb.599168","x":1180,"y":960,"wires":[],"inputLabels":["kkl"]},{"id":"656c4c5e.bcf9a4","type":"mqtt out","z":"54869923.c6eea8","name":"Luz Escritorio (30)","topic":"Arduino/PBTablero/in/Relay/30","qos":"","retain":"false","broker":"8f6336fb.599168","x":690,"y":940,"wires":[],"inputLabels":["kkl"]},{"id":"2fa8b79.9050248","type":"mqtt out","z":"54869923.c6eea8","name":"Luz Comedor (26)","topic":"Arduino/PBTablero/in/Relay/26","qos":"","retain":"false","broker":"8f6336fb.599168","x":1170,"y":840,"wires":[],"inputLabels":["kkl"]},{"id":"a147c9ff.f80e58","type":"mqtt out","z":"54869923.c6eea8","name":"Reflector Patio (32)","topic":"Arduino/PBTablero/in/Relay/32","qos":"","retain":"false","broker":"8f6336fb.599168","x":690,"y":1060,"wires":[],"inputLabels":["kkl"]},{"id":"a07f5365.9f6fd","type":"mqtt out","z":"54869923.c6eea8","name":"Luz Vestidor (34)","topic":"Arduino/PBTablero/in/Relay/34","qos":"","retain":"false","broker":"8f6336fb.599168","x":850,"y":700,"wires":[],"inputLabels":["kkl"]},{"id":"5bdee00f.63de9","type":"mqtt out","z":"54869923.c6eea8","name":"Luz Patio (36)","topic":"Arduino/PBTablero/in/Relay/36","qos":"","retain":"false","broker":"8f6336fb.599168","x":680,"y":1000,"wires":[],"inputLabels":["kkl"]},{"id":"f110cb4a.c29678","type":"mqtt out","z":"54869923.c6eea8","name":"38","topic":"Arduino/PBTablero/in/Relay/38","qos":"","retain":"","broker":"8f6336fb.599168","x":1510,"y":560,"wires":[],"inputLabels":["kkl"]},{"id":"eaf4a5fa.305b38","type":"ui_button","z":"54869923.c6eea8","name":"","group":"b60e5c9f.35d6e","order":2,"width":"3","height":"2","passthru":false,"label":"38","tooltip":"","color":"","bgcolor":"","icon":"","payload":"TOGGLE","payloadType":"str","topic":"","x":1310,"y":560,"wires":[["f110cb4a.c29678"]]},{"id":"d44a1d9f.88b3a","type":"mqtt out","z":"54869923.c6eea8","name":"Tomas Escritorio (40)","topic":"Arduino/PBTablero/in/Relay/40","qos":"","retain":"false","broker":"8f6336fb.599168","x":1220,"y":1260,"wires":[],"inputLabels":["kkl"]},{"id":"15219b96.cb8d74","type":"mqtt out","z":"54869923.c6eea8","name":"Luz Escalera (42)","topic":"Arduino/PBTablero/in/Relay/42","qos":"","retain":"false","broker":"8f6336fb.599168","x":1190,"y":1060,"wires":[],"inputLabels":["kkl"]},{"id":"1eefcd4.ef6c233","type":"mqtt out","z":"54869923.c6eea8","name":"46","topic":"Arduino/PBTablero/in/Relay/46","qos":"","retain":"","broker":"8f6336fb.599168","x":1510,"y":620,"wires":[],"inputLabels":["kkl"]},{"id":"76ce0414.b7a2cc","type":"ui_button","z":"54869923.c6eea8","name":"","group":"b60e5c9f.35d6e","order":5,"width":"3","height":"2","passthru":false,"label":"46","tooltip":"","color":"","bgcolor":"","icon":"","payload":"TOGGLE","payloadType":"str","topic":"","x":1310,"y":620,"wires":[["1eefcd4.ef6c233"]]},{"id":"2e6244b3.56adac","type":"mqtt out","z":"54869923.c6eea8","name":"Luz Living (48)","topic":"Arduino/PBTablero/in/Relay/48","qos":"","retain":"false","broker":"8f6336fb.599168","x":1180,"y":1120,"wires":[],"inputLabels":["kkl"]},{"id":"9c6be0ee.377c4","type":"mqtt out","z":"54869923.c6eea8","name":"50","topic":"Arduino/PBTablero/in/Relay/50","qos":"","retain":"","broker":"8f6336fb.599168","x":1510,"y":660,"wires":[],"inputLabels":["kkl"]},{"id":"931fc597.953878","type":"ui_button","z":"54869923.c6eea8","name":"","group":"b60e5c9f.35d6e","order":3,"width":"3","height":"2","passthru":false,"label":"50","tooltip":"","color":"","bgcolor":"","icon":"","payload":"TOGGLE","payloadType":"str","topic":"","x":1310,"y":660,"wires":[["9c6be0ee.377c4"]]},{"id":"522b7422.d2a83c","type":"mqtt in","z":"ab3ceb7c.2150e8","name":"Teclas Escritorio 1 (43) (Marron Claro)","topic":"Arduino/PBTablero/out/Button/43/toggle","qos":"2","broker":"8f6336fb.599168","x":630,"y":160,"wires":[["6b31d347.bda96c"]]},{"id":"6f3d93aa.b79dbc","type":"mqtt in","z":"ab3ceb7c.2150e8","name":"Teclas Comedor 2 (45)  (Naranja Claro)","topic":"Arduino/PBTablero/out/Button/45/toggle","qos":"2","broker":"8f6336fb.599168","x":630,"y":240,"wires":[["a161d4db.eeefe8"]]},{"id":"6b31d347.bda96c","type":"function","z":"ab3ceb7c.2150e8","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":160,"wires":[[]]},{"id":"a161d4db.eeefe8","type":"function","z":"ab3ceb7c.2150e8","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":240,"wires":[[]]},{"id":"5fe1fad4.ea0a14","type":"subflow:ab3ceb7c.2150e8","z":"54869923.c6eea8","name":"","x":220,"y":1100,"wires":[["656c4c5e.bcf9a4"],["a147c9ff.f80e58"]]},{"id":"1f7416c9.149e59","type":"mqtt in","z":"25d8ac2f.2720c4","name":"Teclas Escalera 1 (49) (UTP Verde)","topic":"Arduino/PBTablero/out/Button/49/toggle","qos":"2","broker":"8f6336fb.599168","x":500,"y":160,"wires":[["1400008.f4654"]]},{"id":"b627bff0.13e7b","type":"mqtt in","z":"25d8ac2f.2720c4","name":"Teclas Escalera 2 (39)  (UTP Naranja)","topic":"Arduino/PBTablero/out/Button/39/toggle","qos":"2","broker":"8f6336fb.599168","x":510,"y":240,"wires":[["15720142.48fd1f"]]},{"id":"b49d6c3b.e885c","type":"mqtt in","z":"25d8ac2f.2720c4","name":"Teclas Escalera 3 (41)  (UTP Azul Claro)","topic":"Arduino/PBTablero/out/Button/41/toggle","qos":"2","broker":"8f6336fb.599168","x":510,"y":320,"wires":[["6b0af8ff.06dc48"]]},{"id":"1400008.f4654","type":"function","z":"25d8ac2f.2720c4","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":160,"wires":[[]]},{"id":"15720142.48fd1f","type":"function","z":"25d8ac2f.2720c4","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":240,"wires":[[]]},{"id":"6b0af8ff.06dc48","type":"function","z":"25d8ac2f.2720c4","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":320,"wires":[[]]},{"id":"fb60e9c4.f04848","type":"subflow:25d8ac2f.2720c4","z":"54869923.c6eea8","name":"","x":220,"y":1180,"wires":[["15219b96.cb8d74"],["7dd53b7f.2b7994"],["2d8fac92.3fae34"],["15219b96.cb8d74"]]},{"id":"2f47ccac.46d7d4","type":"mqtt in","z":"25d8ac2f.2720c4","name":"Teclas Escalera Arriba (47)  (UTP Azul)","topic":"Arduino/PBTablero/out/Button/47/toggle","qos":"2","broker":"8f6336fb.599168","x":510,"y":400,"wires":[["ac1c9b8b.ae9d48"]]},{"id":"ac1c9b8b.ae9d48","type":"function","z":"25d8ac2f.2720c4","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":400,"wires":[[]]},{"id":"623515dd.4f704c","type":"function","z":"54869923.c6eea8","name":"Apagar PB","func":"msg.payload = \"0\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1220,"wires":[["2e6244b3.56adac","7dd53b7f.2b7994","2fa8b79.9050248","656c4c5e.bcf9a4","a07f5365.9f6fd","5bdee00f.63de9","a147c9ff.f80e58"]]},{"id":"7110830d.34299c","type":"function","z":"54869923.c6eea8","name":"Prender","func":"msg.payload = \"1\";\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":1280,"wires":[["15219b96.cb8d74"]]},{"id":"fca2de37.b473a","type":"mqtt in","z":"b930b7cc.0cc268","name":"","topic":"Arduino/+/out/Sensores/RF433","qos":"2","broker":"8f6336fb.599168","x":210,"y":380,"wires":[["341a8846.8fd5f8","e85dbed1.0cecb","2f589d5d.123172"]]},{"id":"341a8846.8fd5f8","type":"switch","z":"b930b7cc.0cc268","name":"Sensor","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"6173422","vt":"str"},{"t":"eq","v":"10721578","vt":"str"},{"t":"eq","v":"8359674","vt":"str"},{"t":"eq","v":"2089918","vt":"str"},{"t":"eq","v":"4023790","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":460,"y":400,"wires":[[],["90e6a855.b7db28"],[],[],[]],"outputLabels":["Apertura Ventana Comedor","Sensor Movimiento Patio","Sensor Movimiento Entrada",null,null]},{"id":"d7021144.a4d8","type":"trigger","z":"b930b7cc.0cc268","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":810,"y":380,"wires":[["52468b41.6de9e4","aee74651.d04648"]]},{"id":"52468b41.6de9e4","type":"mqtt out","z":"b930b7cc.0cc268","name":"Reflector Patio (32)","topic":"Arduino/PBTablero/in/Relay/32","qos":"","retain":"true","broker":"8f6336fb.599168","x":1010,"y":380,"wires":[],"inputLabels":["kkl"]},{"id":"f80aa9.9ad3b558","type":"change","z":"64d6029c.e4838c","name":"","rules":[{"t":"set","p":"EsDeNoche","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":280,"wires":[["1f6d6b7e.0f5055"]]},{"id":"90e6a855.b7db28","type":"switch","z":"b930b7cc.0cc268","name":"Es de Noche","property":"EsDeDia","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":380,"wires":[[],["d7021144.a4d8"]],"outputLabels":["Dia","Noche"]},{"id":"2d8fac92.3fae34","type":"switch","z":"54869923.c6eea8","name":"Doble Click","property":"ApagarPB","propertyType":"global","rules":[{"t":"else"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":1260,"wires":[["d35ecbbb.c27d78","46629cb4.2ae974"],["f86b2d89.94c66","f7ba3af3.e52fe8","6679934a.81bf6c"]],"outputLabels":["Primera Vez","Segunda Vez"]},{"id":"d35ecbbb.c27d78","type":"change","z":"54869923.c6eea8","name":"Set Doble Click","rules":[{"t":"set","p":"ApagarPB","pt":"global","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1460,"wires":[["1efb453c.6e607b"]]},{"id":"f86b2d89.94c66","type":"change","z":"54869923.c6eea8","name":"Reset Doble Click","rules":[{"t":"set","p":"ApagarPB","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":1440,"wires":[[]]},{"id":"1efb453c.6e607b","type":"delay","z":"54869923.c6eea8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":1460,"wires":[["f86b2d89.94c66"]]},{"id":"f7ba3af3.e52fe8","type":"switch","z":"54869923.c6eea8","name":"Es de Dia","property":"EsDeDia","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":1280,"wires":[[],["7110830d.34299c"]],"outputLabels":["Dia","Noche"]},{"id":"e85dbed1.0cecb","type":"debug","z":"b930b7cc.0cc268","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":480,"wires":[]},{"id":"a7d80061.d0754","type":"mqtt in","z":"4f218d0.768a574","name":"Buttons Toggle","topic":"Arduino/+/out/Button/+/toggle","qos":"2","broker":"8f6336fb.599168","x":480,"y":620,"wires":[["ba168c78.f3448"]]},{"id":"ba168c78.f3448","type":"debug","z":"4f218d0.768a574","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":620,"wires":[]},{"id":"4b3f5ff4.4dc9b","type":"mqtt in","z":"54869923.c6eea8","name":"Tecla Tablero Naranja Claro UTP Gris (33)","topic":"Arduino/PBTablero/out/Button/33/toggle","qos":"2","broker":"8f6336fb.599168","x":840,"y":600,"wires":[["470eb628.021938"]]},{"id":"470eb628.021938","type":"function","z":"54869923.c6eea8","name":"Toggle","func":"msg.payload = \"TOGGLE\";\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":640,"wires":[["a07f5365.9f6fd"]]},{"id":"ecba1b25.7d7378","type":"link in","z":"54869923.c6eea8","name":"Apagar Luces PB","links":["46629cb4.2ae974","6727aea1.c987b","8c0fda33.2fab08"],"x":755,"y":1220,"wires":[["623515dd.4f704c"]]},{"id":"46629cb4.2ae974","type":"link out","z":"54869923.c6eea8","name":"","links":["ecba1b25.7d7378"],"x":715,"y":1220,"wires":[]},{"id":"9826ae36.06b57","type":"ui_button","z":"c1843d6f.9a8e4","name":"","group":"645707a2.3551e8","order":14,"width":0,"height":0,"passthru":false,"label":"Activar Modo Proyector","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":290,"y":420,"wires":[["8c0fda33.2fab08"]]},{"id":"2f589d5d.123172","type":"function","z":"b930b7cc.0cc268","name":"Setear Fecha","func":"global.set(msg.payload,new Date())\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":320,"wires":[[]]},{"id":"5bd95ec9.04b66","type":"link in","z":"aab5b00f.1bfb3","name":"AAC Apagar","links":["5ad07e76.78d6c"],"x":475,"y":440,"wires":[["fd6ae923.d76348"]]},{"id":"fd6ae923.d76348","type":"change","z":"aab5b00f.1bfb3","name":"Apagar AAC","rules":[{"t":"set","p":"payload","pt":"msg","to":"89,86,11,31,11,10,11,32,11,32,11,10,11,10,11,31,11,10,12,10,11,32,11,10,11,10,11,31,11,32,11,10,11,32,11,10,11,31,12,32,11,31,11,32,11,10,11,32,11,32,11,31,11,10,11,10,11,10,11,10,11,32,11,10,11,10,11,31,11,32,11,31,11,10,11,10,11,10,11,10,11,10,11,10,11,10,11,10,11,31,11,32,11,32,11,32,11,32,12,103,89,86,11,32,11,10,11,32,11,32,11,10,11,10,11,32,11,10,11,10,11,31,11,10,11,10,11,32,11,32,11,10,11,32,11,10,11,32,11,32,11,32,11,32,11,10,11,32,11,32,11,31,11,10,11,10,11,10,11,10,11,32,11,10,11,10,11,31,11,32,11,32,11,10,11,10,11,10,11,10,11,10,11,10,11,10,11,10,11,32,11,32,11,32,11,32,11,32,11","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":440,"wires":[["c3006629.e17ba8"]]},{"id":"61e94d9.6c70fb4","type":"ui_button","z":"aab5b00f.1bfb3","name":"","group":"645707a2.3551e8","order":7,"width":0,"height":0,"passthru":false,"label":"Apagar IR Living","tooltip":"","color":"","bgcolor":"","icon":"","payload":"182,88,12,32,12,32,12,10,12,10,12,9,12,10,12,9,12,32,12,10,12,10,12,32,12,10,12,32,12,32,12,32,12,32,12,10,12,10,12,10,12,10,12,32,12,32,12,10,12,10,12,32,12,32,12,32,12,32,12,10,12,10,12,32,12,32,12","payloadType":"str","topic":"","x":1020,"y":560,"wires":[["6dcf29fd.7e33d8"]]},{"id":"6dcf29fd.7e33d8","type":"link out","z":"aab5b00f.1bfb3","name":"","links":["550e66eb.5a2678","b29b2b88.e4df48"],"x":1195,"y":580,"wires":[]},{"id":"b45a8a67.b8dd28","type":"ui_button","z":"c1843d6f.9a8e4","name":"","group":"645707a2.3551e8","order":14,"width":0,"height":0,"passthru":false,"label":"Apagar Todo PB","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":260,"y":280,"wires":[["ba1d00da.b59d8"]]},{"id":"16bdb071.a0258","type":"link in","z":"c1843d6f.9a8e4","name":"Apagar Todo Planta Baja","links":["6679934a.81bf6c","ba1d00da.b59d8"],"x":235,"y":120,"wires":[["2a9efa5d.688bf6","79c0752a.c69e2c","6727aea1.c987b","f1883637.2eca98"]]},{"id":"2a9efa5d.688bf6","type":"link out","z":"c1843d6f.9a8e4","name":"","links":["550e66eb.5a2678","b29b2b88.e4df48"],"x":475,"y":100,"wires":[]},{"id":"79c0752a.c69e2c","type":"link out","z":"c1843d6f.9a8e4","name":"","links":["b43b6fa0.b05a1","11d807c4.6bd568"],"x":475,"y":140,"wires":[]},{"id":"6727aea1.c987b","type":"link out","z":"c1843d6f.9a8e4","name":"","links":["ecba1b25.7d7378"],"x":475,"y":180,"wires":[]},{"id":"3c54c6bc.875e2a","type":"ui_button","z":"c1843d6f.9a8e4","name":"","group":"645707a2.3551e8","order":14,"width":0,"height":0,"passthru":false,"label":"Apagar Luces PB","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":270,"y":520,"wires":[["8c0fda33.2fab08"]]},{"id":"ba1d00da.b59d8","type":"link out","z":"c1843d6f.9a8e4","name":"","links":["16bdb071.a0258"],"x":635,"y":280,"wires":[]},{"id":"8c0fda33.2fab08","type":"link out","z":"c1843d6f.9a8e4","name":"","links":["ecba1b25.7d7378"],"x":635,"y":520,"wires":[]},{"id":"f1883637.2eca98","type":"link out","z":"c1843d6f.9a8e4","name":"","links":["8f117a17.c875f8","410673bf.c9952c","e86393e.000127"],"x":475,"y":220,"wires":[]},{"id":"6679934a.81bf6c","type":"link out","z":"54869923.c6eea8","name":"","links":["16bdb071.a0258"],"x":735,"y":1340,"wires":[]},{"id":"28fd1359.3d435c","type":"function","z":"ace9ce7f.eca9a","name":"Separar Topic","func":"var topics = msg.topic.split(\"/\");\nmsg.arduino =  topics[1];\nmsg.relay =  topics[4];\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":340,"wires":[["9dbb4669.806498"]]},{"id":"9dbb4669.806498","type":"switch","z":"ace9ce7f.eca9a","name":"Aduino","property":"arduino","propertyType":"msg","rules":[{"t":"eq","v":"PBTablero","vt":"str"},{"t":"eq","v":"PBLiving","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":340,"wires":[["4e99a5f8.70badc"],["d3fcdc01.e8af5"]],"outputLabels":["Tablero","Living"]},{"id":"4e99a5f8.70badc","type":"switch","z":"ace9ce7f.eca9a","name":"Tablero","property":"relay","propertyType":"msg","rules":[{"t":"eq","v":"26","vt":"str"},{"t":"eq","v":"28","vt":"str"},{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"32","vt":"str"},{"t":"eq","v":"34","vt":"str"},{"t":"eq","v":"36","vt":"str"},{"t":"eq","v":"38","vt":"str"},{"t":"eq","v":"40","vt":"str"},{"t":"eq","v":"42","vt":"str"},{"t":"eq","v":"44","vt":"str"},{"t":"eq","v":"46","vt":"str"},{"t":"eq","v":"48","vt":"str"}],"checkall":"true","repair":false,"outputs":12,"x":720,"y":300,"wires":[["c60bccb7.17ebb"],["a05d516b.b438d"],["8c02a9be.953248"],["1b8aead5.d0b9b5"],["7ced47d7.4db1a8"],["d2f0d0.6a09cf3"],[],["b6423795.453ae8"],["609745ac.af1bdc"],[],[],["e2f98468.7640b8"]],"outputLabels":["Comedor (26)","Distribuidor (28)","Luiz Escritorio (30)","Reflector Patio (32)","Vestidor (34)","Patio (36)","38","Toma Escritorio (40)","Escalera (42)","44","46","Living (48)"]},{"id":"d3fcdc01.e8af5","type":"switch","z":"ace9ce7f.eca9a","name":"Living","property":"relay","propertyType":"msg","rules":[{"t":"eq","v":"24","vt":"str"},{"t":"eq","v":"26","vt":"str"},{"t":"eq","v":"28","vt":"str"},{"t":"eq","v":"30","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":710,"y":520,"wires":[["76fdd27b.619bbc"],["8c0cc61d.3880d8","e389a644.bed1c8"],["c79d7d53.08737"],["b4a4a80b.d41a68"]],"outputLabels":["Frente (24)","Subwoofer (26)","Tomtas Tv (28)","Luces Balcon (30)"]},{"id":"c60bccb7.17ebb","type":"ui_switch","z":"ace9ce7f.eca9a","name":"","label":"Comedor","tooltip":"","group":"e49381c5.d5eb6","order":2,"width":"3","height":"1","passthru":false,"decouple":"true","topic":"Arduino/PBTablero/in/Relay/26","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1020,"y":100,"wires":[["aeec4391.c6ee5"]]},{"id":"a05d516b.b438d","type":"ui_switch","z":"ace9ce7f.eca9a","name":"","label":"Distribuidor","tooltip":"","group":"e49381c5.d5eb6","order":1,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"Arduino/PBTablero/in/Relay/28","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1030,"y":140,"wires":[["aeec4391.c6ee5"]]},{"id":"aeec4391.c6ee5","type":"mqtt out","z":"ace9ce7f.eca9a","name":"Relays","topic":"","qos":"","retain":"false","broker":"8f6336fb.599168","x":1330,"y":360,"wires":[],"inputLabels":["kkl"]},{"id":"8c02a9be.953248","type":"ui_switch","z":"ace9ce7f.eca9a","name":"","label":"Escritorio","tooltip":"","group":"f59ba7bd.3cfb78","order":1,"width":"3","height":"1","passthru":false,"decouple":"true","topic":"Arduino/PBTablero/in/Relay/30","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1020,"y":180,"wires":[["aeec4391.c6ee5"]]},{"id":"1b8aead5.d0b9b5","type":"ui_switch","z":"ace9ce7f.eca9a","name":"","label":"Reflector Patio","tooltip":"","group":"735560bc.2fe34","order":2,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"Arduino/PBTablero/in/Relay/32","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1040,"y":220,"wires":[["aeec4391.c6ee5"]]},{"id":"7ced47d7.4db1a8","type":"ui_switch","z":"ace9ce7f.eca9a","name":"","label":"Vestidor","tooltip":"","group":"c232b3de.12c02","order":2,"width":"3","height":"1","passthru":false,"decouple":"true","topic":"Arduino/PBTablero/in/Relay/34","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1020,"y":260,"wires":[["aeec4391.c6ee5"]]},{"id":"d2f0d0.6a09cf3","type":"ui_switch","z":"ace9ce7f.eca9a","name":"","label":"Patio","tooltip":"","group":"735560bc.2fe34","order":1,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"Arduino/PBTablero/in/Relay/36","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1010,"y":300,"wires":[["aeec4391.c6ee5"]]},{"id":"b6423795.453ae8","type":"ui_switch","z":"ace9ce7f.eca9a","name":"","label":"Tomas Escritorio","tooltip":"","group":"f59ba7bd.3cfb78","order":2,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"Arduino/PBTablero/in/Relay/40","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1040,"y":340,"wires":[["aeec4391.c6ee5"]]},{"id":"609745ac.af1bdc","type":"ui_switch","z":"ace9ce7f.eca9a","name":"","label":"Escalera","tooltip":"","group":"e49381c5.d5eb6","order":3,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"Arduino/PBTablero/in/Relay/42","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1020,"y":380,"wires":[["aeec4391.c6ee5"]]},{"id":"e2f98468.7640b8","type":"ui_switch","z":"ace9ce7f.eca9a","name":"","label":"Living","tooltip":"","group":"c232b3de.12c02","order":1,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"Arduino/PBTablero/in/Relay/48","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1010,"y":420,"wires":[["aeec4391.c6ee5"]]},{"id":"8c0cc61d.3880d8","type":"ui_switch","z":"ace9ce7f.eca9a","name":"","label":"Subwoofers","tooltip":"","group":"c232b3de.12c02","order":4,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"Arduino/PBLiving/in/Relay/26","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1030,"y":520,"wires":[["aeec4391.c6ee5"]]},{"id":"c79d7d53.08737","type":"ui_switch","z":"ace9ce7f.eca9a","name":"","label":"Tomas TV","tooltip":"","group":"c232b3de.12c02","order":3,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"Arduino/PBLiving/in/Relay/28","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1020,"y":560,"wires":[["aeec4391.c6ee5"]]},{"id":"76fdd27b.619bbc","type":"ui_switch","z":"ace9ce7f.eca9a","name":"","label":"Frente","tooltip":"","group":"6db4539d.d4318c","order":2,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"Arduino/PBLiving/in/Relay/24","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1010,"y":480,"wires":[["aeec4391.c6ee5"]]},{"id":"b4a4a80b.d41a68","type":"ui_switch","z":"ace9ce7f.eca9a","name":"","label":"Balcon","tooltip":"","group":"6db4539d.d4318c","order":3,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"Arduino/PBLiving/in/Relay/30","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1010,"y":600,"wires":[["aeec4391.c6ee5"]]},{"id":"45dd010f.c257f","type":"mqtt in","z":"ace9ce7f.eca9a","name":"","topic":"Arduino/+/out/Relay/+","qos":"2","broker":"8f6336fb.599168","x":160,"y":340,"wires":[["28fd1359.3d435c"]]},{"id":"553bce27.ccb49","type":"mqtt in","z":"fa5dc61e.1a0528","name":"Celu Chicho","topic":"OpenWrt/+/status/mac-b8-d7-af-b0-e2-9d/event","qos":"2","broker":"8f6336fb.599168","x":150,"y":400,"wires":[["ae264072.ae55b"]]},{"id":"ae264072.ae55b","type":"trigger","z":"fa5dc61e.1a0528","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"10","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":350,"y":400,"wires":[["34639557.831f6a"]]},{"id":"286f5470.f97bcc","type":"mqtt in","z":"fa5dc61e.1a0528","name":"Celu Babu","topic":"OpenWrt/+/status/mac-38-80-df-18-15-ec/event","qos":"2","broker":"8f6336fb.599168","x":140,"y":540,"wires":[["fceadfed.9542f"]]},{"id":"fceadfed.9542f","type":"trigger","z":"fa5dc61e.1a0528","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"10","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":350,"y":540,"wires":[["262d139b.a0eacc"]]},{"id":"34639557.831f6a","type":"switch","z":"fa5dc61e.1a0528","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"new","vt":"str"},{"t":"eq","v":"del","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":420,"wires":[["264e8b39.846fa4"],["c5c5aa32.fc3898"]],"outputLabels":["Conectado","Desconectado"]},{"id":"264e8b39.846fa4","type":"change","z":"fa5dc61e.1a0528","name":"","rules":[{"t":"set","p":"ChichoPresente","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":400,"wires":[["fb40f1b5.43294"]]},{"id":"c5c5aa32.fc3898","type":"change","z":"fa5dc61e.1a0528","name":"","rules":[{"t":"set","p":"ChichoPresente","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":440,"wires":[["fb40f1b5.43294"]]},{"id":"262d139b.a0eacc","type":"switch","z":"fa5dc61e.1a0528","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"new","vt":"str"},{"t":"eq","v":"del","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":540,"wires":[["61f5a7aa.bfd9e8"],["58487e3f.c98b7"]],"outputLabels":["Conectado","Desconectado"]},{"id":"61f5a7aa.bfd9e8","type":"change","z":"fa5dc61e.1a0528","name":"","rules":[{"t":"set","p":"BabuPresente","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":520,"wires":[["fb40f1b5.43294"]]},{"id":"58487e3f.c98b7","type":"change","z":"fa5dc61e.1a0528","name":"","rules":[{"t":"set","p":"BabuPresente","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":560,"wires":[["fb40f1b5.43294"]]},{"id":"fb40f1b5.43294","type":"function","z":"fa5dc61e.1a0528","name":"AlguienPresente","func":"var AlguienPres = (global.BabuPresente || global.ChichoPresente);\nglobal.set(\"AlguienPresente\",AlguienPres);\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":500,"wires":[["59e91cf4.337ce4"]]},{"id":"59e91cf4.337ce4","type":"debug","z":"fa5dc61e.1a0528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1330,"y":500,"wires":[]},{"id":"8c0e1f46.778a7","type":"mqtt out","z":"4f218d0.768a574","name":"","topic":"Arduino/PBTablero/in/Relay/NOISEMILLIS","qos":"","retain":"","broker":"8f6336fb.599168","x":620,"y":460,"wires":[]},{"id":"99e60dd.15ca1f","type":"mqtt in","z":"4f218d0.768a574","name":"","topic":"Arduino/+/out/IP","qos":"2","broker":"8f6336fb.599168","x":220,"y":400,"wires":[[]]},{"id":"f7801948.6bb918","type":"mqtt in","z":"1f940052.9aa5","name":"Compu LasSeen","topic":"LIVING/lastseen/epoch","qos":"2","broker":"8f6336fb.599168","x":120,"y":140,"wires":[["7d27cd8d.8722f4"]]},{"id":"7d27cd8d.8722f4","type":"trigger","z":"1f940052.9aa5","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":330,"y":140,"wires":[["567cb3ba.5fc7ac"]]},{"id":"567cb3ba.5fc7ac","type":"change","z":"1f940052.9aa5","name":"set CompuPrendida","rules":[{"t":"set","p":"CompuPrendida","pt":"global","to":"$boolean(msg.payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":140,"wires":[["93ff8455.b66658","1437b2f.8e6e04d"]]},{"id":"93ff8455.b66658","type":"mqtt out","z":"1f940052.9aa5","name":"Tomas Escritorio (40)","topic":"Arduino/PBTablero/in/Relay/40","qos":"","retain":"","broker":"8f6336fb.599168","x":860,"y":80,"wires":[],"inputLabels":["kkl"]},{"id":"ff9d8a27.823c78","type":"wake on lan","z":"1f940052.9aa5","mac":"E0:D5:5E:47:F3:C1","host":"","name":"PC","x":1190,"y":120,"wires":[]},{"id":"611efb13.b42ac4","type":"ui_button","z":"1f940052.9aa5","name":"","group":"ac7ee4b0.e16098","order":1,"width":"3","height":"1","passthru":false,"label":"Prender","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1040,"y":60,"wires":[["ff9d8a27.823c78"]]},{"id":"410673bf.c9952c","type":"link in","z":"1f940052.9aa5","name":"Apagar PC","links":["f1883637.2eca98"],"x":935,"y":220,"wires":[["db9fd3f7.32f6b"]]},{"id":"db9fd3f7.32f6b","type":"function","z":"1f940052.9aa5","name":"Apagar Compu","func":"msg.payload = \"now\";\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":220,"wires":[["34e29d5d.c1fe32"]]},{"id":"34e29d5d.c1fe32","type":"mqtt out","z":"1f940052.9aa5","name":"","topic":"LIVING/in/shutdown","qos":"","retain":"false","broker":"8f6336fb.599168","x":1220,"y":360,"wires":[]},{"id":"29e8578e.00f4c8","type":"ui_button","z":"1f940052.9aa5","name":"","group":"ac7ee4b0.e16098","order":2,"width":"3","height":"1","passthru":false,"label":"Apagar","tooltip":"","color":"","bgcolor":"","icon":"fa-power-off","payload":"TOGGLE","payloadType":"str","topic":"","x":960,"y":280,"wires":[["db9fd3f7.32f6b"]]},{"id":"1437b2f.8e6e04d","type":"ui_switch","z":"1f940052.9aa5","name":"","label":"Compu","tooltip":"","group":"f59ba7bd.3cfb78","order":3,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":800,"y":140,"wires":[["84d42666.d07908"]]},{"id":"a88f595b.a0e668","type":"change","z":"64d6029c.e4838c","name":"","rules":[{"t":"set","p":"EsDeDia","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":380,"wires":[[]]},{"id":"84d42666.d07908","type":"switch","z":"1f940052.9aa5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":140,"wires":[["ff9d8a27.823c78"],["db9fd3f7.32f6b"]],"outputLabels":["Prendida","Apagada"]},{"id":"ad4c3c92.45e1e","type":"mqtt in","z":"1f940052.9aa5","name":"Compu Apagando ","topic":"LIVING/out/SHUTDOWN","qos":"1","broker":"8f6336fb.599168","x":150,"y":240,"wires":[["facadb14.0d2288"]]},{"id":"facadb14.0d2288","type":"change","z":"1f940052.9aa5","name":"Payload 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":200,"wires":[["567cb3ba.5fc7ac"]]},{"id":"5705231b.ddadfc","type":"mqtt in","z":"1f940052.9aa5","name":"Compu Prendida","topic":"LIVING/out/IP","qos":"1","broker":"8f6336fb.599168","x":140,"y":60,"wires":[["d510b20a.4e033"]]},{"id":"d510b20a.4e033","type":"change","z":"1f940052.9aa5","name":"Payload 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":80,"wires":[["567cb3ba.5fc7ac"]]},{"id":"1f6d6b7e.0f5055","type":"Invert","z":"64d6029c.e4838c","name":"Invert","x":1330,"y":280,"wires":[["a88f595b.a0e668"]]},{"id":"6d271ba3.ce8804","type":"exec","z":"df51f442.d92c08","command":"ps4-waker standby","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Stand By","x":680,"y":120,"wires":[[],[],[]]},{"id":"cabb2156.1db28","type":"exec","z":"df51f442.d92c08","command":"ps4-waker","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Prender","x":660,"y":220,"wires":[[],[],[]]},{"id":"7d21ce14.a3163","type":"link in","z":"df51f442.d92c08","name":"PS4 StandBy","links":["2b6212be.bbb05e","5c1eb982.eb3e88","d42ffd60.843cb"],"x":200,"y":120,"wires":[["6d271ba3.ce8804"]]},{"id":"62a5f8d.fc47e08","type":"link in","z":"df51f442.d92c08","name":"PS4 Prender","links":["d5512660.a02bf8","b7284c22.0ad86","e83353ed.ea3a2"],"x":215,"y":220,"wires":[["cabb2156.1db28"]]},{"id":"9cc2c004.162","type":"ui_button","z":"df51f442.d92c08","name":"","group":"cfc4759c.1b4928","order":2,"width":"3","height":"1","passthru":false,"label":"Apagar","tooltip":"","color":"","bgcolor":"","icon":"fa-power-off","payload":"","payloadType":"str","topic":"","x":340,"y":80,"wires":[["6d271ba3.ce8804"]]},{"id":"fb4d5a1a.fae0e8","type":"ui_button","z":"df51f442.d92c08","name":"","group":"cfc4759c.1b4928","order":1,"width":"3","height":"1","passthru":false,"label":"Prender","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":340,"y":180,"wires":[["cabb2156.1db28"]]},{"id":"c3006629.e17ba8","type":"mqtt out","z":"aab5b00f.1bfb3","name":"","topic":"Arduino/PBTablero/in/IR/RAW","qos":"","retain":"","broker":"8f6336fb.599168","x":1050,"y":360,"wires":[]},{"id":"c7c7a14f.a9fd1","type":"change","z":"36ec037f.d701bc","name":"Power Muteki","rules":[{"t":"set","p":"payload","pt":"msg","to":"49,11,24,11,12,11,24,11,12,11,24,11,12,10,13,11,12,10,13,11,12,10,13,10,25,10,25,11,12,11,12,430","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":180,"wires":[["2f6cf1e8.2b50be"]]},{"id":"24ed527.324a8ae","type":"link in","z":"36ec037f.d701bc","name":"Muteki Apagar","links":["8d08ac4c.e7532","4584644d.b2547c","7c4614cc.edbdac"],"x":435,"y":380,"wires":[["1eb3c9b7.570a66","dd2ccbdb.ba83b8"]]},{"id":"1eb3c9b7.570a66","type":"change","z":"36ec037f.d701bc","name":"Apagar Subwoofers","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":440,"wires":[["af60e570.e56a08"]]},{"id":"af60e570.e56a08","type":"mqtt out","z":"36ec037f.d701bc","name":"Toma SubWoofer (26)","topic":"Arduino/PBLiving/in/Relay/26","qos":"","retain":"false","broker":"8f6336fb.599168","x":900,"y":440,"wires":[],"inputLabels":["kkl"]},{"id":"a7cf3806.d1b498","type":"ui_button","z":"36ec037f.d701bc","name":"","group":"91c2c0a9.9eac9","order":2,"width":"3","height":"1","passthru":false,"label":"PS4","tooltip":"","color":"","bgcolor":"","icon":"","payload":"49,10,25,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,25,10,13,10,25,10,13,11,12,311,49,10,25,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,25,10,13,10,25,10,13,11,12,311,49,10,25,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,25,10,13,10,25,10,13,11,12,311,49,10,25,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,25,10,13,10,25,10,13,11,12,311,49,10,25,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,25,10,13,10,25,10,13,11,12,311","payloadType":"str","topic":"","x":450,"y":100,"wires":[["d1a78b83.74da98"]]},{"id":"627a0.622e28608","type":"ui_button","z":"36ec037f.d701bc","name":"","group":"91c2c0a9.9eac9","order":1,"width":"3","height":"1","passthru":false,"label":"Telecentro","tooltip":"","color":"","bgcolor":"","icon":"","payload":"49,10,13,10,25,10,13,10,13,10,25,10,13,10,13,10,13,10,13,10,13,10,13,10,25,10,13,10,13,11,12,10,25,10,13,10,25,11,12,10,13,310,49,11,12,10,25,10,13,11,12,11,24,11,12,11,13,10,13,10,13,11,12,10,13,10,25,11,12,10,13,10,13,11,24,10,13,10,25,10,13,10,13,311,48,11,12,11,24,11,12,11,12,11,24,11,12,10,12,11,12,10,13,11,12,11,12,10,25,10,13,11,12,11,12,11,24,11,12,10,25,10,13,11,12,49,10,13,10,25,10,13,10,13,10,25,10,13,10,13,10,13,10,13,10,13,10,13,10,25,10,13,10,13,11,12,10,25,10,13,10,25,11,12,10,13,310,49,11,12,10,25,10,13,11,12,11,24,11,12,11,13,10,13,10,13,11,12,10,13,10,25,11,12,10,13,10,13,11,24,10,13,10,25,10,13,10,13,311,48,11,12,11,24,11,12,11,12,11,24,11,12,10,12,11,12,10,13,11,12,11,12,10,25,10,13,11,12,11,12,11,24,11,12,10,25,10,13,11,12","payloadType":"str","topic":"","x":470,"y":200,"wires":[["817df741.976e48"]]},{"id":"b7284c22.0ad86","type":"link out","z":"36ec037f.d701bc","name":"","links":["62a5f8d.fc47e08","e4af47ab.016738"],"x":735,"y":140,"wires":[]},{"id":"c583db8f.9b3b28","type":"mqtt in","z":"38ba3dcd.930ef2","name":"TV Living LasSeen","topic":"OpenWrt/Ping/192.168.2.47/lastseen/epoch","qos":"2","broker":"8f6336fb.599168","x":110,"y":300,"wires":[["60417801.7766f8"]]},{"id":"60417801.7766f8","type":"trigger","z":"38ba3dcd.930ef2","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":280,"y":300,"wires":[["9ba5c87d.32cc48"]]},{"id":"9ba5c87d.32cc48","type":"change","z":"38ba3dcd.930ef2","name":"set TVLivingPrendida","rules":[{"t":"set","p":"TVLivingPrendida","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":300,"wires":[["23a8f3b1.74d33c","9f6c2588.0f9628"]]},{"id":"23a8f3b1.74d33c","type":"ui_switch","z":"38ba3dcd.930ef2","name":"","label":"TV","tooltip":"","group":"c232b3de.12c02","order":5,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":690,"y":300,"wires":[["bf718621.d657f8"]]},{"id":"aaf68e26.4cdd3","type":"ui_button","z":"38ba3dcd.930ef2","name":"","group":"b60e5c9f.35d6e","order":1,"width":0,"height":0,"passthru":false,"label":"Power Tele","tooltip":"","color":"","bgcolor":"","icon":"","payload":"18,15,35,15,17,15,18,15,18,15,18,15,18,15,18,15,18,31,18,15,35,15,18","payloadType":"str","topic":"","x":650,"y":180,"wires":[["bf718621.d657f8"]]},{"id":"54dbb19.21b655","type":"mqtt out","z":"38ba3dcd.930ef2","name":"","topic":"Arduino/PBTablero/in/IR/RAW","qos":"","retain":"","broker":"8f6336fb.599168","x":1170,"y":180,"wires":[]},{"id":"bf718621.d657f8","type":"change","z":"38ba3dcd.930ef2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"18,15,35,15,17,15,18,15,18,15,18,15,18,15,18,15,18,31,18,15,35,15,18","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":240,"wires":[["54dbb19.21b655"]]},{"id":"b3f83413.d4aff8","type":"link in","z":"38ba3dcd.930ef2","name":"Power Tv Living","links":[],"x":695,"y":240,"wires":[["bf718621.d657f8"]]},{"id":"4a3d148e.1f048c","type":"link in","z":"38ba3dcd.930ef2","name":"Apagar Tv Living","links":["e1d17441.b7bec8","449face5.ace8b4","5c1eb982.eb3e88","5f7eb59d.59dd0c"],"x":455,"y":60,"wires":[["ab0a8f2.51f947"]]},{"id":"3823d184.94f7fe","type":"link in","z":"38ba3dcd.930ef2","name":"Prender Tv Living","links":[],"x":455,"y":120,"wires":[["19312258.2b53ae"]]},{"id":"ab0a8f2.51f947","type":"switch","z":"38ba3dcd.930ef2","name":"Prendida?","property":"TVLivingPrendida","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":60,"wires":[["bf718621.d657f8"]],"outputLabels":["Prendida"]},{"id":"19312258.2b53ae","type":"switch","z":"38ba3dcd.930ef2","name":"Apagada?","property":"TVLivingPrendida","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":120,"wires":[["bf718621.d657f8"]],"outputLabels":["Prendida"]},{"id":"38ed19fc.bbf3f6","type":"ui_button","z":"38ba3dcd.930ef2","name":"","group":"2a47a152.a59d3e","order":4,"width":"3","height":"1","passthru":false,"label":"Subir Volumen","tooltip":"","color":"","bgcolor":"","icon":"fa-volume-up","payload":"18,14,36,15,18,15,18,15,18,14,18,15,18,15,18,31,35,15,18,15,18,15,18","payloadType":"str","topic":"","x":940,"y":340,"wires":[["54dbb19.21b655"]]},{"id":"a0963889.1a5ec8","type":"ui_button","z":"38ba3dcd.930ef2","name":"","group":"2a47a152.a59d3e","order":3,"width":"3","height":"1","passthru":false,"label":"Bajar Volumen","tooltip":"","color":"","bgcolor":"","icon":"fa-volume-down","payload":"18,15,35,15,17,15,18,15,18,15,18,15,18,15,18,32,35,15,18,15,18,31,18","payloadType":"str","topic":"","x":940,"y":380,"wires":[["54dbb19.21b655"]]},{"id":"2f6cf1e8.2b50be","type":"mqtt out","z":"36ec037f.d701bc","name":"","topic":"Arduino/PBTablero/in/IR/RAW","qos":"","retain":"","broker":"8f6336fb.599168","x":930,"y":300,"wires":[]},{"id":"d1a78b83.74da98","type":"change","z":"36ec037f.d701bc","name":"PS4","rules":[{"t":"set","p":"payload","pt":"msg","to":"49,10,25,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,25,10,13,10,25,10,13,11,12,311,49,10,25,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,25,10,13,10,25,10,13,11,12,311,49,10,25,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,25,10,13,10,25,10,13,11,12,311,49,10,25,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,25,10,13,10,25,10,13,11,12,311,49,10,25,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,13,10,13,10,13,10,25,10,13,10,13,10,13,10,25,10,13,10,25,10,13,11,12,311","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":140,"wires":[["2f6cf1e8.2b50be","b7284c22.0ad86"]]},{"id":"817df741.976e48","type":"change","z":"36ec037f.d701bc","name":"Telecentro","rules":[{"t":"set","p":"payload","pt":"msg","to":"49,10,13,10,25,10,13,10,13,10,25,10,13,10,13,10,13,10,13,10,13,10,13,10,25,10,13,10,13,11,12,10,25,10,13,10,25,11,12,10,13,310,49,11,12,10,25,10,13,11,12,11,24,11,12,11,13,10,13,10,13,11,12,10,13,10,25,11,12,10,13,10,13,11,24,10,13,10,25,10,13,10,13,311,48,11,12,11,24,11,12,11,12,11,24,11,12,10,12,11,12,10,13,11,12,11,12,10,25,10,13,11,12,11,12,11,24,11,12,10,25,10,13,11,12,49,10,13,10,25,10,13,10,13,10,25,10,13,10,13,10,13,10,13,10,13,10,13,10,25,10,13,10,13,11,12,10,25,10,13,10,25,11,12,10,13,310,49,11,12,10,25,10,13,11,12,11,24,11,12,11,13,10,13,10,13,11,12,10,13,10,25,11,12,10,13,10,13,11,24,10,13,10,25,10,13,10,13,311,48,11,12,11,24,11,12,11,12,11,24,11,12,10,12,11,12,10,13,11,12,11,12,10,25,10,13,11,12,11,12,11,24,11,12,10,25,10,13,11,12","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":240,"wires":[["2f6cf1e8.2b50be"]]},{"id":"f71607a0.c884c8","type":"link in","z":"36ec037f.d701bc","name":"Muteki Telecentro","links":[],"x":435,"y":240,"wires":[["817df741.976e48"]]},{"id":"f6105951.288c38","type":"link in","z":"36ec037f.d701bc","name":"Muteki PS4","links":[],"x":435,"y":140,"wires":[["d1a78b83.74da98"]]},{"id":"c27fc587.30b7c8","type":"link in","z":"36ec037f.d701bc","name":"Muteki Mute","links":[],"x":435,"y":320,"wires":[["4f03568f.1646f8"]]},{"id":"4f03568f.1646f8","type":"change","z":"36ec037f.d701bc","name":"Mute","rules":[{"t":"set","p":"payload","pt":"msg","to":"49,10,13,10,13,10,25,10,13,10,25,10,12,10,13,10,13,10,13,10,13,10,13,10,25,10,25,10,13,10,13,442,49,10,13,10,13,10,25,10,13,10,25,11,12,10,13,10,13,11,12,11,12,10,13,11,24,11,24,11,12,11,12,443,49,10,13,10,13,10,25,11,12,10,25,10,13,10,13,11,12,10,13,10,13,10,13,10,25,10,25,10,13,10,13","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":320,"wires":[["2f6cf1e8.2b50be"]]},{"id":"84d4de44.d57fb","type":"ui_button","z":"36ec037f.d701bc","name":"","group":"91c2c0a9.9eac9","order":7,"width":0,"height":0,"passthru":false,"label":"Mute","tooltip":"","color":"","bgcolor":"","icon":"fa-volume-off","payload":"","payloadType":"str","topic":"","x":450,"y":280,"wires":[["4f03568f.1646f8"]]},{"id":"cc8bc9ce.b34238","type":"ui_button","z":"36ec037f.d701bc","name":"","group":"91c2c0a9.9eac9","order":3,"width":"3","height":"1","passthru":false,"label":"Apagar","tooltip":"","color":"","bgcolor":"","icon":"fa-power-off","payload":"49,11,24,11,12,11,24,11,12,11,24,11,12,10,13,11,12,10,13,11,12,10,13,10,25,10,25,11,12,11,12,430,49,10,25,10,13,10,25,10,13,10,25,10,13,10,13,10,13,10,13,11,12,10,13,10,25,10,25,10,13,10,13,430,49,10,25,11,12,11,24,10,13,11,24,11,12,10,13,11,12,11,12,11,12,11,12,10,25,10,25,11,12,11,12","payloadType":"str","topic":"","x":180,"y":420,"wires":[["8d08ac4c.e7532"]]},{"id":"8d08ac4c.e7532","type":"link out","z":"36ec037f.d701bc","name":"","links":["24ed527.324a8ae"],"x":355,"y":380,"wires":[]},{"id":"afe609f8.025af8","type":"mqtt out","z":"7e6b9b40.d13734","name":"","topic":"Arduino/PBTablero/in/RF315/","qos":"","retain":"","broker":"8f6336fb.599168","x":800,"y":160,"wires":[],"inputLabels":["kkl"]},{"id":"5f80a0a9.a5f8a","type":"trigger","z":"7e6b9b40.d13734","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":560,"y":120,"wires":[["afe609f8.025af8"]]},{"id":"11d807c4.6bd568","type":"link in","z":"7e6b9b40.d13734","name":"Proyector Pantalla Subir","links":["5516103c.a77ac","79c0752a.c69e2c","23801964.bda096"],"x":155,"y":140,"wires":[["56433a30.e131a4"]]},{"id":"56433a30.e131a4","type":"change","z":"7e6b9b40.d13734","name":"Subir","rules":[{"t":"set","p":"payload","pt":"msg","to":"110101100010001010100010","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":140,"wires":[["5f80a0a9.a5f8a"]]},{"id":"fe0f5f73.2a735","type":"link in","z":"7e6b9b40.d13734","name":"Proyector Pantalla Bajar","links":["e1efbdd4.5baf8","f82f3292.24346"],"x":155,"y":100,"wires":[["37af7740.8edd48"]]},{"id":"37af7740.8edd48","type":"change","z":"7e6b9b40.d13734","name":"Bajar","rules":[{"t":"set","p":"payload","pt":"msg","to":"110101100010001010100100","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":100,"wires":[["5f80a0a9.a5f8a"]]},{"id":"48214103.b9f9e","type":"change","z":"7e6b9b40.d13734","name":"Parar","rules":[{"t":"set","p":"payload","pt":"msg","to":"110101100010001010101000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":220,"wires":[["afe609f8.025af8"]]},{"id":"59ed904d.6d45b","type":"link in","z":"7e6b9b40.d13734","name":"Proyector Pantalla Parar","links":[],"x":155,"y":220,"wires":[["48214103.b9f9e"]]},{"id":"2b2cd076.94e6c","type":"ui_button","z":"7e6b9b40.d13734","name":"","group":"4335abb1.a21ba4","order":3,"width":"6","height":"1","passthru":true,"label":"Parar","tooltip":"","color":"","bgcolor":"","icon":"fa-stop","payload":"","payloadType":"str","topic":"","x":190,"y":260,"wires":[["48214103.b9f9e"]]},{"id":"9c823bab.ec1dc8","type":"ui_button","z":"7e6b9b40.d13734","name":"","group":"4335abb1.a21ba4","order":4,"width":"3","height":"1","passthru":false,"label":"Prender","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":400,"wires":[["c602abf7.de5598"]]},{"id":"36a54686.e43d8a","type":"change","z":"7e6b9b40.d13734","name":"Apagar","rules":[{"t":"set","p":"payload","pt":"msg","to":"182,88,12,32,12,32,12,10,12,10,12,9,12,10,12,9,12,32,12,10,12,10,12,32,12,10,12,32,12,32,12,32,12,32,12,10,12,32,12,32,12,32,12,10,12,10,12,32,12,10,12,32,12,10,12,10,12,10,12,32,12,32,12,10,12,32,12","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":520,"wires":[["52cf4f96.a4d3d"]]},{"id":"18be6d66.19cc33","type":"ui_button","z":"7e6b9b40.d13734","name":"","group":"4335abb1.a21ba4","order":7,"width":"3","height":"1","passthru":false,"label":"Menu","tooltip":"","color":"","bgcolor":"","icon":"fa-bars","payload":"182,88,12,32,12,32,12,10,12,10,12,9,12,10,12,9,12,32,12,10,12,10,12,32,12,10,12,32,12,32,12,32,12,32,12,10,12,10,12,10,12,10,12,32,12,32,12,10,12,10,12,32,12,32,12,32,12,32,12,10,12,10,12,32,12,32,12,182,88,12,32,12,32,12,10,12,10,12,9,12,10,12,9,12,32,12,10,12,10,12,32,12,10,12,32,12,32,12,32,12,32,12,10,12,10,12,10,12,10,12,32,12,32,12,10,12,10,12,32,12,32,12,32,12,32,12,10,12,10,12,32,12,32,12","payloadType":"str","topic":"","x":430,"y":700,"wires":[["cee45f1.85b05a"]]},{"id":"808abf5d.a27ca","type":"link in","z":"7e6b9b40.d13734","name":"Proyector Apagar","links":["ee6bc9d.7703638","2c00d3bc.c599ec"],"x":215,"y":520,"wires":[["36a54686.e43d8a"]]},{"id":"52cf4f96.a4d3d","type":"trigger","z":"7e6b9b40.d13734","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"4","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":540,"y":520,"wires":[["cee45f1.85b05a"]]},{"id":"cee45f1.85b05a","type":"mqtt out","z":"7e6b9b40.d13734","name":"","topic":"Arduino/PBTablero/in/IR/RAW","qos":"","retain":"","broker":"8f6336fb.599168","x":830,"y":460,"wires":[]},{"id":"74106030.a4933","type":"link in","z":"7e6b9b40.d13734","name":"Proyector Prender","links":[],"x":215,"y":460,"wires":[["c602abf7.de5598"]]},{"id":"c602abf7.de5598","type":"change","z":"7e6b9b40.d13734","name":"Prender","rules":[{"t":"set","p":"payload","pt":"msg","to":"182,88,12,32,12,32,12,10,12,10,12,9,12,10,12,9,12,32,12,9,12,9,12,32,12,10,12,32,12,32,12,32,12,32,12,32,12,32,12,32,12,32,12,10,12,10,12,32,12,10,12,10,12,10,12,10,12,9,12,32,12,32,12,10,12,32,12","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":460,"wires":[["cee45f1.85b05a"]]},{"id":"e706a05d.dbccf","type":"ui_button","z":"7e6b9b40.d13734","name":"","group":"4335abb1.a21ba4","order":6,"width":"3","height":"1","passthru":false,"label":"Apagar","tooltip":"","color":"","bgcolor":"","icon":"fa-power-off","payload":"181,89,12,32,12,32,12,10,12,10,12,10,12,10,11,10,12,33,12, 9,12,10,12,32,12,10,12,32,12,32,12,33,11,32,12,10,12,32,12,32,12,32,12,10,12,10,12,32,12,10,12,32,12,10,12,10,11,10,12,32,12,32,12,10,12,32,12,783,181,89,12,32,12,32,12,10,12,10,12,10,12,10,11,10,12,33,12, 9,12,10,12,32,12,10,12,32,12,32,12,33,11,32,12,10,12,32,12,32,12,32,12,10,12,10,12,32,12,10,12,32,12,10,12,10,11,10,12,32,12,32,12,10,12,32,12,783","payloadType":"str","topic":"","x":160,"y":580,"wires":[["36a54686.e43d8a"]]},{"id":"d18287.ccb42d78","type":"ui_button","z":"7e6b9b40.d13734","name":"","group":"4335abb1.a21ba4","order":1,"width":"3","height":"1","passthru":true,"label":"Subir","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-up","payload":"","payloadType":"str","topic":"","x":230,"y":180,"wires":[["56433a30.e131a4"]]},{"id":"92a142a5.b8c8d","type":"ui_button","z":"7e6b9b40.d13734","name":"","group":"4335abb1.a21ba4","order":2,"width":"3","height":"1","passthru":true,"label":"Bajar","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-down","payload":"","payloadType":"str","topic":"","x":230,"y":40,"wires":[["37af7740.8edd48"]]},{"id":"2c00d3bc.c599ec","type":"link out","z":"c1843d6f.9a8e4","name":"","links":["5e8f92df.a3fa2c","808abf5d.a27ca"],"x":1175,"y":200,"wires":[]},{"id":"5ad07e76.78d6c","type":"link out","z":"c1843d6f.9a8e4","name":"","links":["5bd95ec9.04b66"],"x":1215,"y":360,"wires":[]},{"id":"b29b2b88.e4df48","type":"link in","z":"c1843d6f.9a8e4","name":"Apagar Todo IR Living","links":["2a9efa5d.688bf6","6dcf29fd.7e33d8"],"x":815,"y":220,"wires":[["396b9d6f.d755f2","5d686442.58bfcc","d42ffd60.843cb","450dad99.4fd2a4","7c4614cc.edbdac"]]},{"id":"396b9d6f.d755f2","type":"delay","z":"c1843d6f.9a8e4","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":240,"wires":[["2c00d3bc.c599ec"]]},{"id":"5d686442.58bfcc","type":"delay","z":"c1843d6f.9a8e4","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":400,"wires":[["5ad07e76.78d6c"]]},{"id":"d42ffd60.843cb","type":"link out","z":"c1843d6f.9a8e4","name":"|","links":["7d21ce14.a3163"],"x":975,"y":160,"wires":[]},{"id":"450dad99.4fd2a4","type":"delay","z":"c1843d6f.9a8e4","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":320,"wires":[["5f7eb59d.59dd0c"]]},{"id":"5f7eb59d.59dd0c","type":"link out","z":"c1843d6f.9a8e4","name":"","links":["49232997.0ad6e8","4a3d148e.1f048c"],"x":1115,"y":420,"wires":[]},{"id":"7c4614cc.edbdac","type":"link out","z":"c1843d6f.9a8e4","name":"","links":["24ed527.324a8ae"],"x":960,"y":100,"wires":[]},{"id":"dd2ccbdb.ba83b8","type":"change","z":"36ec037f.d701bc","name":"Apagar Muteki","rules":[{"t":"set","p":"payload","pt":"msg","to":"48,11,24,11,24,11,24,11,12,11,24,11,24,11,12,11,12,11,12,11,24,11,12,11,12,11,12,11,12,11,12,419,48,11,24,11,24,11,24,11,12,11,24,11,24,11,12,11,12,11,12,11,24,11,12,11,12,11,12,11,12,11,12,419","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":380,"wires":[["2f6cf1e8.2b50be"]]},{"id":"dbb08c02.fbd3c","type":"ui_button","z":"38ba3dcd.930ef2","name":"","group":"2a47a152.a59d3e","order":2,"width":"3","height":"1","passthru":false,"label":"Telecentro","tooltip":"","color":"","bgcolor":"","icon":"fa-power-off","payload":"18,17,18,17,36,34,36,17,18,17,18,17,18,16,19,34,19,16,36,17,18","payloadType":"str","topic":"","x":930,"y":420,"wires":[["54dbb19.21b655"]]},{"id":"230aa10d.72bbbe","type":"ui_button","z":"36ec037f.d701bc","name":"","group":"91c2c0a9.9eac9","order":6,"width":"3","height":"1","passthru":false,"label":"Volumen UP","tooltip":"","color":"","bgcolor":"","icon":"fa-volume-up","payload":"49,10,13,10,25,10,13,10,13,11,24,10,13,10,13,10,13,10,13,11,12,10,13,11,25,11,24,10,13,10,13,442,49,10,13,10,25,10,13,10,13,11,24,10,13,10,13,10,13,10,13,11,12,10,13,11,25,11,24,10,13,10,13,442","payloadType":"str","topic":"","x":1030,"y":100,"wires":[["2f6cf1e8.2b50be"]]},{"id":"75106b9c.0b2ff4","type":"ui_button","z":"36ec037f.d701bc","name":"","group":"91c2c0a9.9eac9","order":5,"width":"3","height":"1","passthru":false,"label":"Volumen Down","tooltip":"","color":"","bgcolor":"","icon":"fa-volume-down","payload":"49,10,25,10,25,10,13,10,13,10,25,10,13,10,13,10,13,10,12,10,13,10,13,10,25,10,25,10,13,10,13,430,49,10,25,10,25,10,13,10,13,10,25,10,13,10,13,10,13,10,12,10,13,10,13,10,25,10,25,10,13,10,13,430","payloadType":"str","topic":"","x":1060,"y":160,"wires":[["2f6cf1e8.2b50be"]]},{"id":"57fa97dd.9f65f8","type":"ui_button","z":"aab5b00f.1bfb3","name":"","group":"b60e5c9f.35d6e","order":1,"width":0,"height":0,"passthru":false,"label":"Vent Super Bajo","tooltip":"","color":"","bgcolor":"","icon":"","payload":"88,87,11,31,11,10,11,32,11,31,11,10,11,10,11,31,11,10,11,10,11,32,11,10,11,10,11,31,11,32,11,10,11,31,12,32,11,10,11,32,11,32,11,31,11,31,11,32,11,31,11,10,11,32,11,9,12,10,11,10,11,10,11,10,11,10,11,32,11,32,11,32,11,10,11,10,11,32,11,10,11,10,11,10,11,10,11,10,11,32,11,31,12,10,11,31,11,31,11,104,89,86,11,32,11,9,12,32,11,31,11,10,11,10,11,31,11,10,11,10,11,32,11,10,11,10,11,32,11,32,11,10,11,31,12,31,12,10,11,32,11,31,11,31,11,31,11,31,11,31,12,10,11,31,11,10,11,10,11,10,11,10,11,10,11,10,11,31,12,31,11,32,11,10,11,10,11,31,12,10,11,10,12,10,11,10,11,10,11,31,11,31,11,10,11,31,11,32,11","payloadType":"str","topic":"","x":640,"y":220,"wires":[["c3006629.e17ba8"]]},{"id":"8a7e41f2.33d28","type":"ui_slider","z":"aab5b00f.1bfb3","name":"","label":"Ventilador","tooltip":"","group":"16c05e28.a18e52","order":8,"width":"4","height":"1","passthru":true,"outs":"end","topic":"","min":"1","max":"3","step":1,"x":360,"y":920,"wires":[["6509a85a.918e08"]]},{"id":"24bd96f.67f776a","type":"ui_switch","z":"aab5b00f.1bfb3","name":"","label":"Frio","tooltip":"","group":"16c05e28.a18e52","order":7,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":370,"y":840,"wires":[["a5410f83.1d745"]]},{"id":"d77bc239.4608d","type":"ui_switch","z":"aab5b00f.1bfb3","name":"","label":"Prendido","tooltip":"","group":"16c05e28.a18e52","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":280,"y":560,"wires":[["ee7755a5.395f28"]]},{"id":"a5410f83.1d745","type":"change","z":"aab5b00f.1bfb3","name":"","rules":[{"t":"set","p":"AACLivingFrio","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":840,"wires":[["d281b939.f75838"]]},{"id":"6509a85a.918e08","type":"change","z":"aab5b00f.1bfb3","name":"","rules":[{"t":"set","p":"AACLivingVentilador","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":920,"wires":[["d281b939.f75838"]]},{"id":"d281b939.f75838","type":"function","z":"aab5b00f.1bfb3","name":"","func":"if (global.get(\"AACLivingPrendido\") === false) {\n    return; \n}\nvar Frio = global.get(\"AACLivingFrio\");\n\n//msg.payload = global.AACLivingVentilador.Value;\nswitch(global.get(\"AACLivingVentilador\")) {\n  case 1:\n      if (Frio === true)\n      {msg.payload = \"88,87,11,31,11,10,11,32,11,31,11,10,11,10,11,32,11,10,11,10,11,32,11,10,11,10,11,32,11,32,11,10,11,31,12,10,11,32,11,32,11,31,11,32,11,10,11,32,11,31,12,31,11,10,11,10,11,10,11,10,11,31,11,10,11,10,11,31,11,32,11,32,11,10,11,10,11,9,12,10,11,10,11,10,11,10,11,10,11,32,11,31,11,32,11,32,11,32,11,103,88,86,11,32,11,10,11,32,11,32,11,10,11,10,11,32,11,10,11,10,11,32,11,10,11,10,11,32,11,32,11,10,11,32,11,10,11,32,11,32,11,31,12,32,11,10,11,32,11,31,12,32,11,10,11,10,11,10,11,10,11,32,11,10,11,10,11,31,11,32,11,32,11,10,11,10,11,9,11,10,11,10,12,10,11,10,11,10,11,32,11,32,11,32,11,32,11,31,12\";}\n      else\n      {msg.payload = \"88,87,11,31,11,10,11,32,11,32,11,10,11,10,11,32,11,10,11,10,11,32,11,10,11,10,11,31,11,32,11,10,11,32,11,32,11,10,11,10,11,31,11,31,11,32,11,31,12,32,11,10,11,31,11,30,12,10,11,10,11,10,11,10,11,10,11,31,12,32,11,32,11,10,11,10,11,31,11,10,11,10,11,10,11,10,11,10,11,32,11,32,11,10,11,32,11,32,11,103,89,87,11,31,12,10,11,32,11,32,11,10,11,10,11,31,11,10,11,10,11,32,11,10,11,10,11,31,12,31,11,10,11,32,11,32,11,10,11,10,11,31,11,31,11,31,11,31,11,31,11,10,11,31,11,31,11,10,11,10,11,10,11,10,11,9,12,32,11,31,11,32,11,10,11,10,11,31,11,10,11,10,11,10,11,10,11,10,11,32,11,31,11,10,11,32,11,31,12\";}\n    break;\n  case 2:\n      if (Frio === true)\n      {msg.payload = \"88,86,11,31,11,10,11,32,11,32,11,10,11,10,11,32,11,10,11,10,11,32,11,10,11,10,11,31,11,32,11,10,11,32,11,10,11,32,11,10,11,32,11,32,11,32,11,32,11,32,11,31,11,10,11,31,11,10,11,10,11,10,11,10,11,10,11,10,11,31,11,10,11,10,11,10,11,10,11,9,12,10,11,31,11,10,11,31,11,32,11,32,11,32,11,32,11,31,11,103,88,86,11,32,11,10,11,32,11,32,11,10,11,10,11,32,11,10,11,10,11,32,11,10,11,10,11,31,11,31,12,10,11,32,11,10,11,31,11,10,11,32,11,32,11,32,11,32,11,32,11,31,11,10,11,32,11,10,11,10,11,10,11,10,11,10,11,9,11,32,11,10,11,10,11,10,11,10,11,10,11,10,11,32,11,10,11,32,11,32,11,32,11,32,11,32,11,32,11\";}\n      else\n      {msg.payload = \"87,87,11,32,11,10,11,31,12,32,11,10,11,10,11,32,11,10,11,10,11,31,12,10,11,10,11,32,11,32,11,10,11,32,11,10,11,31,11,10,11,32,11,32,11,31,11,31,11,32,11,32,11,10,11,32,11,10,11,10,11,10,11,10,11,10,11,32,11,32,11,32,11,10,11,10,11,32,11,10,11,10,11,10,11,9,12,10,11,32,11,32,11,10,11,31,12,32,11,104,89,87,11,32,11,10,11,32,11,32,11,10,11,9,12,32,11,10,11,10,11,32,11,10,11,10,11,32,11,32,11,10,11,32,11,9,11,32,11,10,11,31,12,31,11,31,11,32,11,32,11,32,11,9,12,32,11,9,12,10,11,10,11,10,11,10,11,32,11,32,11,32,11,10,11,10,11,32,11,10,11,10,11,10,11,10,11,10,11,31,11,32,11,10,11,32,11,32,11,\";}\n    break;\n  case 3:\n      if (Frio === true)\n      {msg.payload = \"88,87,11,32,11,10,11,32,11,32,11,10,11,10,11,32,11,10,11,10,11,32,11,10,11,10,11,32,11,32,11,10,11,32,11,10,11,10,11,32,11,32,11,32,11,32,11,32,11,32,11,31,11,32,11,10,11,10,11,10,11,10,11,10,11,10,11,10,11,32,11,10,11,10,11,10,11,10,11,10,11,10,11,31,11,10,11,32,11,31,11,32,11,32,11,32,11,31,12,103,88,86,11,32,11,10,11,32,11,32,11,10,11,10,11,32,11,10,11,10,11,32,11,10,11,10,11,32,11,32,11,10,11,32,11,10,11,10,11,32,11,32,11,32,11,31,11,32,11,32,11,32,11,32,11,10,11,10,11,9,12,10,11,10,11,10,11,10,11,32,11,10,11,10,11,10,11,9,11,10,11,10,12,32,11,10,11,32,11,32,11,32,11,32,11,32,11,32,11,\";}\n      else\n      {msg.payload = \"88,87,11,31,11,10,11,32,11,31,11,10,11,10,11,32,11,10,11,10,11,32,11,10,11,9,12,31,12,31,11,10,11,31,12,10,11,10,11,32,11,32,11,31,11,31,11,31,11,32,11,32,11,32,11,9,12,9,12,10,11,10,11,10,11,10,11,32,11,31,11,31,12,10,11,10,11,31,11,10,11,10,11,10,11,9,11,10,11,31,12,31,11,10,11,32,11,32,11,104,89,86,11,31,11,10,11,32,11,32,11,9,12,9,12,31,11,10,11,10,11,32,11,10,11,10,11,32,11,32,11,9,12,31,11,9,12,10,11,32,11,32,11,32,11,32,11,32,11,31,12,31,11,31,12,9,12,10,11,10,11,10,11,10,11,10,11,32,11,31,11,32,11,10,11,9,11,32,11,10,11,10,11,10,11,10,11,10,11,32,11,31,11,10,11,32,11,32,11\";}\n    break;\n  default:\n    // code block\n}\n    return msg;","outputs":1,"noerr":0,"x":850,"y":760,"wires":[["c3006629.e17ba8"]]},{"id":"ee7755a5.395f28","type":"change","z":"aab5b00f.1bfb3","name":"","rules":[{"t":"set","p":"AACLivingPrendido","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":620,"wires":[["3cbed290.af8dde"]]},{"id":"3cbed290.af8dde","type":"switch","z":"aab5b00f.1bfb3","name":"Prendido","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":600,"wires":[["fd6ae923.d76348"],["d281b939.f75838"]]},{"id":"c6ce21f8.b94ab","type":"ui_template","z":"36ec037f.d701bc","group":"91c2c0a9.9eac9","name":"Subir Volumen","order":9,"width":"3","height":"1","format":"<script>\nthis.scope.on = {payload: \"49,10,13,10,25,10,13,10,13,11,24,10,13,10,13,10,13,10,13,11,12,10,13,11,25,11,24,10,13,10,13,442,49,10,13,10,25,10,13,10,13,11,24,10,13,10,13,10,13,10,13,11,12,10,13,11,25,11,24,10,13,10,13,442\"};\nthis.scope.off = {payload: 0};\n</script>\n<md-button\n   ng-touchstart=\"send(on)\"\n   ng-mousedown=\"send(on)\"\n   ng-touchend=\"send(off)\"\n   ng-mouseup=\"send(off)\">\n       Subir Volumen\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":120,"y":540,"wires":[["7d9d5a06.df9ae4"]]},{"id":"4d474ba0.385684","type":"ui_template","z":"36ec037f.d701bc","group":"6db4539d.d4318c","name":"","order":4,"width":0,"height":0,"format":"<style>\n.nr-dashboard-template\n{\n    padding: 0px 0px    \n}\n.md-button{\n    height: 48px;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":100,"y":340,"wires":[[]]},{"id":"7d9d5a06.df9ae4","type":"trigger","z":"36ec037f.d701bc","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-500","extend":false,"units":"ms","reset":"0","bytopic":"all","name":"","x":420,"y":520,"wires":[["2f6cf1e8.2b50be"]]},{"id":"358a9952.b87eb6","type":"ui_template","z":"36ec037f.d701bc","group":"91c2c0a9.9eac9","name":"Bajar Volumen","order":8,"width":"3","height":"1","format":"<script>\nthis.scope.on = {payload: \"49,10,25,10,25,10,13,10,13,10,25,10,13,10,13,10,13,10,12,10,13,10,13,10,25,10,25,10,13,10,13,430,49,10,25,10,25,10,13,10,13,10,25,10,13,10,13,10,13,10,12,10,13,10,13,10,25,10,25,10,13,10,13,430\"};\nthis.scope.off = {payload: 0};\n</script>\n<md-button\n   ng-touchstart=\"send(on)\"\n   ng-mousedown=\"send(on)\"\n   ng-touchend=\"send(off)\"\n   ng-mouseup=\"send(off)\">\n       Subir Volumen\n</md-button>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":120,"y":500,"wires":[["7d9d5a06.df9ae4"]]},{"id":"803aa395.7454","type":"ui_button","z":"7e6b9b40.d13734","name":"","group":"4335abb1.a21ba4","order":6,"width":"3","height":"1","passthru":false,"label":"Mute","tooltip":"","color":"","bgcolor":"","icon":"fa-volume-off","payload":"182,88,12,32,12,32,12,10,12,10,12,9,12,10,12,9,12,32,12,10,12,10,12,32,12,10,12,32,12,32,12,32,12,32,12,10,12,32,12,32,12,32,12,10,12,10,12,32,12,10,12,32,12,10,12,10,12,10,12,32,12,32,12,10,12,32,12, 9,12,10,12,32,12,10,12,32,12,32,12,33,11,32,12,10,12,32,12,32,12,32,12,10,12,10,12,32,12,10,12,32,12,10,12,10,11,10,12,32,12,32,12,10,12,32,12,783,181,89,12,32,12,32,12,10,12,10,12,10,12,10,11,10,12,33,12, 9,12,10,12,32,12,10,12,32,12,32,12,33,11,32,12,10,12,32,12,32,12,32,12,10,12,10,12,32,12,10,12,32,12,10,12,10,11,10,12,32,12,32,12,10,12,32,12,783","payloadType":"str","topic":"","x":270,"y":700,"wires":[["cee45f1.85b05a"]]},{"id":"e389a644.bed1c8","type":"ui_switch","z":"ace9ce7f.eca9a","name":"","label":"Subwoofers","tooltip":"","group":"91c2c0a9.9eac9","order":4,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"Arduino/PBLiving/in/Relay/26","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":1230,"y":520,"wires":[["aeec4391.c6ee5"]]},{"id":"ceab57ff.f197e8","type":"ui_button","z":"aab5b00f.1bfb3","name":"","group":"16c05e28.a18e52","order":5,"width":0,"height":0,"passthru":false,"label":"Apagar","tooltip":"","color":"","bgcolor":"","icon":"fa-power-off","payload":"89,86,11,31,11,10,11,32,11,32,11,10,11,10,11,31,11,10,12,10,11,32,11,10,11,10,11,31,11,32,11,10,11,32,11,10,11,31,12,32,11,31,11,32,11,10,11,32,11,32,11,31,11,10,11,10,11,10,11,10,11,32,11,10,11,10,11,31,11,32,11,31,11,10,11,10,11,10,11,10,11,10,11,10,11,10,11,10,11,31,11,32,11,32,11,32,11,32,12,103,89,86,11,32,11,10,11,32,11,32,11,10,11,10,11,32,11,10,11,10,11,31,11,10,11,10,11,32,11,32,11,10,11,32,11,10,11,32,11,32,11,32,11,32,11,10,11,32,11,32,11,31,11,10,11,10,11,10,11,10,11,32,11,10,11,10,11,31,11,32,11,32,11,10,11,10,11,10,11,10,11,10,11,10,11,10,11,10,11,32,11,32,11,32,11,32,11,32,11","payloadType":"str","topic":"","x":620,"y":160,"wires":[["c3006629.e17ba8"]]},{"id":"9f6c2588.0f9628","type":"ui_switch","z":"38ba3dcd.930ef2","name":"","label":"TV","tooltip":"","group":"2a47a152.a59d3e","order":1,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":690,"y":340,"wires":[["bf718621.d657f8"]]},{"id":"aee74651.d04648","type":"mqtt out","z":"b930b7cc.0cc268","name":"Luz Patio (36)","topic":"Arduino/PBTablero/in/Relay/36","qos":"","retain":"false","broker":"8f6336fb.599168","x":1000,"y":440,"wires":[],"inputLabels":["kkl"]}]